{% extends 'base.html' %}
{% load static %}
{% block linktag %}<link rel="stylesheet" href="{% static "pages/css/home_style.css" %}">{% endblock linktag %}
{% block title %}Log In{% endblock title %}

{% block navbar-li %}
<li>
    <a href="/accounts/signup">Sign Up</a>
</li>
<li>
    <a href="/accounts/login">Login</a>
 </li>
{% endblock navbar-li %}

{% block side-navbar-li %}
<li>
    <a href="/accounts/signup">Sign Up</a>
</li>
<li>
    <a href="/accounts/login">Login</a>
</li>
{% endblock side-navbar-li %}

{% block content %}
<div class="container login-logout-container white z-depth-2">
    <div class="form-container">
        <h2>Log In</h2>
        <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary blue">Log In</button>
        </form>
    </div>
</div>
{% endblock content %}	
