{% extends 'base.html' %}
{% load static %}
{% block linktag %}<link rel="stylesheet" href="{% static "pages/css/home_style.css" %}">{% endblock linktag %}
{% block title %}Change Password{% endblock title %}
{% block content %}
<div class="container login-logout-container white z-depth-2">
    <div class="form-container">
        <center><h4>Change Password</h4></center>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <center><button type="submit" class="btn btn-primary blue">Change Password</button></center>
        </form>
    </div>
  
{% endblock content %}
</div>
