{% extends 'base.html' %}
{% load static %}
{% block linktag %}<link rel="stylesheet" href="{% static "pages/css/home_style.css" %}">{% endblock linktag %}
{% block title %}Sign Up{% endblock title %}
{% block navbar-li %}
<li>
    <a href="/accounts/signup">Sign Up</a>
</li>
<li>
    <a href="/accounts/login">Login</a>
 </li>
{% endblock navbar-li %}

{% block side-navbar-li %}
<li>
    <a href="/accounts/signup">Sign Up</a>
</li>
<li>
    <a href="/accounts/login">Login</a>
</li>
{% endblock side-navbar-li %}

{% block content %}
<div class="container">
    <div class="container login-logout-container white z-depth-2"> 
        <div class="form-container">
            <h2>Sign Up</h2>
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="btn btn-primary blue" >Sign Up</button>
            </form>
        </div>
      </div>
<br>
<br>
<br>
</div>
{% endblock content %}

{% block script_tag %}
<script>
  $(document).ready(function () {
    // Init gender autocomplete
    $('.gender-autocomplete').autocomplete({
        data: {
          "Female": null,
          "Male": null,
        },
        limit: 20,
        minLength: 0
      });

    // Init department autocomplete
    $('.department-autocomplete').autocomplete({
        data: {
          "ATS": null,
          "CNS": null,
          "GSD": null,
          "SAFETY": null,
          "TSD": null,
          "Other": null,
        },
        limit: 20,
        minLength: 0
      });

    // Init job title autocomplete
    $('.job-title-autocomplete').autocomplete({
        data: {
          "ATS Manager": null,
          "CNS Chief Engineer": null,
          "CNS Supervisor": null,
          "CNS Engineer": null,
          "CNS Technician": null,
          "CNS Helper": null,
          "Other": null,
        },
        limit: 20,
        minLength: 0
      });
});
</script>
{% endblock script_tag %}