{% extends 'cns_base.html' %}
{% load static %}
{% block title %} All Trainees {% endblock title %}

{% block linktag %}
<link rel="stylesheet" type="text/css" href="{% static "pages/css/mso.css" %}"> {% endblock linktag %}


{% block content %}
<div class="container">
    <!-- BORDERED, HIGHTLIGHTED & RESPONSIVE TABLE -->
    <table class="bordered highlight responsive-table">
        <thead>
            <tr>
                <th>ID Number</th>
                <th>Name</th>
                <th>Email</th>
                <th>Enrolled Course</th>
            </tr>
        </thead>
        <tbody>
            {% for trainee in trainees %}
            <tr>
                <th>
                    {{ trainee.enrolled_on.year }}{{ trainee.pk }}
                </th>
                <th class="left">
                    <a href="/training_center/trainee/{{ trainee.id }}">
                        <div class="chip">
                            <img src="{{trainee.passport_size_photo.url}}" alt="">
                            {{ trainee.first_name|title }} {{ trainee.last_name|title }}
                        </div>
                    </a>
                </th>

                <th><a href="/training_center/trainee/{{ trainee.id }}">{{ trainee.email }}</a></th>
                <th><a href="/training_center/trainee/{{ trainee.id }}">{{ trainee.course_details|title }}</a></th>
                <th><a href="/training_center/trainee/{{ trainee.id }}/edit" class="green-text tooltipped"
                        data-position="center" data-tooltip="Update {{ trainee.first_name|title }}'s Details"><i class="material-icons right">edit</i></a>
                </th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
    <div class="pagination">
        <span class="step-links">
            {% if trainees.has_previous %}
            <li class="waves-effect material-icons large">
                <a href="?page={{ trainees.previous_page_number }}">
                    <i class="material-icons large">chevron_left</i>
                </a>
            </li>
            {% endif %}

            <span class="current">
                Page {{ trainees.number }} of {{ trainees.paginator.num_pages }}.
            </span>

            {% if trainees.has_next %}

            <li class="waves-effect">
                <a href="?page={{ trainees.next_page_number }}">
                    <i class="material-icons large">chevron_right</i>
                </a>
            </li>
            {% endif %}
        </span>
    </div>
    <br>
    <br>

    {% if job_title == 'Head of Training' or department == 'Admin' %}
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large blue tooltipped" data-tooltip="Enroll New Trainee" href="/training_center/trainee/new"
            data-position="left">
            <i class="large material-icons" id="fab_ico">add</i>
        </a>
    </div>
    {% endif %}
</div>
{% endblock content %}


{% block script_tag %}
<script src="{% static "pages/js/mso.js" %}" type="text/javascript"></script>
{% if msg != '' %}
<script>
    Materialize.toast('{{ msg }}', 8000, 'rounded');
</script>
{% endif %}
<script>
    $(document).ready(function () {
        $('.modal').modal({
            dismissible: true,
            inDuration: 300,
            outDuration: 200
        });
        $('.tooltipped').tooltip();
    });
</script>

{% endblock script_tag %}