{% extends 'cns_base.html' %}
{% load static %}
{% block title %} View Attendance {% endblock title %}

{% block linktag %}
<link rel="stylesheet" type="text/css" href="{% static "pages/css/mso.css" %}"> {% endblock linktag %}


{% block content %}
<div class="container">
    <h3 class="center">GRADES</h3>
    <h5>
        <span><strong>Batch: </strong> {{batch_name}}</span>
    </h5>
    <!-- BORDERED, HIGHTLIGHTED & RESPONSIVE TABLE -->
    <table class="bordered highlight responsive-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>ID Number</th>
                <th class="right">Overall Grade</th>
            </tr>
        </thead>
        <tbody>
            {% for id_num, trainee_details in filtered_trainees.items %}
            <div>
                <tr>
                    <th class="left">
                        <a href="/training_center/grade/{{ trainee_details.pk }}/">
                            <div class="chip">
                                <img src="{{trainee_details.psp_url}}" alt="">
                                {{ trainee_details.first_name|title }}
                                {{ trainee_details.last_name|title }}
                            </div>
                        </a>
                    </th>

                    <th>
                        <a href="/training_center/grade/{{ trainee_details.pk }}/">
                            {{ id_num }}
                        </a>
                    </th>
                    <th class="right">
                        <a href="/training_center/grade/{{ trainee_details.pk }}/">
                            {{ trainee_details.grade }}%
                        </a>
                    </th>
                </tr>
            </div>
            {% endfor %}
        </tbody>
    </table>
<br>
<br>
<br>
<br>
</div>
{% endblock content %}

{% block script_tag %}
<script src="{% static "pages/js/mso.js" %}" type="text/javascript"></script>
{% if msg %}
<script>
    Materialize.toast('{{ msg }}', 8000, 'rounded');
</script>
{% endif %}
{% endblock script_tag %}
