{% extends 'cns_base.html' %}
{% load static %}
{% block title %} All Trainees {% endblock title %}

{% block linktag %}
<link rel="stylesheet" type="text/css" href="{% static "pages/css/mso.css" %}"> {% endblock linktag %}


{% block content %}
<div class="container">
    <!-- BORDERED, HIGHTLIGHTED & RESPONSIVE TABLE -->
    <table class="bordered highlight responsive-table">
        <thead>
            <tr>
                <th>ID Number</th>
                <th>Name</th>
                <th>Batch</th>
                <th>Course</th>
                <th class="left">Application Status</th>
            </tr>
        </thead>
        <tbody>
            {% for trainee in trainees %}
            <tr>
                <th>
                    {{ trainee.enrolled_on.year }}{{ trainee.pk }}
                </th>

                <th class="left">
                    <a href="/training_center/trainee/{{ trainee.id }}">
                        <div class="chip" style="margin-top: 25px;">
                                <img src="{{trainee.passport_size_photo.url}}" alt="">{{ trainee.first_name|title }} {{ trainee.last_name|title }}
                        </div>
                    </a>
                </th>
                <th>
                    <div class="input-field">
                        <i class="material-icons prefix">library_books</i>
                        <select name="class" id="{{ trainee.id }}_batch">
                            <option value="" disabled selected>Select Batch</option>
                            {% for i in batches %}
                            <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                        <label>Batch</label>
                    </div>
                </th>
                <th><a href="/training_center/trainee/{{ trainee.id }}">{{ trainee.course_details|title }}</a></th>
                {% if trainee.approval == 'Accepted'  %}
                <th class="left"><div class="chip green"><span id="{{ trainee.id }}_chip">Accepted</span></div></th>
                {% elif trainee.approval == 'Rejected' %}
                <th class="left"><div class="chip red"><span id="{{ trainee.id }}_chip">Rejected</span></div></th>
                {% else %}
                <th class="left"><div class="chip"><span id="{{ trainee.id }}_chip">Pending</span></div></th>
                {% endif %}
                <th><a onclick="approve('{{ trainee.id }}')" id="approve" class="green-text tooltipped" data-position="right" data-tooltip="Accept {{ trainee.first_name|title }}'s Application"><i class="material-icons right">check</i></a></th>
                <th><a onclick="reject('{{ trainee.id }}')" id="reject" class="red-text tooltipped" data-position="right" data-tooltip="Reject {{ trainee.first_name|title }}'s Application"><i class="material-icons right">close</i></a></th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
    <div class="pagination">
        <span class="step-links">
            {% if trainees.has_previous %}
            <li class="waves-effect material-icons large">
                <a href="?page={{ trainees.previous_page_number }}">
                    <i class="material-icons large">chevron_left</i>
                </a>
            </li>
            {% endif %}

            <span class="current">
                Page {{ trainees.number }} of {{ trainees.paginator.num_pages }}.
            </span>

            {% if trainees.has_next %}

            <li class="waves-effect">
                <a href="?page={{ trainees.next_page_number }}">
                    <i class="material-icons large">chevron_right</i>
                </a>
            </li>
            {% endif %}
        </span>
    </div>
    <br>
    <br>
</div>
{% endblock content %}


{% block script_tag %}
<script src="{% static "pages/js/mso.js" %}" type="text/javascript"></script>
{% if msg != '' %}
<script>
    Materialize.toast('{{ msg }}', 8000, 'rounded');
</script>
{% endif %}
<script>
    $(document).ready(function () {
        $('.modal').modal({
            dismissible: true,
            inDuration: 300,
            outDuration: 200
        });
        $('.tooltipped').tooltip();
    });
</script>

<script>
    function approve(pk) {
        var batch_val = $('#' + pk + '_batch option:selected').text()
        console.log(batch_val)
        if(batch_val == 'Select Batch'){
            Materialize.toast('Select Batch', 5000, 'rounded');
        }
        else {
            $('#' + pk +'_chip').text('Accepted')
            $('#' + pk +'_chip').parent( ".chip" ).addClass('green').removeClass('red')
            var url = 'http://127.0.0.1:8000/training_center/trainee/approve_application/' + pk + '/' + batch_val + '/'
            $.get(url, function(data, status){
                Materialize.toast(data, 8000, 'rounded');
            });
        }
    }

    function reject(pk) {
        $('#' + pk +'_chip').text('Rejected')
        $('#' + pk +'_chip').parent( ".chip" ).addClass('red').removeClass('green')
        var url = 'http://127.0.0.1:8000/training_center/trainee/reject_application/' + pk + '/'
        $.get(url, function(data, status){
            Materialize.toast(data, 8000, 'rounded');
        });
    }

</script>
{% endblock script_tag %}