{% extends 'cns_base.html' %}
{% load static %}
{% block title %} Certificate {% endblock title %}

{% block linktag %}
<link rel="stylesheet" type="text/css" href="{% static "pages/css/mso.css" %}"> {% endblock linktag %}


{% block content %}
<div class="container">
    <!-- <h4 class="center">Certificate</h4> -->
        <!-- BORDERED, HIGHTLIGHTED & RESPONSIVE TABLE -->
        <br>
        <h4 class="center">Select Trainee</h4>
        <!-- Search Bar -->
        <section style="margin-left:30px;">
            <div class="row">
                <div class="col s12">
                    <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">search</i>
                        <input type="text" id="search-bar" class="autocomplete">
                        <label for="search-bar">Search Trainee Here</label>
                    </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- List of Trainees Table -->
        <section style="margin-right: 20px;">
                <table class="bordered highlight responsive-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th class="center">ID Number</th>
                                <th class="center">Attendance</th>
                                <th class="center">Grade</th>
                                <th class="right">Print</th>
                            </tr>
                        </thead>
                        <tbody>
                                {% for key, trainee in formated_data.items %}
                                <tr>
                                    <th class="left">
                                        <a href="/training_center/certificate/{{key}}">
                                            <div class="chip">
                                                <img src="{{trainee.p_photo_url}}" alt="">
                                                {{ trainee.name|title }}
                                            </div>
                                        </a>
                                    </th>
                                    <th class="center">
                                        <a href="/training_center/certificate/{{key}}">
                                            {{ trainee.id_num }}
                                        </a>
                                    </th>
                    
                                    <th class="center"><a href="/training_center/certificate/{{key}}">{{trainee.overall_att}}%</a></th>
                                    <th class="center"><a href="/training_center/certificate/{{key}}">{{trainee.overall_grade}}%</a></th>
                                    <th><a href="/training_center/certificate/{{key}}" class="black-text">
                                            <i class="material-icons right">local_printshop</i></a>
                                    </th>
                                </tr>
                                {% endfor %}
                            
                        </tbody>
                    </table>
        </section>
        <br>
        <br>

        <br>
        <br>
</div>
{% endblock content %}


{% block script_tag %}
<script src="{% static "pages/js/mso.js" %}" type="text/javascript"></script>
{% if msg != '' %}
<script>
    Materialize.toast('{{ msg }}', 8000, 'rounded');
</script>
{% endif %}
<script>
    $(document).ready(function () {
        $('.modal').modal({
            dismissible: true,
            inDuration: 300,
            outDuration: 200
        });

        function getId(val){
            sliced = val.split(' ')[0]
            if(sliced[4] == '0'){
                return sliced.slice(5,)
            } else {
                return sliced.slice(4,)
            }
        }

        function sendItem(val) {
            var url = "http://46.101.144.34:8000/training_center/certificate/"
            window.open(url + getId(val) + '/',"_self")
        }

        data = {}
        {% for key, trainee in formated_data.items %}
        name = "{{ trainee.id_num }} - {{ trainee.name|title }}"
        p_pict = "{{trainee.p_photo_url}}"
        data[name] = p_pict,
        {% endfor %}
        $('input.autocomplete').autocomplete({
            data,
            onAutocomplete: function(txt) {
            sendItem(txt);
            },
            limit: 10,
        });
    });
</script>
{% endblock script_tag %}