{% extends 'cns_base.html' %}
{% load static %}
{% block title %} Certificate {{pk}} {% endblock title %}

{% block linktag %}
<link rel="stylesheet" type="text/css" href="{% static "pages/css/mso.css" %}"> {% endblock linktag %}


{% block content %}
<div class="container">
    <!-- <h4 class="center">Certificate</h4> -->
        <!-- BORDERED, HIGHTLIGHTED & RESPONSIVE TABLE -->
        <br>
</div>
{% endblock content %}


{% block script_tag %}
<script src="{% static "pages/js/mso.js" %}" type="text/javascript"></script>
{% if msg != '' %}
<script>
    Materialize.toast('{{ msg }}', 8000, 'rounded');
</script>
{% endif %}
<script>
    $(document).ready(function () {
        $('.modal').modal({
            dismissible: true,
            inDuration: 300,
            outDuration: 200
        });
    });
</script>
{% endblock script_tag %}