{% extends 'cns_base.html' %}
{% load static %}
{% block title %} Certificate {% endblock title %}

{% block linktag %}
<link rel="stylesheet" type="text/css" href="{% static "pages/css/mso.css" %}"> {% endblock linktag %}


{% block content %}
<div class="container">
    <!-- <h4 class="center">Certificate</h4> -->
        <!-- BORDERED, HIGHTLIGHTED & RESPONSIVE TABLE -->
        <br>
        <!-- Search Bar -->
        <section style="margin-left:30px;">
            <div class="row">
                <div class="col s12">
                    <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">search</i>
                        <input type="text" id="search-bar" class="autocomplete">
                        <label for="search-bar">Search Trainee Here</label>
                    </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- List of Trainees Table -->
        <section style="margin-right: 20px;">
                <table class="bordered highlight responsive-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th class="center">ID Number</th>
                                <th class="center">Attendance(100%)</th>
                                <th class="center">Grade(100%)</th>
                                <th class="right">Print</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for trainee in trainees %}
                            <tr>
                                <th class="left">
                                    <a href="/training_center/certificate_pdf/22">
                                        <div class="chip">
                                            <img src="{{trainee.passport_size_photo.url}}" alt="">
                                            {{ trainee.first_name|title }} {{ trainee.last_name|title }}
                                        </div>
                                    </a>
                                </th>
                                <th class="center">
                                    {{ trainee.enrolled_on.year }}{{ trainee.pk }}
                                </th>
                
                                <th class="center"><a href="/training_center/certificate_pdf/22">89%</a></th>
                                <th class="center"><a href="/training_center/certificate_pdf/22">96%</a></th>
                                <th><a href="/training_center/certificate_pdf/22" class="black-text tooltipped"
                                        data-position="center" data-tooltip="Print {{ trainee.first_name|title }}'s Certificate">
                                        <i class="material-icons right">local_printshop</i></a>
                                </th>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
        </section>
        <br>
        <br>

        <div class="pagination">
            <span class="step-links">
                {% if trainees.has_previous %}
                <li class="waves-effect material-icons large">
                    <a href="?page={{ trainees.previous_page_number }}">
                        <i class="material-icons large">chevron_left</i>
                    </a>
                </li>
                {% endif %}
    
                <span class="current">
                    Page {{ trainees.number }} of {{ trainees.paginator.num_pages }}.
                </span>
    
                {% if trainees.has_next %}
    
                <li class="waves-effect">
                    <a href="?page={{ trainees.next_page_number }}">
                        <i class="material-icons large">chevron_right</i>
                    </a>
                </li>
                {% endif %}
            </span>
        </div>
        <br>
        <br>
</div>
{% endblock content %}


{% block script_tag %}
<script src="{% static "pages/js/mso.js" %}" type="text/javascript"></script>
{% if msg != '' %}
<script>
    Materialize.toast('{{ msg }}', 8000, 'rounded');
</script>
{% endif %}
<script>
    $(document).ready(function () {
        $('.modal').modal({
            dismissible: true,
            inDuration: 300,
            outDuration: 200
        });
        $('.tooltipped').tooltip();

        $('input.autocomplete').autocomplete({
            data: {
                "Apple": null,
                "Microsoft": null,
                "Google": 'https://developers.google.com/identity/images/g-logo.png'
            },
        });
    });
</script>
<script>
    function search_btn(){
        alert('Search Clicked')
        $('#search-input').val('')
    }
</script>
{% endblock script_tag %}