{% extends 'cns_base.html' %}
{% load static %}
{% block title %} Create New Course {% endblock title %}

{% block linktag %}
<link rel="stylesheet" type="text/css" href="{% static "pages/css/mso.css" %}"> {% endblock linktag %}


{% block content %}
<div class="container">
    <h4 class="center">Add New Course</h4>
    <form method="POST" action="">
        {% csrf_token %}
        <div class="row">
            <!-- Course Details -->
            <div class="col s12 m6">
                <div class="input-field">
                    <i class="material-icons prefix">assignment</i>
                    <input id="course_details" type="text" name="course_details">
                    <label for="course_details">Course Details</label>
                </div>
            </div>

            <!-- Course Name -->
            <div class="col s12 m6">
                <div class="input-field">
                    <i class="material-icons prefix">assignment</i>
                    <input id="course_name" type="text" name="course_name">
                    <label for="course_name">Course Name</label>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col s12 m6">
                <!-- COURSE SUBJECTS -->
                <div class="input-field">
                    <i class="material-icons prefix">assignment</i>
                    <select id="course_subjects" name="course_subjects" multiple>
                        <option value="" disabled selected>Subjects</option>
                        {% for subject in subjects %}
                        <option value="{{ subject.pk }}">{{ subject.subject_name|title }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="col s12 m6">
                <!-- COURSE DESCRIPTION  -->
                <div class="input-field">
                    <i class="material-icons prefix">assignment</i>
                    <textarea id="course_description" class="materialize-textarea" name="course_description"></textarea>
                    <label for="course_description">Course Description</label>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col s12">
                <div>
                    <input type="submit" value="Submit" class="btn right blue"  onclick="return verifyForm()">
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock content %}


{% block script_tag %}
<script src="{% static "pages/js/mso.js" %}" type="text/javascript"></script>
{% if msg != '' %}
<script>
    Materialize.toast('{{ msg }}', 8000, 'rounded');
</script>
{% endif %}

<script>
    function verifyForm(){
        subject_type_val = $('#subject_type option:selected').text()
        course_details_val = $('#course_details').val()
        course_name_val = $('#course_name').val()
        course_subjects_val = $('#course_subjects').val()
        if (course_details_val == ''){
            Materialize.toast('Please Fill Course Details', 8000, 'rounded');
            return false
        }
        if (course_name_val == ''){
            Materialize.toast('Please Fill Batch Name', 8000, 'rounded');
            return false
        }
        if (course_subjects_val == ''){
            Materialize.toast('Please Select Subjects', 8000, 'rounded');
            return false
        }
    }
</script>

{% endblock script_tag %}