{% extends 'cns_base.html' %}
{% load static %}
{% block title %} Dashboard {% endblock title %}

{% block linktag %}
<link rel="stylesheet" type="text/css" href="{% static "pages/css/mso.css" %}"> {% endblock linktag %}


{% block content %}
<div class="container">
    <br>
    {% if job_title == 'Head of Training' %}
    <div class="row">
        <a href="/training_center/trainee/approve">
            <div class="col s12 m4">
                <div class="card-panel blue">
                    <i class="white-text text-lighten-1 large material-icons">spellcheck</i>
                    <span class="white-text">Admission Applications
                    </span>
                </div>
            </div>
        </a>

        <a href="/training_center/trainees/all">
            <div class="col s12 m4">
                <div class="card-panel blue">
                    <i class="white-text text-lighten-1 large material-icons">contacts</i>
                    <span class="white-text">Trainees
                    </span>
                </div>
            </div>
        </a>

        <a href="/training_center/all_classes">
            <div class="col s12 m4">
                <div class="card-panel blue">
                    <i class="white-text text-lighten-1 large material-icons">people</i>
                    <span class="white-text">Batches
                    </span>
                </div>
            </div>
        </a>
    </div>


    <div class="row">
        <a href="/training_center/courses/all/">
            <div class="col s12 m4">
                <div class="card-panel blue">
                    <i class="white-text text-lighten-1 large material-icons">library_books</i>
                    <span class="white-text">Courses
                    </span>
                </div>
            </div>
        </a>

        <a href="/training_center/subjects/all">
            <div class="col s12 m4">
                <div class="card-panel blue">
                    <i class="white-text text-lighten-1 large material-icons">book</i>
                    <span class="white-text">Subjects
                    </span>
                </div>
            </div>
        </a>

        <a href="/training_center/attendance">
            <div class="col s12 m4">
                <div class="card-panel blue">
                    <i class="white-text text-lighten-1 large material-icons">assignment</i>
                    <span class="white-text">Attendance Records
                    </span>
                </div>
            </div>
        </a>
    </div>

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large blue">
            <i class="large material-icons" id="fab_ico">add</i>
        </a>
        <ul>
            <li><a class="tooltipped btn-floating red" href="/training_center/trainee/new" data-position="left"
                    data-tooltip="Enroll New Trainee"><i class="material-icons">person_add</i></a></li>
            <li><a class="tooltipped btn-floating yellow darken-1" href="/training_center/courses/new/" data-position="left"
                    data-tooltip="Add New Course"><i class="material-icons">school</i></a></li>
            <li><a class="tooltipped btn-floating green" href="/training_center/subjects/new" data-position="left"
                    data-tooltip="Add New Subject"><i class="material-icons">book</i></a></li>
            <li><a class="tooltipped btn-floating teal" href="/training_center/create_class" data-position="left"
                    data-tooltip="Add New Batch"><i class="material-icons">people</i></a></li>
        </ul>
    </div>

    {% elif job_title == 'Other' and department == 'Admin' %}
    <div class="row">
        <a href="/training_center/trainees/all">
            <div class="col s12 m4">
                <div class="card-panel blue">
                    <i class="white-text text-lighten-1 large material-icons">contacts</i>
                    <span class="white-text">Trainees
                    </span>
                </div>
            </div>
        </a>

        <a href="/training_center/all_classes">
            <div class="col s12 m4">
                <div class="card-panel blue">
                    <i class="white-text text-lighten-1 large material-icons">people</i>
                    <span class="white-text">Batches
                    </span>
                </div>
            </div>
        </a>

        <a href="/training_center/courses/all/">
            <div class="col s12 m4">
                <div class="card-panel blue">
                    <i class="white-text text-lighten-1 large material-icons">library_books</i>
                    <span class="white-text">Courses
                    </span>
                </div>
            </div>
        </a>
    </div>


    <div class="row">
        <a href="/training_center/subjects/all">
            <div class="col s12 m4">
                <div class="card-panel blue">
                    <i class="white-text text-lighten-1 large material-icons">book</i>
                    <span class="white-text">Subjects
                    </span>
                </div>
            </div>
        </a>

    </div>

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large blue">
            <i class="large material-icons" id="fab_ico">add</i>
        </a>
        <ul>
            <li><a class="tooltipped btn-floating red" href="/training_center/trainee/new" data-position="left"
                    data-tooltip="Enroll New Trainee"><i class="material-icons">person_add</i></a></li>
            <li><a class="tooltipped btn-floating yellow darken-1" href="/training_center/courses/new/" data-position="left"
                    data-tooltip="Add New Course"><i class="material-icons">school</i></a></li>
            <li><a class="tooltipped btn-floating green" href="/training_center/subjects/new" data-position="left"
                    data-tooltip="Add New Subject"><i class="material-icons">book</i></a></li>
            <li><a class="tooltipped btn-floating teal" href="/training_center/create_class" data-position="left"
                    data-tooltip="Add New Batch"><i class="material-icons">people</i></a></li>
        </ul>
    </div>

    {% elif job_title == 'Trainer' %}
    
    <div class="row">
        <a href="/training_center/trainees/all">
            <div class="col s12 m4">
                <div class="card-panel blue">
                    <i class="white-text text-lighten-1 large material-icons">contacts</i>
                    <span class="white-text">Trainees
                    </span>
                </div>
            </div>
        </a>

        <a href="/training_center/attendance">
            <div class="col s12 m4">
                <div class="card-panel blue">
                    <i class="white-text text-lighten-1 large material-icons">assignment</i>
                    <span class="white-text">Attendance Records
                    </span>
                </div>
            </div>
        </a>
    </div>
    {% endif %}

</div>
{% endblock content %}

{% block script_tag %}
<script src="{% static "pages/js/mso.js" %}" type="text/javascript"></script>
{% if msg %}
<script>
    Materialize.toast('{{ msg }}', 8000, 'rounded');
</script>
{% endif %}
<script>
    $(document).ready(function () {
        $('.tooltipped').tooltip();
    });
</script>
{% endblock script_tag %}