{% extends 'cns_base.html' %}
{% load static %}
{% block title %} Edit Class {% endblock title %}

{% block linktag %}
<link rel="stylesheet" type="text/css" href="{% static "pages/css/mso.css" %}"> {% endblock linktag %}


{% block content %}
<div class="container">
    <h4 class="center">Edit - {{ class_name }}</h4>
    <form method="POST" action="">
        {% csrf_token %}
        <div class="row">
            <div class="col m6 s12">
                <!-- Class Name -->
                <div class="input-field">
                    <i class="material-icons prefix">library_books</i>
                    <input id="class_name" type="text" name="class_name" value="{{ class_name }}" required>
                    <label for="class_name">Class Name</label>
                </div>
            </div>
            
            
            <div class="input-field col s12 m6">
                <div class="input-field">
                    <i class="material-icons prefix">library_books</i>
                    <select name="course_name" id="course_name" value="courses.courses">
                        <option value="" disabled selected>Select Course</option>
                        {% for key, value in courses.items %}
                        <option value="{{key}}">{{key}} - {{value}}</option>
                        {% endfor %}
                    </select>
                    <label>Course</label>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <div>
                        <input type="submit" value="Update" class="btn right blue"  onclick="return checkSelect()">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock content %}


{% block script_tag %}
<script src="{% static "pages/js/mso.js" %}" type="text/javascript"></script>
{% if msg != '' %}
<script>
    Materialize.toast('{{ msg }}', 8000, 'rounded');
</script>
{% endif %}
<script>
    $(document).ready(function () {
        $('.modal').modal({
            dismissible: true,
            inDuration: 300,
            outDuration: 200
        });
        $('.tooltipped').tooltip();
    });
</script>

<script>
    function checkSelect(){
        course_name_val = $('#course_name option:selected').text()
        class_name_val = $('#class_name').val()
        if (class_name_val == ''){
            Materialize.toast('Please Fill Course Name', 8000, 'rounded');
            return false
        }
        if (course_name_val == 'Select Course'){
            Materialize.toast('Please Select Course', 8000, 'rounded');
            return false
        }
    }
</script>

{% endblock script_tag %}