{% extends 'cns_base.html' %}
{% load static %}
{% block title %} Update Trainee Details {% endblock title %}

{% block linktag %}
<link rel="stylesheet" type="text/css" href="{% static "pages/css/mso.css" %}"> {% endblock linktag %}


{% block content %}
<div class="container">
    <div class="card-panel grey lighten-3 grey-text text-darken-4 z-depth-0">
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                    <h5 class="center">COURSE DETAILS</h5>
                    <div class="col m6 s12">
                            <div class="input-field">
                                <i class="material-icons prefix">person</i>
                                <select name="course_details">
                                        <option value="{{ trainee.course_name }}" selected>{{ trainee.course_name }} - {{ trainee.course_details }}</option>
                                        {% for key, value in courses.items %}
                                        <option value="{{key}}">{{key}} - {{value}}</option>
                                        {% endfor %}
                                        
                                </select>
                                <label>Course</label>
                            </div>
                        </div>


                <div class="col m6 s12">
                    <!-- Course Date -->
                    <div class="input-field">
                        <i class="material-icons prefix">date_range</i>
                        <input type="text" class="datepicker" id="course_date" name="course_date" value="{{ trainee.course_date }}">
                        <label for="course_date">Course Date</label>
                    </div>
                </div>
            </div>


            <div class="row">
                <h5 class="center">PERSONEL DETAILS</h5>
                <!-- First Name -->
                <div class="col s12 m6">
                    <div class="input-field">
                        <i class="material-icons prefix">account_box</i>
                        <input id="first_name" type="text" name="first_name" value="{{ trainee.first_name }}" required>
                        <label for="first_name">First Name</label>
                    </div>
                </div>
                <!-- Last Name -->
                <div class="col s12 m6">
                    <div class="input-field">
                        <i class="material-icons prefix">account_box</i>
                        <input id="last_name" type="text" name="last_name" value="{{ trainee.last_name }}"  required>
                        <label for="last_name">Last Name</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- ADDRESS(PRIVATE) -->
                <div class="col s12 m6">
                    <div class="input-field">
                        <i class="material-icons prefix">home</i>
                        <input id="private_address" type="text" name="private_address" value="{{ trainee.private_address }}" required>
                        <label for="private_address">Address (Private)</label>
                    </div>
                </div>

                <!-- ADDRESS(OFFICE) -->
                <div class="col s12 m6">
                    <div class="input-field">
                        <i class="material-icons prefix">work</i>
                        <input id="office_address" type="text" name="office_address" value="{{ trainee.office_address }}"  required>
                        <label for="first_name">Address (Office)</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Date of Birth -->
                <div class="col m6 s12">
                    <div class="input-field">
                        <i class="material-icons prefix">date_range</i>
                        <input type="text" class="datepicker" id="date_of_birth" name="date_of_birth" value="{{ trainee.date_of_birth }}">
                        <label for="date_of_birth">Date of Birth</label>
                    </div>
                </div>

                <!-- Gender -->
                <div class="col m6 s12">
                    <div class="input-field">
                        <i class="material-icons prefix">person</i>
                        <select name="gender">
                            <option value="" disabled selected>Select Gender</option>
                            {% if trainee.gender == 'female' %}
                                <option value="female" selected>Female</option>
                                <option value="male">Male</option>
                            {% else %}
                            <option value="female">Female</option>
                                <option value="male" selected>Male</option>
                            {% endif %}
                        </select>
                        <label>Gender</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Mobile Number -->
                <div class="col s12 m6">
                    <div class="input-field">
                        <i class="material-icons prefix">phone_iphone</i>
                        <input id="mobile_number" type="number" name="mobile_number" value="{{ trainee.mobile_number }}" required>
                        <label for="mobile_number">Mob. Number</label>
                    </div>
                </div>
                <!-- Telephone Number -->
                <div class="col s12 m6">
                    <div class="input-field">
                        <i class="material-icons prefix">phone</i>
                        <input id="telephone_number" type="number" name="telephone_number" value="{{ trainee.telephone_number }}">
                        <label for="telephone_number">Tel. Number</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Email Address -->
                <div class="col s12 m6">
                    <div class="input-field">
                        <i class="material-icons prefix">email</i>
                        <input id="email" type="email" name="email" value="{{ trainee.email }}"  required>
                        <label for="email">Email Address</label>
                    </div>
                </div>

                <!-- EMPLOYER -->
                <div class="col s12 m6">
                    <div class="input-field">
                        <i class="material-icons prefix">blur_on</i>
                        <input id="employer" type="text" name="employer" value="{{ trainee.employer }}">
                        <label for="employer">Employer (IF EMPLOYED)</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- JOB TITLE (IF EMPLOYED) -->
                <div class="col s12 m6">
                    <div class="input-field">
                        <i class="material-icons prefix">blur_on</i>
                        <input id="job_title" type="text" name="job_title" value="{{ trainee.job_title }}">
                        <label for="job_title">Job Title (IF EMPLOYED)</label>
                    </div>
                </div>
                <!-- LENGTH OF EMPLOYMENT -->
                <div class="col s12 m6">
                    <div class="input-field">
                        <i class="material-icons prefix">blur_on</i>
                        <input id="length_of_employment" type="number" name="length_of_employment" value="{{ trainee.length_of_employment }}">
                        <label for="length_of_employment">Length of Employment(Years)</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- NAME AND ADDRESS OF NEXT OF KIN -->
                <div class="col s12 m6">
                    <div class="input-field">
                        <i class="material-icons prefix">looks</i>
                        <input id="name_and_address_kin" type="text" name="name_and_address_kin" value="{{ trainee.name_and_address_kin }}">
                        <label for="name_and_address_kin">Name and Address of Next Kin</label>
                    </div>
                </div>

                <!-- RELATIONSHIP -->
                <div class="col s12 m6">
                    <div class="input-field">
                        <i class="material-icons prefix">looks</i>
                        <input id="relationship" type="text" name="relationship" value="{{ trainee.relationship }}">
                        <label for="relationship">Relationship</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- CONTACT No -->
                <div class="col s12 m6">
                    <div class="input-field">
                        <i class="material-icons prefix">phone</i>
                        <input id="contact_num" type="number" name="contact_num" value="{{ trainee.contact_num }}">
                        <label for="contact_num">Contact No.</label>
                    </div>
                </div>

                <!-- NATIONALITY -->
                <div class="col m6 s12">
                    <div class="input-field">
                        <i class="material-icons prefix">flag</i>
                        <select name="country">
                            <option value="" disabled selected>Nationality</option>
                            <option value="afghan">Afghan</option>
                            <option value="albanian">Albanian</option>
                            <option value="algerian">Algerian</option>
                            <option value="american">American</option>
                            <option value="andorran">Andorran</option>
                            <option value="angolan">Angolan</option>
                            <option value="antiguans">Antiguans</option>
                            <option value="argentinean">Argentinean</option>
                            <option value="armenian">Armenian</option>
                            <option value="australian">Australian</option>
                            <option value="austrian">Austrian</option>
                            <option value="azerbaijani">Azerbaijani</option>
                            <option value="bahamian">Bahamian</option>
                            <option value="bahraini">Bahraini</option>
                            <option value="bangladeshi">Bangladeshi</option>
                            <option value="barbadian">Barbadian</option>
                            <option value="barbudans">Barbudans</option>
                            <option value="batswana">Batswana</option>
                            <option value="belarusian">Belarusian</option>
                            <option value="belgian">Belgian</option>
                            <option value="belizean">Belizean</option>
                            <option value="beninese">Beninese</option>
                            <option value="bhutanese">Bhutanese</option>
                            <option value="bolivian">Bolivian</option>
                            <option value="bosnian">Bosnian</option>
                            <option value="brazilian">Brazilian</option>
                            <option value="british">British</option>
                            <option value="bruneian">Bruneian</option>
                            <option value="bulgarian">Bulgarian</option>
                            <option value="burkinabe">Burkinabe</option>
                            <option value="burmese">Burmese</option>
                            <option value="burundian">Burundian</option>
                            <option value="cambodian">Cambodian</option>
                            <option value="cameroonian">Cameroonian</option>
                            <option value="canadian">Canadian</option>
                            <option value="cape verdean">Cape Verdean</option>
                            <option value="central african">Central African</option>
                            <option value="chadian">Chadian</option>
                            <option value="chilean">Chilean</option>
                            <option value="chinese">Chinese</option>
                            <option value="colombian">Colombian</option>
                            <option value="comoran">Comoran</option>
                            <option value="congolese">Congolese</option>
                            <option value="costa rican">Costa Rican</option>
                            <option value="croatian">Croatian</option>
                            <option value="cuban">Cuban</option>
                            <option value="cypriot">Cypriot</option>
                            <option value="czech">Czech</option>
                            <option value="danish">Danish</option>
                            <option value="djibouti">Djibouti</option>
                            <option value="dominican">Dominican</option>
                            <option value="dutch">Dutch</option>
                            <option value="east timorese">East Timorese</option>
                            <option value="ecuadorean">Ecuadorean</option>
                            <option value="egyptian">Egyptian</option>
                            <option value="emirian">Emirian</option>
                            <option value="equatorial guinean">Equatorial Guinean</option>
                            <option value="eritrean">Eritrean</option>
                            <option value="estonian">Estonian</option>
                            <option value="ethiopian">Ethiopian</option>
                            <option value="fijian">Fijian</option>
                            <option value="filipino">Filipino</option>
                            <option value="finnish">Finnish</option>
                            <option value="french">French</option>
                            <option value="gabonese">Gabonese</option>
                            <option value="gambian">Gambian</option>
                            <option value="georgian">Georgian</option>
                            <option value="german">German</option>
                            <option value="ghanaian">Ghanaian</option>
                            <option value="greek">Greek</option>
                            <option value="grenadian">Grenadian</option>
                            <option value="guatemalan">Guatemalan</option>
                            <option value="guinea-bissauan">Guinea-Bissauan</option>
                            <option value="guinean">Guinean</option>
                            <option value="guyanese">Guyanese</option>
                            <option value="haitian">Haitian</option>
                            <option value="herzegovinian">Herzegovinian</option>
                            <option value="honduran">Honduran</option>
                            <option value="hungarian">Hungarian</option>
                            <option value="icelander">Icelander</option>
                            <option value="indian">Indian</option>
                            <option value="indonesian">Indonesian</option>
                            <option value="iranian">Iranian</option>
                            <option value="iraqi">Iraqi</option>
                            <option value="irish">Irish</option>
                            <option value="israeli">Israeli</option>
                            <option value="italian">Italian</option>
                            <option value="ivorian">Ivorian</option>
                            <option value="jamaican">Jamaican</option>
                            <option value="japanese">Japanese</option>
                            <option value="jordanian">Jordanian</option>
                            <option value="kazakhstani">Kazakhstani</option>
                            <option value="kenyan">Kenyan</option>
                            <option value="kittian and nevisian">Kittian and Nevisian</option>
                            <option value="kuwaiti">Kuwaiti</option>
                            <option value="kyrgyz">Kyrgyz</option>
                            <option value="laotian">Laotian</option>
                            <option value="latvian">Latvian</option>
                            <option value="lebanese">Lebanese</option>
                            <option value="liberian">Liberian</option>
                            <option value="libyan">Libyan</option>
                            <option value="liechtensteiner">Liechtensteiner</option>
                            <option value="lithuanian">Lithuanian</option>
                            <option value="luxembourger">Luxembourger</option>
                            <option value="macedonian">Macedonian</option>
                            <option value="malagasy">Malagasy</option>
                            <option value="malawian">Malawian</option>
                            <option value="malaysian">Malaysian</option>
                            <option value="maldivan">Maldivan</option>
                            <option value="malian">Malian</option>
                            <option value="maltese">Maltese</option>
                            <option value="marshallese">Marshallese</option>
                            <option value="mauritanian">Mauritanian</option>
                            <option value="mauritian">Mauritian</option>
                            <option value="mexican">Mexican</option>
                            <option value="micronesian">Micronesian</option>
                            <option value="moldovan">Moldovan</option>
                            <option value="monacan">Monacan</option>
                            <option value="mongolian">Mongolian</option>
                            <option value="moroccan">Moroccan</option>
                            <option value="mosotho">Mosotho</option>
                            <option value="motswana">Motswana</option>
                            <option value="mozambican">Mozambican</option>
                            <option value="namibian">Namibian</option>
                            <option value="nauruan">Nauruan</option>
                            <option value="nepalese">Nepalese</option>
                            <option value="new zealander">New Zealander</option>
                            <option value="ni-vanuatu">Ni-Vanuatu</option>
                            <option value="nicaraguan">Nicaraguan</option>
                            <option value="nigerien">Nigerien</option>
                            <option value="north korean">North Korean</option>
                            <option value="northern irish">Northern Irish</option>
                            <option value="norwegian">Norwegian</option>
                            <option value="omani">Omani</option>
                            <option value="pakistani">Pakistani</option>
                            <option value="palauan">Palauan</option>
                            <option value="panamanian">Panamanian</option>
                            <option value="papua new guinean">Papua New Guinean</option>
                            <option value="paraguayan">Paraguayan</option>
                            <option value="peruvian">Peruvian</option>
                            <option value="polish">Polish</option>
                            <option value="portuguese">Portuguese</option>
                            <option value="qatari">Qatari</option>
                            <option value="romanian">Romanian</option>
                            <option value="russian">Russian</option>
                            <option value="rwandan">Rwandan</option>
                            <option value="saint lucian">Saint Lucian</option>
                            <option value="salvadoran">Salvadoran</option>
                            <option value="samoan">Samoan</option>
                            <option value="san marinese">San Marinese</option>
                            <option value="sao tomean">Sao Tomean</option>
                            <option value="saudi">Saudi</option>
                            <option value="scottish">Scottish</option>
                            <option value="senegalese">Senegalese</option>
                            <option value="serbian">Serbian</option>
                            <option value="seychellois">Seychellois</option>
                            <option value="sierra leonean">Sierra Leonean</option>
                            <option value="singaporean">Singaporean</option>
                            <option value="slovakian">Slovakian</option>
                            <option value="slovenian">Slovenian</option>
                            <option value="solomon islander">Solomon Islander</option>
                            <option value="somali">Somali</option>
                            <option value="south african">South African</option>
                            <option value="south korean">South Korean</option>
                            <option value="spanish">Spanish</option>
                            <option value="sri lankan">Sri Lankan</option>
                            <option value="sudanese">Sudanese</option>
                            <option value="surinamer">Surinamer</option>
                            <option value="swazi">Swazi</option>
                            <option value="swedish">Swedish</option>
                            <option value="swiss">Swiss</option>
                            <option value="syrian">Syrian</option>
                            <option value="taiwanese">Taiwanese</option>
                            <option value="tajik">Tajik</option>
                            <option value="tanzanian">Tanzanian</option>
                            <option value="thai">Thai</option>
                            <option value="togolese">Togolese</option>
                            <option value="tongan">Tongan</option>
                            <option value="trinidadian or tobagonian">Trinidadian or Tobagonian</option>
                            <option value="tunisian">Tunisian</option>
                            <option value="turkish">Turkish</option>
                            <option value="tuvaluan">Tuvaluan</option>
                            <option value="ugandan">Ugandan</option>
                            <option value="ukrainian">Ukrainian</option>
                            <option value="uruguayan">Uruguayan</option>
                            <option value="uzbekistani">Uzbekistani</option>
                            <option value="venezuelan">Venezuelan</option>
                            <option value="vietnamese">Vietnamese</option>
                            <option value="welsh">Welsh</option>
                            <option value="yemenite">Yemenite</option>
                            <option value="zambian">Zambian</option>
                            <option value="zimbabwean">Zimbabwean</option>
                        </select>
                        <label>Nationality</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- VISA COPY -->
                <div class="col l12">
                    <div class="file-field input-field">
                        <div class="btn blue">
                            <span>Upload Visa Copy</span>
                            <input type="file" accept="image/png, image/jpeg"  name="visa_copy">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </div>

                <!-- PASSPORT COPY -->
                <div class="col l12">
                    <div class="file-field input-field">
                        <div class="btn blue">
                            <span>Upload Passport Copy</span>
                            <input type="file" accept="image/png, image/jpeg" name='passport_copy'>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" id="passport_copy">
                        </div>
                    </div>
                </div>

                <!-- PASSPORT SIZE PHOTO -->
                <div class="col l12">
                    <div class="file-field input-field">
                        <div class="btn blue">
                            <span>Upload Passport Size Photo</span>
                            <input type="file" accept="image/png, image/jpeg" name="passport_size_photo">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </div>
            </div>

            <h5 class="center">ACADEMIC QUALIFICATIONS</h5>
            <div class="row">
                <!-- QUALIFICATION -->
                <div class="col s12 m5">
                    <div class="input-field">
                        <i class="material-icons prefix">school</i>
                        <input id="qualifications" type="text" name="acc_qual_1" value="{{ trainee.academic_qualifications }}">
                        <label for="qualifications">Qualifications</label>
                    </div>
                </div>
                <!-- ACADEMIC QUALIFICATION INSITUTE -->
                <div class="col s12 m5">
                    <div class="input-field">
                        <i class="material-icons prefix">location_city</i>
                        <input id="insitute" type="text" name="acc_qual_inst_1" value="{{ trainee.academic_qualification_insitute }}">
                        <label for="insitute">Insitute</label>
                    </div>
                </div>
                <!-- ACADEMIC QUALIFICATION YEAR -->
                <div class="col s12 m2">
                    <div class="input-field">
                        <i class="material-icons prefix">date_range</i>
                        <input id="year" type="number" name="acc_qual_year_1" value="{{ trainee.academic_qualification_year }}">
                        <label for="year">Year</label>
                    </div>
                </div>

                <!-- ACADEMIC CERTIFICATE -->
                <div class="col l12">
                    <div class="file-field input-field">
                        <div class="btn blue">
                            <span>Upload Academic Certificate</span>
                            <input type="file" accept="image/*" name="acc_qual_cert_1">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </div>

                <!-- Acadamic Qualifications 2 -->
                <div id="acadamic_qual_2">
                    <!-- QUALIFICATION - 2 -->
                    <div class="col s12 m5">
                        <div class="input-field">
                            <i class="material-icons prefix">school</i>
                            <input id="qualifications" type="text" name="acc_qual_2" value="{{ trainee.academic_qualifications_two }}">
                            <label for="qualifications">Qualifications</label>
                        </div>
                    </div>
                    <!-- ACADEMIC QUALIFICATION INSITUTE - 2 -->
                    <div class="col s12 m5">
                        <div class="input-field">
                            <i class="material-icons prefix">location_city</i>
                            <input id="insitute" type="text" name="acc_qual_inst_2" value="{{ trainee.academic_qualification_insitute_two }}">
                            <label for="insitute">Insitute</label>
                        </div>
                    </div>
                    <!-- ACADEMIC QUALIFICATION YEAR -->
                    <div class="col s12 m2">
                        <div class="input-field">
                            <i class="material-icons prefix">date_range</i>
                            <input id="year" type="number" name="acc_qual_year_2" value="{{ trainee.academic_qualification_year_two }}">
                            <label for="year">Year</label>
                        </div>
                    </div>

                    <!-- ACADEMIC CERTIFICATE - 2 -->
                    <div class="col l12">
                        <div class="file-field input-field">
                            <div class="btn blue">
                                <span>Upload Academic Certificate</span>
                                <input type="file" accept="image/*" name="acc_qual_cert_2" value="{{ trainee.academic_qualification_certificate_two }}">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Acadamic Qualifications 3 -->
                <div id="acadamic_qual_3">
                    <!-- QUALIFICATION - 3 -->
                    <div class="col s12 m5">
                        <div class="input-field">
                            <i class="material-icons prefix">school</i>
                            <input id="qualifications" type="text" name="acc_qual_3" value="{{ trainee.academic_qualifications_three }}">
                            <label for="qualifications">Qualifications</label>
                        </div>
                    </div>
                    <!-- ACADEMIC QUALIFICATION INSITUTE - 3 -->
                    <div class="col s12 m5">
                        <div class="input-field">
                            <i class="material-icons prefix">location_city</i>
                            <input id="insitute" type="text" name="acc_qual_inst_3" value="{{ trainee.academic_qualification_insitute_three }}">
                            <label for="insitute">Insitute</label>
                        </div>
                    </div>
                    <!-- ACADEMIC QUALIFICATION YEAR -->
                    <div class="col s12 m2">
                        <div class="input-field">
                            <i class="material-icons prefix">date_range</i>
                            <input id="year" type="number" name="acc_qual_year_3" value="{{ trainee.academic_qualification_year_three }}">
                            <label for="year">Year</label>
                        </div>
                    </div>

                    <!-- ACADEMIC CERTIFICATE - 3 -->
                    <div class="col l12">
                        <div class="file-field input-field">
                            <div class="btn blue">
                                <span>Upload Academic Certificate</span>
                                <input type="file" accept="image/*" name="acc_qual_cert_3" value="{{ trainee.academic_qualification_certificate_three }}">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Acadamic Qualifications 4 -->
                <div id="acadamic_qual_4">
                    <!-- QUALIFICATION - 4 -->
                    <div class="col s12 m5">
                        <div class="input-field">
                            <i class="material-icons prefix">school</i>
                            <input id="qualifications" type="text" name="acc_qual_4" value="{{ trainee.academic_qualifications_four }}">
                            <label for="qualifications">Qualifications</label>
                        </div>
                    </div>
                    <!-- ACADEMIC QUALIFICATION INSITUTE - 4 -->
                    <div class="col s12 m5">
                        <div class="input-field">
                            <i class="material-icons prefix">location_city</i>
                            <input id="insitute" type="text" name="acc_qual_inst_4" value="{{ trainee.academic_qualification_insitute_four }}">
                            <label for="insitute">Insitute</label>
                        </div>
                    </div>
                    <!-- ACADEMIC QUALIFICATION YEAR -->
                    <div class="col s12 m2">
                        <div class="input-field">
                            <i class="material-icons prefix">date_range</i>
                            <input id="year" type="number" name="acc_qual_year_4" value="{{ trainee.academic_qualification_year_four }}">
                            <label for="year">Year</label>
                        </div>
                    </div>

                    <!-- ACADEMIC CERTIFICATE - 4 -->
                    <div class="col l12">
                        <div class="file-field input-field">
                            <div class="btn blue">
                                <span>Upload Academic Certificate</span>
                                <input type="file" accept="image/*" name="acc_qual_cert_4" value="{{ trainee.academic_qualification_certificate_four }}">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Acadamic Qualifications 5 -->
                <div id="acadamic_qual_5">
                    <!-- QUALIFICATION - 5 -->
                    <div class="col s12 m5">
                        <div class="input-field">
                            <i class="material-icons prefix">school</i>
                            <input id="qualifications" type="text" name="acc_qual_5" value="{{ trainee.academic_qualifications_five }}">
                            <label for="qualifications">Qualifications</label>
                        </div>
                    </div>
                    <!-- ACADEMIC QUALIFICATION INSITUTE - 5 -->
                    <div class="col s12 m5">
                        <div class="input-field">
                            <i class="material-icons prefix">location_city</i>
                            <input id="insitute" type="text" name="acc_qual_inst_5" value="{{ trainee.academic_qualification_insitute_five }}">
                            <label for="insitute">Insitute</label>
                        </div>
                    </div>
                    <!-- ACADEMIC QUALIFICATION YEAR -->
                    <div class="col s12 m2">
                        <div class="input-field">
                            <i class="material-icons prefix">date_range</i>
                            <input id="year" type="number" name="acc_qual_year_5" value="{{ trainee.academic_qualification_year_five }}">
                            <label for="year">Year</label>
                        </div>
                    </div>

                    <!-- ACADEMIC CERTIFICATE - 5 -->
                    <div class="col l12">
                        <div class="file-field input-field">
                            <div class="btn blue">
                                <span>Upload Academic Certificate</span>
                                <input type="file" accept="image/*" name="acc_qual_cert_5" value="{{ trainee.academic_qualification_certificate_five }}">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                    </div>
                </div>

                <div id="appendAcademicQualifications"></div>

                <a id="addAcadaminQualifications" class="right btn-floating btn-large waves-effect waves-light blue"><i
                        class="material-icons">add</i></a>
            </div>

            <h5 class="center">PROFESSIONAL QUALIFICATIONS</h5>
            <div class="row">
                <!-- PROFESSIONAL QUALIFICATION -->
                <div class="col s12 m5">
                    <div class="input-field">
                        <i class="material-icons prefix">school</i>
                        <input id="qualifications" type="text" name="prof_qual_1" value="{{ trainee.professional_qualifications }}">
                        <label for="qualifications">Qualifications</label>
                    </div>
                </div>
                <!-- PROFESSIONAL QUALIFICATION INSITUTE -->
                <div class="col s12 m5">
                    <div class="input-field">
                        <i class="material-icons prefix">location_city</i>
                        <input id="insitute" type="text" name="prof_qual_inst_1" value="{{ trainee.professional_qualification_insitute }}">
                        <label for="insitute">Insitute</label>
                    </div>
                </div>
                <!-- PROFESSIONAL QUALIFICATION YEAR -->
                <div class="col s12 m2">
                    <div class="input-field">
                        <i class="material-icons prefix">date_range</i>
                        <input id="year" type="number" name="prof_qual_year_1" value="{{ trainee.professional_qualification_year }}">
                        <label for="year">Year</label>
                    </div>
                </div>

                <!-- PROFESSIONAL CERTIFICATE -->
                <div class="col l12">
                    <div class="file-field input-field">
                        <div class="btn blue">
                            <span>Upload Professional Certificate</span>
                            <input type="file" accept="image/*" name="prof_qual_cert_1">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </div>

                <div id="prof_qual_2">
                    <!-- PROFESSIONAL QUALIFICATION 2 -->
                    <div class="col s12 m5">
                        <div class="input-field">
                            <i class="material-icons prefix">school</i>
                            <input id="qualifications" type="text" name="prof_qual_2" value="{{ trainee.professional_qualifications_two }}">
                            <label for="qualifications">Qualifications</label>
                        </div>
                    </div>
                    <!-- PROFESSIONAL QUALIFICATION INSITUTE 2 -->
                    <div class="col s12 m5">
                        <div class="input-field">
                            <i class="material-icons prefix">location_city</i>
                            <input id="insitute" type="text" name="prof_qual_inst_2" value="{{ trainee.professional_qualification_insitute_two }}">
                            <label for="insitute">Insitute</label>
                        </div>
                    </div>
                    <!-- PROFESSIONAL QUALIFICATION YEAR 2-->
                    <div class="col s12 m2">
                        <div class="input-field">
                            <i class="material-icons prefix">date_range</i>
                            <input id="year" type="number" name="prof_qual_year_2" value="{{ trainee.professional_qualification_year_two }}">
                            <label for="year">Year</label>
                        </div>
                    </div>

                    <!-- PROFESSIONAL CERTIFICATE 2 -->
                    <div class="col l12">
                        <div class="file-field input-field">
                            <div class="btn blue">
                                <span>Upload Professional Certificate</span>
                                <input type="file" accept="image/*" name="prof_qual_cert_2" value="{{ trainee.professional_qualification_certificate_two }}">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                    </div>
                </div>

                <div id="prof_qual_3">
                    <!-- PROFESSIONAL QUALIFICATION 3 -->
                    <div class="col s12 m5">
                        <div class="input-field">
                            <i class="material-icons prefix">school</i>
                            <input id="qualifications" type="text" name="prof_qual_3" value=" {{ trainee.professional_qualifications_three }}">
                            <label for="qualifications">Qualifications</label>
                        </div>
                    </div>
                    <!-- PROFESSIONAL QUALIFICATION INSITUTE 3 -->
                    <div class="col s12 m5">
                        <div class="input-field">
                            <i class="material-icons prefix">location_city</i>
                            <input id="insitute" type="text" name="prof_qual_inst_3" value=" {{ trainee.professional_qualification_insitute_three }}">
                            <label for="insitute">Insitute</label>
                        </div>
                    </div>
                    <!-- PROFESSIONAL QUALIFICATION YEAR 3-->
                    <div class="col s12 m2">
                        <div class="input-field">
                            <i class="material-icons prefix">date_range</i>
                            <input id="year" type="number" name="prof_qual_year_3" value=" {{ trainee.professional_qualification_year_three }}">
                            <label for="year">Year</label>
                        </div>
                    </div>

                    <!-- PROFESSIONAL CERTIFICATE 3 -->
                    <div class="col l12">
                        <div class="file-field input-field">
                            <div class="btn blue">
                                <span>Upload Professional Certificate</span>
                                <input type="file" accept="image/*" name="prof_qual_cert_3" value=" {{ trainee.professional_qualification_certificate_three }}">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                    </div>
                </div>

                <div id="prof_qual_4">
                    <!-- PROFESSIONAL QUALIFICATION 4 -->
                    <div class="col s12 m5">
                        <div class="input-field">
                            <i class="material-icons prefix">school</i>
                            <input id="qualifications" type="text" name="prof_qual_4" value=" {{ trainee.professional_qualifications_four }}">
                            <label for="qualifications">Qualifications</label>
                        </div>
                    </div>
                    <!-- PROFESSIONAL QUALIFICATION INSITUTE 4 -->
                    <div class="col s12 m5">
                        <div class="input-field">
                            <i class="material-icons prefix">location_city</i>
                            <input id="insitute" type="text" name="prof_qual_inst_4"  value=" {{ trainee.professional_qualification_insitute_four }}">
                            <label for="insitute">Insitute</label>
                        </div>
                    </div>
                    <!-- PROFESSIONAL QUALIFICATION YEAR 4-->
                    <div class="col s12 m2">
                        <div class="input-field">
                            <i class="material-icons prefix">date_range</i>
                            <input id="year" type="number" name="prof_qual_year_4"  value=" {{ trainee.professional_qualification_year_four }}">
                            <label for="year">Year</label>
                        </div>
                    </div>

                    <!-- PROFESSIONAL CERTIFICATE 4 -->
                    <div class="col l12">
                        <div class="file-field input-field">
                            <div class="btn blue">
                                <span>Upload Professional Certificate</span>
                                <input type="file" accept="image/*" name="prof_qual_cert_4" value=" {{ trainee.professional_qualification_certificate_four }}">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                    </div>
                </div>

                <div id="prof_qual_5">
                    <!-- PROFESSIONAL QUALIFICATION 5 -->
                    <div class="col s12 m5">
                        <div class="input-field">
                            <i class="material-icons prefix">school</i>
                            <input id="qualifications" type="text" name="prof_qual_5" value=" {{ trainee.professional_qualifications_five }}">
                            <label for="qualifications">Qualifications</label>
                        </div>
                    </div>
                    <!-- PROFESSIONAL QUALIFICATION INSITUTE 5 -->
                    <div class="col s12 m5">
                        <div class="input-field">
                            <i class="material-icons prefix">location_city</i>
                            <input id="insitute" type="text" name="prof_qual_inst_5" value=" {{ trainee.professional_qualification_insitute_five }}">
                            <label for="insitute">Insitute</label>
                        </div>
                    </div>
                    <!-- PROFESSIONAL QUALIFICATION YEAR 5-->
                    <div class="col s12 m2">
                        <div class="input-field">
                            <i class="material-icons prefix">date_range</i>
                            <input id="year" type="number" name="prof_qual_year_5" value=" {{ trainee.professional_qualification_year_five }}">
                            <label for="year">Year</label>
                        </div>
                    </div>

                    <!-- PROFESSIONAL CERTIFICATE 5 -->
                    <div class="col l12">
                        <div class="file-field input-field">
                            <div class="btn blue">
                                <span>Upload Professional Certificate</span>
                                <input type="file" accept="image/*" name="prof_qual_cert_5" value=" {{ trainee.professional_qualification_certificate_five }}">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                    </div>
                </div>

                <div id="appendProfessionalQualifications"></div>

                <a id="addProfessionalQualifications" class="right btn-floating btn-large waves-effect waves-light blue"><i
                        class="material-icons">add</i></a>
            </div>
            <div class="row">
                <br>
                <div class="col s12 container">
                    <button class="btn blue waves-effect waves-light right" type="submit" name="action">Update
                        <i class="material-icons right">edit</i>
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col s12 center">
                    <!-- T&C Modal Triger -->
                    <p class="center">By submitting you agree to the <a class="waves-effect waves-light modal-trigger" href="#modal2">terms of service</a>.</p>
                </div>
            </div>

            <!-- FIXED FOOTER MODAL -->
    <div id="modal2" class="modal">
            <div class="modal-content">
              <h4>Terms of Service</h4>
              <p>I hereby certify that the particulars furnished by me in this application are true
                    and correct. In the event of my application being accepted, I shall abide by all
                    the regulations applicable to the students of Fujairah Air Navigation Services
                    Training Center.</p>
              <p>I understand that I may be dismissed from the course for not paying the
                    course fee as stated in the fee schedule. I agree and accept that if any of the
                    information given by me in this registration form is in any way false or
                    incorrect, the Training Center shall have the right to cancel my application
                    form or registration, without notice to me, and the Training Center will be fully
                    indemnified from any loss or damage arising from such cancellation.</p>
            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
            </div>
          </div>
            
        </form>
    </div>
</div>
{% endblock content %}

{% block script_tag %}
<script src="{% static "pages/js/mso.js" %}" type="text/javascript"></script>
{% if msg %}
<script>
    Materialize.toast('{{ msg }}', 8000, 'rounded');
</script>
{% endif %}
<script>
    $(document).ready(function () {
        for (let i = 2; i <= 5; i++) {
            $('#acadamic_qual_'+String(i)).hide(); 
            $('#prof_qual_'+String(i)).hide();
        }
        
        var acc = 1;
        var prof = 1;
        // ADD ACADEMIC QUALIFICATIONS
        $('#addAcadaminQualifications').click(function () {
            acc += 1;
            $('#acadamic_qual_'+String(acc)).show();
        });

        // ADD PROFESSIONAL QUALIFICATIONS
        $('#addProfessionalQualifications').click(function () {
            prof += 1;
            $('#prof_qual_'+String(prof)).show();
        });


        // T&C MODAL TRIGGER
        $('.modal').modal({
        dismissible: true,
        inDuration: 300,
        outDuration: 200
      });
    });
</script>
{% endblock script_tag %}