{% extends 'cns_base.html' %}
{% load static %}
{% block title %} Feedback - {{batch}} {% endblock title %}

{% block linktag %}
<link rel="stylesheet" type="text/css" href="{% static "pages/css/mso.css" %}"> {% endblock linktag %}


{% block content %}
<div class="container">
    <br>
    <br>
    <h4 class="center">Batch: {{ batch }}</h4>
    <div class="row">
        <div class="col s12 m6">
            <h5 class="center">Administration</h5>
            <div class="row">
                <div class="col s12">
                    <span>1. Did you find your Induction Day useful?</span>
                </div>
                <br>
                <br>
                <div class="row" style="margin-left:20px;">
                    <div class="col s3">3. Poor</div>
                    <div class="col s3">6. Good</div>
                    <div class="col s3">11. Very Good</div>
                    <div class="col s3">18. Excellent</div>
                </div>
            </div>
    
    
            <div class="row">
                <div class="col s12">
                    <span>2. Did you find the Administration staff customer friendly and accessible?</span>
                </div>
                <br>
                <br>
                <div class="row" style="margin-left:20px;">
                    <div class="col s3">3. Poor</div>
                    <div class="col s3">6. Good</div>
                    <div class="col s3">11. Very Good</div>
                    <div class="col s3">18. Excellent</div>
                </div>
            </div>
    
    
            <h5 class="center">Accounts</h5>
            <div class="row">
                <div class="col s12">
                    <span>3. Did you find the Accounts department to be efficient when dealing with your account?</span>
                </div>
                <br>
                <br>
                <div class="row" style="margin-left:20px;">
                    <div class="col s3">3. Poor</div>
                    <div class="col s3">6. Good</div>
                    <div class="col s3">11. Very Good</div>
                    <div class="col s3">18. Excellent</div>
                </div>
            </div>
    
    
            <div class="row">
                <div class="col s12">
                    <span>4. Did you experience any problems with the handling of your account?</span>
                </div>
                <br>
                <br>
                <div class="row" style="margin-left:20px;">
                    <div class="col s3">3. Poor</div>
                    <div class="col s3">6. Good</div>
                    <div class="col s3">11. Very Good</div>
                    <div class="col s3">18. Excellent</div>
                </div>
            </div>
    
    
            <div class="row">
                <div class="col s12">
                    <span>5. Did you find the accounts department customer friendly?</span>
                </div>
                <br>
                <br>
                <div class="row" style="margin-left:20px;">
                    <div class="col s3">3. Poor</div>
                    <div class="col s3">6. Good</div>
                    <div class="col s3">11. Very Good</div>
                    <div class="col s3">18. Excellent</div>
                </div>
            </div>
    
        </div>


        <div class="col s12 m6">
            <div id="piechart"></div>
        </div>
    </div>
    <div class="row">
            <h5 class="center">Theory Training </h5>
            <div class="row">
                <div class="col s12">
                    <span>6. Classroom size (both physical and for the number of students)</span>
                </div>
                <br>
                <br>
                <div class="row" style="margin-left:20px;">
                    <div class="col s3">3. Poor</div>
                    <div class="col s3">6. Good</div>
                    <div class="col s3">11. Very Good</div>
                    <div class="col s3">18. Excellent</div>
                </div>
            </div>
            
            
                <div class="col s12">
                    <span>7. Availability of restroom and refreshment facilities</span>
                </div>
                <br>
                <br>
                <div class="row" style="margin-left:20px;">
                    <div class="col s3">3. Poor</div>
                    <div class="col s3">6. Good</div>
                    <div class="col s3">11. Very Good</div>
                    <div class="col s3">18. Excellent</div>
                </div>
            </div>
    
    
            <div class="row">
                <div class="col s12">
                    <span>8. Quality of teaching aids – were they suitable? Could they be improved</span>
                </div>
                <br>
                <br>
                <div class="row" style="margin-left:20px;">
                    <div class="col s3">3. Poor</div>
                    <div class="col s3">6. Good</div>
                    <div class="col s3">11. Very Good</div>
                    <div class="col s3">18. Excellent</div>
                </div>
            </div>
    
    
            <div class="row">
                <div class="col s12">
                    <span>9. Quality of the Course Notes</span>
                </div>
                <br>
                <br>
                <div class="row" style="margin-left:20px;">
                    <div class="col s3">3. Poor</div>
                    <div class="col s3">6. Good</div>
                    <div class="col s3">11. Very Good</div>
                    <div class="col s3">18. Excellent</div>
                </div>
            </div>
    
    
            <div class="row">
                <div class="col s12">
                    <span>10. How did you find your weekly / daily programme?</span>
                </div>
                <br>
                <br>
                <div class="row" style="margin-left:20px;">
                    <div class="col s3">3. Poor</div>
                    <div class="col s3">6. Good</div>
                    <div class="col s3">11. Very Good</div>
                    <div class="col s3">18. Excellent</div>
                </div>
            </div>
    
    
            <h5 class="center">ATC Instructors  </h5>
            <div class="row">
                <div class="col s12">
                    <span>11. Were the instructors effective in their teaching?</span>
                </div>
                <br>
                <br>
                <div class="row" style="margin-left:20px;">
                    <div class="col s3">3. Poor</div>
                    <div class="col s3">6. Good</div>
                    <div class="col s3">11. Very Good</div>
                    <div class="col s3">18. Excellent</div>
                </div>
            </div>
    
    
            <div class="row">
                <div class="col s12">
                    <span>12. Did they empathies with the students?</span>
                </div>
                <br>
                <br>
                <div class="row" style="margin-left:20px;">
                    <div class="col s3">3. Poor</div>
                    <div class="col s3">6. Good</div>
                    <div class="col s3">11. Very Good</div>
                    <div class="col s3">18. Excellent</div>
                </div>
            </div>
    
    
            <div class="row">
                <div class="col s12">
                    <span>13. Did they cover the entire syllabus as per the Learning Objectives?</span>
                </div>
                <br>
                <br>
                <div class="row" style="margin-left:20px;">
                    <div class="col s3">3. Poor</div>
                    <div class="col s3">6. Good</div>
                    <div class="col s3">11. Very Good</div>
                    <div class="col s3">18. Excellent</div>
                </div>
            </div>
    
    
            <div class="row">
                <div class="col s12">
                    <span>14. If you failed an examination, do you feel that the follow up by the 
                        instructors &staff was sufficient to help you through the rest?</span>
                </div>
                <br>
                <br>
                <div class="row" style="margin-left:20px;">
                    <div class="col s3">3. Poor</div>
                    <div class="col s3">6. Good</div>
                    <div class="col s3">11. Very Good</div>
                    <div class="col s3">18. Excellent</div>
                </div>
            </div>
    
    
            <div class="row">
                <div class="col s12">
                    <span>15. Did you have adequate accessibility to your instructors and senior staff?</span>
                </div>
                <br>
                <br>
                <div class="row" style="margin-left:20px;">
                    <div class="col s3">3. Poor</div>
                    <div class="col s3">6. Good</div>
                    <div class="col s3">11. Very Good</div>
                    <div class="col s3">18. Excellent</div>
                </div>
            </div>
    
    
            <div class="row">
                <div class="col s12">
                    <span>16. Were you happy with the programme of training and were you kept informed of your Training programme?</span>
                </div>
                <br>
                <br>
                <div class="row" style="margin-left:20px;">
                    <div class="col s3">3. Poor</div>
                    <div class="col s3">6. Good</div>
                    <div class="col s3">11. Very Good</div>
                    <div class="col s3">18. Excellent</div>
                </div>
            </div>
    
            <h5 class="center">Practical Training</h5>
            <div class="row">
                <div class="col s12">
                    <span>17. How did you find the practical training in terms of: Introductory briefings – 
                        were they comprehensive enough?</span>
                </div>
                <br>
                <br>
                <div class="row" style="margin-left:20px;">
                    <div class="col s3">3. Poor</div>
                    <div class="col s3">6. Good</div>
                    <div class="col s3">11. Very Good</div>
                    <div class="col s3">18. Excellent</div>
                </div>
            </div>
    
    
            <div class="row">
                <div class="col s12">
                    <span>18. Study Material – was it suitable? Could it be improved?</span>
                </div>
                <br>
                <br>
                <div class="row" style="margin-left:20px;">
                    <div class="col s3">3. Poor</div>
                    <div class="col s3">6. Good</div>
                    <div class="col s3">11. Very Good</div>
                    <div class="col s3">18. Excellent</div>
                </div>
            </div>
    
    
            <div class="row">
                <div class="col s12">
                    <span>19. Did the pre- briefings prepare you sufficiently for every practical training?</span>
                </div>
                <br>
                <br>
                <div class="row" style="margin-left:20px;">
                    <div class="col s3">3. Poor</div>
                    <div class="col s3">6. Good</div>
                    <div class="col s3">11. Very Good</div>
                    <div class="col s3">18. Excellent</div>
                </div>
            </div>
    
    
            <div class="row">
                <div class="col s12">
                    <span>20. Are you happy with the practical instruction that you received?</span>
                </div>
                <br>
                <br>
                <div class="row" style="margin-left:20px;">
                    <div class="col s3">3. Poor</div>
                    <div class="col s3">6. Good</div>
                    <div class="col s3">11. Very Good</div>
                    <div class="col s3">18. Excellent</div>
                </div>
            </div>
    
    
            <div class="row">
                <div class="col s12">
                    <span>21. Were your post-ATC simulation de-briefs constructive?</span>
                </div>
                <br>
                <br>
                <div class="row" style="margin-left:20px;">
                    <div class="col s3">3. Poor</div>
                    <div class="col s3">6. Good</div>
                    <div class="col s3">11. Very Good</div>
                    <div class="col s3">18. Excellent</div>
                </div>
            </div>
    
    
            <div class="row">
                <div class="col s12">
                    <span>22. Do you think you received adequate and comprehensive familiarization on the ATC Simulator?</span>
                </div>
                <br>
                <br>
                <div class="row" style="margin-left:20px;">
                    <div class="col s3">3. Poor</div>
                    <div class="col s3">6. Good</div>
                    <div class="col s3">11. Very Good</div>
                    <div class="col s3">18. Excellent</div>
                </div>
            </div>
    
    
            <div class="row">
                <div class="col s12">
                    <span>23. Do you think the standard of briefing and instruction you received from 
                        the ATC practical training instructors was to an adequate and high standard?</span>
                </div>
                <br>
                <br>
                <div class="row" style="margin-left:20px;">
                    <div class="col s3">3. Poor</div>
                    <div class="col s3">6. Good</div>
                    <div class="col s3">11. Very Good</div>
                    <div class="col s3">18. Excellent</div>
                </div>
            </div>
    
    
            <div class="row">
                <div class="col s12">
                    <span>24. Were you happy with the practical training facilities?</span>
                </div>
                <br>
                <br>
                <div class="row" style="margin-left:20px;">
                    <div class="col s3">3. Poor</div>
                    <div class="col s3">6. Good</div>
                    <div class="col s3">11. Very Good</div>
                    <div class="col s3">18. Excellent</div>
                </div>
            </div>
    
            <h5 class="center">Suggestions</h5>
            <br>
            <br>
            <h5>Administration</h5>
            <dl style="margin-left:20px;">
                <li>
                    <span>Lorem, ipsum dolor sit amet consectetur adipisicing.</span>
                </li>
                <li>
                    <span>Lorem ipsum dolor sit amet.</span>
                </li>
                <li>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo.</span>
                </li>
                <li>
                    <span>Lorem, ipsum dolor.</span>
                </li>
            </dl>
    
            <div class="row">
                <h5>Theoretical Training</h5>
                <dl style="margin-left:20px;">
                    <li>
                        <span>Lorem, ipsum dolor sit amet consectetur adipisicing.</span>
                    </li>
                    <li>
                        <span>Lorem ipsum dolor sit amet.</span>
                    </li>
                    <li>
                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo.</span>
                    </li>
                    <li>
                        <span>Lorem, ipsum dolor.</span>
                    </li>
                </dl>
            </div>
    
            <div class="row">
                <h5>Practical Training</h5>
                <dl style="margin-left:20px;">
                    <li>
                        <span>Lorem, ipsum dolor sit amet consectetur adipisicing.</span>
                    </li>
                    <li>
                        <span>Lorem ipsum dolor sit amet.</span>
                    </li>
                    <li>
                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo.</span>
                    </li>
                    <li>
                        <span>Lorem, ipsum dolor.</span>
                    </li>
                </dl>
            </div>
    
            <div class="row">
                <h5>Do you have any further comments 
                    that you feel would be constructive for future students?</h5>
                <dl style="margin-left:20px;">
                    <li>
                        <span>Lorem, ipsum dolor sit amet consectetur adipisicing.</span>
                    </li>
                    <li>
                        <span>Lorem ipsum dolor sit amet.</span>
                    </li>
                    <li>
                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo.</span>
                    </li>
                    <li>
                        <span>Lorem, ipsum dolor.</span>
                    </li>
                </dl>
            </div>
    

</div>
{% endblock content %}

{% block script_tag %}
<script src="{% static "pages/js/mso.js" %}" type="text/javascript"></script>
{% if msg %}
<script>
    Materialize.toast('{{ msg }}', 8000, 'rounded');
</script>
{% endif %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
    // Load google charts
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    
    // Draw the chart and set the chart values
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
      ['', ''],
      ['Poor', 2],
      ['Good', 4],
      ['Very Good', 9],
      ['Excellent', 15],
    ]);
    
      // Optional; add a title and set the width and height of the chart
      var options = {'title':'', 'width':950, 'height':600};
    
      // Display the chart inside the <div> element with id="piechart"
      var chart = new google.visualization.PieChart(document.getElementById('piechart'));
      chart.draw(data, options);
    }
    </script>

{% endblock script_tag %}
