{% extends 'cns_base.html' %}
{% load static %}
{% block title %} Thank You {% endblock title %}

{% block linktag %}
<link rel="stylesheet" type="text/css" href="{% static "pages/css/mso.css" %}"> {% endblock linktag %}


{% block content %}
<div class="container">
    <br>
    <br>
    <h5 class="center">Your Feedback Has Been Submitted Successfully. Thank You For Time.</h5>
</div>
{% endblock content %}


{% block script_tag %}
<script src="{% static "pages/js/mso.js" %}" type="text/javascript"></script>
{% if msg != '' %}
<script>
    Materialize.toast('{{ msg }}', 8000, 'rounded');
</script>
{% endif %}

<script>
    function verifyForm(){
        subject_type_val = $('#subject_type option:selected').text()
        course_details_val = $('#course_details').val()
        course_name_val = $('#course_name').val()
        course_subjects_val = $('#course_subjects').val()
        if (course_details_val == ''){
            Materialize.toast('Please Fill Course Details', 8000, 'rounded');
            return false
        }
        if (course_name_val == ''){
            Materialize.toast('Please Fill Course Name', 8000, 'rounded');
            return false
        }
        if (course_subjects_val == ''){
            Materialize.toast('Please Select Subjects', 8000, 'rounded');
            return false
        }
    }
</script>

{% endblock script_tag %}