{% extends 'cns_base.html' %}
{% load static %}
{% block title %} Feedback - {{batch}} {% endblock title %}

{% block linktag %}
<link rel="stylesheet" type="text/css" href="{% static "pages/css/mso.css" %}"> {% endblock linktag %}


{% block content %}
<div class="container">
    <br>
    <br>
    <h4 class="center">Batch: {{ batch }}</h4>
    <div class="row">
        <div class="col s12 m6">
            <h5 class="center">Administration</h5>
            <div class="row">
                <div class="col s12">
                    <span>1. Did you find your Induction Day useful?</span>
                </div>
                <br>
                <br>
                <div class="row" style="margin-left:20px;">
                    <div class="col s3">{{rad_btn_ans.q1a.pr}}. Poor</div>
                    <div class="col s3">{{rad_btn_ans.q1a.gd}}. Good</div>
                    <div class="col s3">{{rad_btn_ans.q1a.vg}}. Very Good</div>
                    <div class="col s3">{{rad_btn_ans.q1a.ex}}. Excellent</div>
                </div>
            </div>
    
    
            <div class="row">
                <div class="col s12">
                    <span>2. Did you find the Administration staff customer friendly and accessible?</span>
                </div>
                <br>
                <br>
                <div class="row" style="margin-left:20px;">
                    <div class="col s3">{{rad_btn_ans.q2a.pr}}. Poor</div>
                    <div class="col s3">{{rad_btn_ans.q2a.gd}}. Good</div>
                    <div class="col s3">{{rad_btn_ans.q2a.vg}}. Very Good</div>
                    <div class="col s3">{{rad_btn_ans.q2a.ex}}. Excellent</div>
                </div>
            </div>
    
    
            <h5 class="center">Accounts</h5>
            <div class="row">
                <div class="col s12">
                    <span>3. Did you find the Accounts department to be efficient when dealing with your account?</span>
                </div>
                <br>
                <br>
                <div class="row" style="margin-left:20px;">
                    <div class="col s3">{{rad_btn_ans.q3a.pr}}. Poor</div>
                    <div class="col s3">{{rad_btn_ans.q3a.gd}}. Good</div>
                    <div class="col s3">{{rad_btn_ans.q3a.vg}}. Very Good</div>
                    <div class="col s3">{{rad_btn_ans.q3a.ex}}. Excellent</div>
                </div>
            </div>
    
    
            <div class="row">
                <div class="col s12">
                    <span>4. Did you experience any problems with the handling of your account?</span>
                </div>
                <br>
                <br>
                <div class="row" style="margin-left:20px;">
                    <div class="col s3">{{rad_btn_ans.q4a.pr}}. Poor</div>
                    <div class="col s3">{{rad_btn_ans.q4a.gd}}. Good</div>
                    <div class="col s3">{{rad_btn_ans.q4a.vg}}. Very Good</div>
                    <div class="col s3">{{rad_btn_ans.q4a.ex}}. Excellent</div>
                </div>
            </div>
    
    
            <div class="row">
                <div class="col s12">
                    <span>5. Did you find the accounts department customer friendly?</span>
                </div>
                <br>
                <br>
                <div class="row" style="margin-left:20px;">
                    <div class="col s3">{{rad_btn_ans.q5a.pr}}. Poor</div>
                    <div class="col s3">{{rad_btn_ans.q5a.gd}}. Good</div>
                    <div class="col s3">{{rad_btn_ans.q5a.vg}}. Very Good</div>
                    <div class="col s3">{{rad_btn_ans.q5a.ex}}. Excellent</div>
                </div>
            </div>
    
        </div>


        <div class="col s12 m6">
            <div id="piechart"></div>
        </div>
    </div>
    <div class="row">
            <h5 class="center">Theory Training </h5>
            <div class="row">
                <div class="col s12">
                    <span>6. Classroom size (both physical and for the number of students)</span>
                </div>
                <br>
                <br>
                <div class="row" style="margin-left:20px;">
                    <div class="col s3">{{rad_btn_ans.q6a.pr}}. Poor</div>
                    <div class="col s3">{{rad_btn_ans.q6a.gd}}. Good</div>
                    <div class="col s3">{{rad_btn_ans.q6a.vg}}. Very Good</div>
                    <div class="col s3">{{rad_btn_ans.q6a.ex}}. Excellent</div>
                </div>
            </div>
            
            
                <div class="col s12">
                    <span>7. Availability of restroom and refreshment facilities</span>
                </div>
                <br>
                <br>
                <div class="row" style="margin-left:20px;">
                    <div class="col s3">{{rad_btn_ans.q7a.pr}}. Poor</div>
                    <div class="col s3">{{rad_btn_ans.q7a.gd}}. Good</div>
                    <div class="col s3">{{rad_btn_ans.q7a.vg}}. Very Good</div>
                    <div class="col s3">{{rad_btn_ans.q7a.ex}}. Excellent</div>
                </div>
            </div>
    
    
            <div class="row">
                <div class="col s12">
                    <span>8. Quality of teaching aids – were they suitable? Could they be improved</span>
                </div>
                <br>
                <br>
                <div class="row" style="margin-left:20px;">
                    <div class="col s3">{{rad_btn_ans.q8a.pr}}. Poor</div>
                    <div class="col s3">{{rad_btn_ans.q8a.gd}}. Good</div>
                    <div class="col s3">{{rad_btn_ans.q8a.vg}}. Very Good</div>
                    <div class="col s3">{{rad_btn_ans.q8a.ex}}. Excellent</div>
                </div>
            </div>
    
    
            <div class="row">
                <div class="col s12">
                    <span>9. Quality of the Course Notes</span>
                </div>
                <br>
                <br>
                <div class="row" style="margin-left:20px;">
                    <div class="col s3">{{rad_btn_ans.q9a.pr}}. Poor</div>
                    <div class="col s3">{{rad_btn_ans.q9a.gd}}. Good</div>
                    <div class="col s3">{{rad_btn_ans.q9a.vg}}. Very Good</div>
                    <div class="col s3">{{rad_btn_ans.q9a.ex}}. Excellent</div>
                </div>
            </div>
    
    
            <div class="row">
                <div class="col s12">
                    <span>10. How did you find your weekly / daily programme?</span>
                </div>
                <br>
                <br>
                <div class="row" style="margin-left:20px;">
                    <div class="col s3">{{rad_btn_ans.q10a.pr}}. Poor</div>
                    <div class="col s3">{{rad_btn_ans.q10a.vg}}. Good</div>
                    <div class="col s3">{{rad_btn_ans.q10a.gd}}. Very Good</div>
                    <div class="col s3">{{rad_btn_ans.q10a.ex}}. Excellent</div>
                </div>
            </div>
    
    
            <h5 class="center">ATC Instructors  </h5>
            <div class="row">
                <div class="col s12">
                    <span>11. Were the instructors effective in their teaching?</span>
                </div>
                <br>
                <br>
                <div class="row" style="margin-left:20px;">
                    <div class="col s3">{{rad_btn_ans.q11a.pr}}. Poor</div>
                    <div class="col s3">{{rad_btn_ans.q11a.gd}}. Good</div>
                    <div class="col s3">{{rad_btn_ans.q11a.vg}}. Very Good</div>
                    <div class="col s3">{{rad_btn_ans.q11a.ex}}. Excellent</div>
                </div>
            </div>
    
    
            <div class="row">
                <div class="col s12">
                    <span>12. Did they empathies with the students?</span>
                </div>
                <br>
                <br>
                <div class="row" style="margin-left:20px;">
                    <div class="col s3">{{rad_btn_ans.q12a.pr}}. Poor</div>
                    <div class="col s3">{{rad_btn_ans.q12a.gd}}. Good</div>
                    <div class="col s3">{{rad_btn_ans.q12a.vg}}. Very Good</div>
                    <div class="col s3">{{rad_btn_ans.q12a.ex}}. Excellent</div>
                </div>
            </div>
    
    
            <div class="row">
                <div class="col s12">
                    <span>13. Did they cover the entire syllabus as per the Learning Objectives?</span>
                </div>
                <br>
                <br>
                <div class="row" style="margin-left:20px;">
                    <div class="col s3">{{rad_btn_ans.q13a.pr}}. Poor</div>
                    <div class="col s3">{{rad_btn_ans.q13a.gd}}. Good</div>
                    <div class="col s3">{{rad_btn_ans.q13a.vg}}. Very Good</div>
                    <div class="col s3">{{rad_btn_ans.q13a.ex}}. Excellent</div>
                </div>
            </div>
    
    
            <div class="row">
                <div class="col s12">
                    <span>14. If you failed an examination, do you feel that the follow up by the 
                        instructors &staff was sufficient to help you through the rest?</span>
                </div>
                <br>
                <br>
                <div class="row" style="margin-left:20px;">
                    <div class="col s3">{{rad_btn_ans.q14a.pr}}. Poor</div>
                    <div class="col s3">{{rad_btn_ans.q14a.gd}}. Good</div>
                    <div class="col s3">{{rad_btn_ans.q14a.vg}}. Very Good</div>
                    <div class="col s3">{{rad_btn_ans.q14a.ex}}. Excellent</div>
                </div>
            </div>
    
    
            <div class="row">
                <div class="col s12">
                    <span>15. Did you have adequate accessibility to your instructors and senior staff?</span>
                </div>
                <br>
                <br>
                <div class="row" style="margin-left:20px;">
                    <div class="col s3">{{rad_btn_ans.q15a.pr}}. Poor</div>
                    <div class="col s3">{{rad_btn_ans.q15a.gd}}. Good</div>
                    <div class="col s3">{{rad_btn_ans.q15a.vg}}. Very Good</div>
                    <div class="col s3">{{rad_btn_ans.q15a.ex}}. Excellent</div>
                </div>
            </div>
    
    
            <div class="row">
                <div class="col s12">
                    <span>16. Were you happy with the programme of training and were you kept informed of your Training programme?</span>
                </div>
                <br>
                <br>
                <div class="row" style="margin-left:20px;">
                    <div class="col s3">{{rad_btn_ans.q16a.pr}}. Poor</div>
                    <div class="col s3">{{rad_btn_ans.q16a.gd}}. Good</div>
                    <div class="col s3">{{rad_btn_ans.q16a.vg}}. Very Good</div>
                    <div class="col s3">{{rad_btn_ans.q16a.ex}}. Excellent</div>
                </div>
            </div>
    
            <h5 class="center">Practical Training</h5>
            <div class="row">
                <div class="col s12">
                    <span>17. How did you find the practical training in terms of: Introductory briefings – 
                        were they comprehensive enough?</span>
                </div>
                <br>
                <br>
                <div class="row" style="margin-left:20px;">
                    <div class="col s3">{{rad_btn_ans.q17a.pr}}. Poor</div>
                    <div class="col s3">{{rad_btn_ans.q17a.gd}}. Good</div>
                    <div class="col s3">{{rad_btn_ans.q17a.vg}}. Very Good</div>
                    <div class="col s3">{{rad_btn_ans.q17a.ex}}. Excellent</div>
                </div>
            </div>
    
    
            <div class="row">
                <div class="col s12">
                    <span>18. Study Material – was it suitable? Could it be improved?</span>
                </div>
                <br>
                <br>
                <div class="row" style="margin-left:20px;">
                    <div class="col s3">{{rad_btn_ans.q18a.pr}}. Poor</div>
                    <div class="col s3">{{rad_btn_ans.q18a.gd}}. Good</div>
                    <div class="col s3">{{rad_btn_ans.q18a.vg}}. Very Good</div>
                    <div class="col s3">{{rad_btn_ans.q18a.ex}}. Excellent</div>
                </div>
            </div>
    
    
            <div class="row">
                <div class="col s12">
                    <span>19. Did the pre- briefings prepare you sufficiently for every practical training?</span>
                </div>
                <br>
                <br>
                <div class="row" style="margin-left:20px;">
                    <div class="col s3">{{rad_btn_ans.q19a.pr}}. Poor</div>
                    <div class="col s3">{{rad_btn_ans.q19a.gd}}. Good</div>
                    <div class="col s3">{{rad_btn_ans.q19a.vg}}. Very Good</div>
                    <div class="col s3">{{rad_btn_ans.q19a.ex}}. Excellent</div>
                </div>
            </div>
    
    
            <div class="row">
                <div class="col s12">
                    <span>20. Are you happy with the practical instruction that you received?</span>
                </div>
                <br>
                <br>
                <div class="row" style="margin-left:20px;">
                    <div class="col s3">{{rad_btn_ans.q20a.pr}}. Poor</div>
                    <div class="col s3">{{rad_btn_ans.q20a.gd}}. Good</div>
                    <div class="col s3">{{rad_btn_ans.q20a.vg}}. Very Good</div>
                    <div class="col s3">{{rad_btn_ans.q20a.ex}}. Excellent</div>
                </div>
            </div>
    
    
            <div class="row">
                <div class="col s12">
                    <span>21. Were your post-ATC simulation de-briefs constructive?</span>
                </div>
                <br>
                <br>
                <div class="row" style="margin-left:20px;">
                    <div class="col s3">{{rad_btn_ans.q21a.pr}}. Poor</div>
                    <div class="col s3">{{rad_btn_ans.q21a.gd}}. Good</div>
                    <div class="col s3">{{rad_btn_ans.q21a.vg}}. Very Good</div>
                    <div class="col s3">{{rad_btn_ans.q21a.ex}}. Excellent</div>
                </div>
            </div>
    
    
            <div class="row">
                <div class="col s12">
                    <span>22. Do you think you received adequate and comprehensive familiarization on the ATC Simulator?</span>
                </div>
                <br>
                <br>
                <div class="row" style="margin-left:20px;">
                    <div class="col s3">{{rad_btn_ans.q22a.pr}}. Poor</div>
                    <div class="col s3">{{rad_btn_ans.q22a.gd}}. Good</div>
                    <div class="col s3">{{rad_btn_ans.q22a.vg}}. Very Good</div>
                    <div class="col s3">{{rad_btn_ans.q22a.ex}}. Excellent</div>
                </div>
            </div>
    
    
            <div class="row">
                <div class="col s12">
                    <span>23. Do you think the standard of briefing and instruction you received from 
                        the ATC practical training instructors was to an adequate and high standard?</span>
                </div>
                <br>
                <br>
                <div class="row" style="margin-left:20px;">
                    <div class="col s3">{{rad_btn_ans.q23a.pr}}. Poor</div>
                    <div class="col s3">{{rad_btn_ans.q23a.gd}}. Good</div>
                    <div class="col s3">{{rad_btn_ans.q23a.vg}}. Very Good</div>
                    <div class="col s3">{{rad_btn_ans.q23a.ex}}. Excellent</div>
                </div>
            </div>
    
    
            <div class="row">
                <div class="col s12">
                    <span>24. Were you happy with the practical training facilities?</span>
                </div>
                <br>
                <br>
                <div class="row" style="margin-left:20px;">
                    <div class="col s3">{{rad_btn_ans.q24a.pr}}. Poor</div>
                    <div class="col s3">{{rad_btn_ans.q24a.gd}}. Good</div>
                    <div class="col s3">{{rad_btn_ans.q24a.vg}}. Very Good</div>
                    <div class="col s3">{{rad_btn_ans.q24a.ex}}. Excellent</div>
                </div>
            </div>
    
            <h5 class="center">Suggestions</h5>
            <br>
            <br>
            <h5>Administration</h5>
            <dl style="margin-left:20px;">
                {% for i in suggestions.q25a %}
                    <li>{{i}}</li>
                {% endfor %}
            </dl>
    
            <div class="row">
                <h5>Theoretical Training</h5>
                <dl style="margin-left:20px;">
                    {% for i in suggestions.q26a %}
                        <li>{{i}}</li>
                    {% endfor %}
                </dl>
            </div>
    
            <div class="row">
                <h5>Practical Training</h5>
                <dl style="margin-left:20px;">
                    {% for i in suggestions.q27a %}
                        <li>{{i}}</li>
                    {% endfor %}
                </dl>
            </div>
    
            <div class="row">
                <h5>Do you have any further comments 
                    that you feel would be constructive for future students?</h5>
                <dl style="margin-left:20px;">
                    {% for i in suggestions.q28a %}
                        <li>{{i}}</li>
                    {% endfor %}
                </dl>
            </div>
</div>
{% endblock content %}

{% block script_tag %}
<script src="{% static "pages/js/mso.js" %}" type="text/javascript"></script>
{% if msg %}
<script>
    Materialize.toast('{{ msg }}', 8000, 'rounded');
</script>
{% endif %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
    // Load google charts
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    
    // Draw the chart and set the chart values
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
      ['', ''],
      ['Poor', {{chart_cntr.Poor}}],
      ['Good', {{chart_cntr.Good}}],
      ['Very Good', {{chart_cntr.vg}}],
      ['Excellent', {{chart_cntr.Excellent}}],
    ]);
    
      // Optional; add a title and set the width and height of the chart
      var options = {'title':'', 'width':950, 'height':600};
    
      // Display the chart inside the <div> element with id="piechart"
      var chart = new google.visualization.PieChart(document.getElementById('piechart'));
      chart.draw(data, options);
    }
    </script>

{% endblock script_tag %}
