{% extends 'cns_base.html' %}
{% load static %}
{% block title %} MATERIAL-ICONS {% endblock title %}

{% block content %}
<br>
<br>
<i class="large material-icons">3d_rotation</i>
<i class="large material-icons">ac_unit</i>
<i class="large material-icons">access_alarm</i>
<i class="large material-icons">access_alarms</i>
<i class="large material-icons">access_time</i>
<i class="large material-icons">accessibility</i>
<i class="large material-icons">accessible</i>
<i class="large material-icons">account_balance</i>
<i class="large material-icons">account_balance_wallet</i>
<i class="large material-icons">account_box</i>
<i class="large material-icons">account_circle</i>
<i class="large material-icons">adb</i>
<i class="large material-icons">add</i>
<i class="large material-icons">add_a_photo</i>
<i class="large material-icons">add_alarm</i>
<i class="large material-icons">add_alert</i>
<i class="large material-icons">add_box</i>
<i class="large material-icons">add_circle</i>
<i class="large material-icons">add_circle_outline</i>
<i class="large material-icons">add_location</i>
<i class="large material-icons">add_shopping_cart</i>
<i class="large material-icons">add_to_photos</i>
<i class="large material-icons">add_to_queue</i>
<i class="large material-icons">adjust</i>
<i class="large material-icons">airline_seat_flat</i>
<i class="large material-icons">airline_seat_flat_angled</i>
<i class="large material-icons">airline_seat_individual_suite</i>
<i class="large material-icons">airline_seat_legroom_extra</i>
<i class="large material-icons">airline_seat_legroom_normal</i>
<i class="large material-icons">airline_seat_legroom_reduced</i>
<i class="large material-icons">airline_seat_recline_extra</i>
<i class="large material-icons">airline_seat_recline_normal</i>
<i class="large material-icons">airplanemode_active</i>
<i class="large material-icons">airplanemode_inactive</i>
<i class="large material-icons">airplay</i>
<i class="large material-icons">airport_shuttle</i>
<i class="large material-icons">alarm</i>
<i class="large material-icons">alarm_add</i>
<i class="large material-icons">alarm_off</i>
<i class="large material-icons">alarm_on</i>
<i class="large material-icons">album</i>
<i class="large material-icons">all_inclusive</i>
<i class="large material-icons">all_out</i>
<i class="large material-icons">android</i>
<i class="large material-icons">announcement</i>
<i class="large material-icons">apps</i>
<i class="large material-icons">archive</i>
<i class="large material-icons">arrow_back</i>
<i class="large material-icons">arrow_downward</i>
<i class="large material-icons">arrow_drop_down</i>
<i class="large material-icons">arrow_drop_down_circle</i>
<i class="large material-icons">arrow_drop_up</i>
<i class="large material-icons">arrow_forward</i>
<i class="large material-icons">arrow_upward</i>
<i class="large material-icons">art_track</i>
<i class="large material-icons">aspect_ratio</i>
<i class="large material-icons">assessment</i>
<i class="large material-icons">assignment</i>
<i class="large material-icons">assignment_ind</i>
<i class="large material-icons">assignment_late</i>
<i class="large material-icons">assignment_return</i>
<i class="large material-icons">assignment_returned</i>
<i class="large material-icons">assignment_turned_in</i>
<i class="large material-icons">assistant</i>
<i class="large material-icons">assistant_photo</i>
<i class="large material-icons">attach_file</i>
<i class="large material-icons">attach_money</i>
<i class="large material-icons">attachment</i>
<i class="large material-icons">audiotrack</i>
<i class="large material-icons">autorenew</i>
<i class="large material-icons">av_timer</i>
<i class="large material-icons">backspace</i>
<i class="large material-icons">backup</i>
<i class="large material-icons">battery_alert</i>
<i class="large material-icons">battery_charging_full</i>
<i class="large material-icons">battery_full</i>
<i class="large material-icons">battery_std</i>
<i class="large material-icons">battery_unknown</i>
<i class="large material-icons">beach_access</i>
<i class="large material-icons">beenhere</i>
<i class="large material-icons">block</i>
<i class="large material-icons">bluetooth</i>
<i class="large material-icons">bluetooth_audio</i>
<i class="large material-icons">bluetooth_connected</i>
<i class="large material-icons">bluetooth_disabled</i>
<i class="large material-icons">bluetooth_searching</i>
<i class="large material-icons">blur_circular</i>
<i class="large material-icons">blur_linear</i>
<i class="large material-icons">blur_off</i>
<i class="large material-icons">blur_on</i>
<i class="large material-icons">book</i>
<i class="large material-icons">bookmark</i>
<i class="large material-icons">bookmark_border</i>
<i class="large material-icons">border_all</i>
<i class="large material-icons">border_bottom</i>
<i class="large material-icons">border_clear</i>
<i class="large material-icons">border_color</i>
<i class="large material-icons">border_horizontal</i>
<i class="large material-icons">border_inner</i>
<i class="large material-icons">border_left</i>
<i class="large material-icons">border_outer</i>
<i class="large material-icons">border_right</i>
<i class="large material-icons">border_style</i>
<i class="large material-icons">border_top</i>
<i class="large material-icons">border_vertical</i>
<i class="large material-icons">branding_watermark</i>
<i class="large material-icons">brightness_1</i>
<i class="large material-icons">brightness_2</i>
<i class="large material-icons">brightness_3</i>
<i class="large material-icons">brightness_4</i>
<i class="large material-icons">brightness_5</i>
<i class="large material-icons">brightness_6</i>
<i class="large material-icons">brightness_7</i>
<i class="large material-icons">brightness_auto</i>
<i class="large material-icons">brightness_high</i>
<i class="large material-icons">brightness_low</i>
<i class="large material-icons">brightness_medium</i>
<i class="large material-icons">broken_image</i>
<i class="large material-icons">brush</i>
<i class="large material-icons">bubble_chart</i>
<i class="large material-icons">bug_report</i>
<i class="large material-icons">build</i>
<i class="large material-icons">burst_mode</i>
<i class="large material-icons">business</i>
<i class="large material-icons">business_center</i>
<i class="large material-icons">cached</i>
<i class="large material-icons">cake</i>
<i class="large material-icons">call</i>
<i class="large material-icons">call_end</i>
<i class="large material-icons">call_made</i>
<i class="large material-icons">call_merge</i>
<i class="large material-icons">call_missed</i>
<i class="large material-icons">call_missed_outgoing</i>
<i class="large material-icons">call_received</i>
<i class="large material-icons">call_split</i>
<i class="large material-icons">call_to_action</i>
<i class="large material-icons">camera</i>
<i class="large material-icons">camera_alt</i>
<i class="large material-icons">camera_enhance</i>
<i class="large material-icons">camera_front</i>
<i class="large material-icons">camera_rear</i>
<i class="large material-icons">camera_roll</i>
<i class="large material-icons">cancel</i>
<i class="large material-icons">card_giftcard</i>
<i class="large material-icons">card_membership</i>
<i class="large material-icons">card_travel</i>
<i class="large material-icons">casino</i>
<i class="large material-icons">cast</i>
<i class="large material-icons">cast_connected</i>
<i class="large material-icons">center_focus_strong</i>
<i class="large material-icons">center_focus_weak</i>
<i class="large material-icons">change_history</i>
<i class="large material-icons">chat</i>
<i class="large material-icons">chat_bubble</i>
<i class="large material-icons">chat_bubble_outline</i>
<i class="large material-icons">check</i>
<i class="large material-icons">check_box</i>
<i class="large material-icons">check_box_outline_blank</i>
<i class="large material-icons">check_circle</i>
<i class="large material-icons">chevron_left</i>
<i class="large material-icons">chevron_right</i>
<i class="large material-icons">child_care</i>
<i class="large material-icons">child_friendly</i>
<i class="large material-icons">chrome_reader_mode</i>
<i class="large material-icons">class</i>
<i class="large material-icons">clear</i>
<i class="large material-icons">clear_all</i>
<i class="large material-icons">close</i>
<i class="large material-icons">closed_caption</i>
<i class="large material-icons">cloud</i>
<i class="large material-icons">cloud_circle</i>
<i class="large material-icons">cloud_done</i>
<i class="large material-icons">cloud_download</i>
<i class="large material-icons">cloud_off</i>
<i class="large material-icons">cloud_queue</i>
<i class="large material-icons">cloud_upload</i>
<i class="large material-icons">code</i>
<i class="large material-icons">collections</i>
<i class="large material-icons">collections_bookmark</i>
<i class="large material-icons">color_lens</i>
<i class="large material-icons">colorize</i>
<i class="large material-icons">comment</i>
<i class="large material-icons">compare</i>
<i class="large material-icons">compare_arrows</i>
<i class="large material-icons">computer</i>
<i class="large material-icons">confirmation_number</i>
<i class="large material-icons">contact_mail</i>
<i class="large material-icons">contact_phone</i>
<i class="large material-icons">contacts</i>
<i class="large material-icons">content_copy</i>
<i class="large material-icons">content_cut</i>
<i class="large material-icons">content_paste</i>
<i class="large material-icons">control_point</i>
<i class="large material-icons">control_point_duplicate</i>
<i class="large material-icons">copyright</i>
<i class="large material-icons">create</i>
<i class="large material-icons">create_new_folder</i>
<i class="large material-icons">credit_card</i>
<i class="large material-icons">crop</i>
<i class="large material-icons">crop_16_9</i>
<i class="large material-icons">crop_3_2</i>
<i class="large material-icons">crop_5_4</i>
<i class="large material-icons">crop_7_5</i>
<i class="large material-icons">crop_din</i>
<i class="large material-icons">crop_free</i>
<i class="large material-icons">crop_landscape</i>
<i class="large material-icons">crop_original</i>
<i class="large material-icons">crop_portrait</i>
<i class="large material-icons">crop_rotate</i>
<i class="large material-icons">crop_square</i>
<i class="large material-icons">dashboard</i>
<i class="large material-icons">data_usage</i>
<i class="large material-icons">date_range</i>
<i class="large material-icons">dehaze</i>
<i class="large material-icons">delete</i>
<i class="large material-icons">delete_forever</i>
<i class="large material-icons">delete_sweep</i>
<i class="large material-icons">description</i>
<i class="large material-icons">desktop_mac</i>
<i class="large material-icons">desktop_windows</i>
<i class="large material-icons">details</i>
<i class="large material-icons">developer_board</i>
<i class="large material-icons">developer_mode</i>
<i class="large material-icons">device_hub</i>
<i class="large material-icons">devices</i>
<i class="large material-icons">devices_other</i>
<i class="large material-icons">dialer_sip</i>
<i class="large material-icons">dialpad</i>
<i class="large material-icons">directions</i>
<i class="large material-icons">directions_bike</i>
<i class="large material-icons">directions_boat</i>
<i class="large material-icons">directions_bus</i>
<i class="large material-icons">directions_car</i>
<i class="large material-icons">directions_railway</i>
<i class="large material-icons">directions_run</i>
<i class="large material-icons">directions_subway</i>
<i class="large material-icons">directions_transit</i>
<i class="large material-icons">directions_walk</i>
<i class="large material-icons">disc_full</i>
<i class="large material-icons">dns</i>
<i class="large material-icons">do_not_disturb</i>
<i class="large material-icons">do_not_disturb_alt</i>
<i class="large material-icons">do_not_disturb_off</i>
<i class="large material-icons">do_not_disturb_on</i>
<i class="large material-icons">dock</i>
<i class="large material-icons">domain</i>
<i class="large material-icons">done</i>
<i class="large material-icons">done_all</i>
<i class="large material-icons">donut_large</i>
<i class="large material-icons">donut_small</i>
<i class="large material-icons">drafts</i>
<i class="large material-icons">drag_handle</i>
<i class="large material-icons">drive_eta</i>
<i class="large material-icons">dvr</i>
<i class="large material-icons">edit</i>
<i class="large material-icons">edit_location</i>
<i class="large material-icons">eject</i>
<i class="large material-icons">email</i>
<i class="large material-icons">enhanced_encryption</i>
<i class="large material-icons">equalizer</i>
<i class="large material-icons">error</i>
<i class="large material-icons">error_outline</i>
<i class="large material-icons">euro_symbol</i>
<i class="large material-icons">ev_station</i>
<i class="large material-icons">event</i>
<i class="large material-icons">event_available</i>
<i class="large material-icons">event_busy</i>
<i class="large material-icons">event_note</i>
<i class="large material-icons">event_seat</i>
<i class="large material-icons">exit_to_app</i>
<i class="large material-icons">expand_less</i>
<i class="large material-icons">expand_more</i>
<i class="large material-icons">explicit</i>
<i class="large material-icons">explore</i>
<i class="large material-icons">exposure</i>
<i class="large material-icons">exposure_neg_1</i>
<i class="large material-icons">exposure_neg_2</i>
<i class="large material-icons">exposure_plus_1</i>
<i class="large material-icons">exposure_plus_2</i>
<i class="large material-icons">exposure_zero</i>
<i class="large material-icons">extension</i>
<i class="large material-icons">face</i>
<i class="large material-icons">fast_forward</i>
<i class="large material-icons">fast_rewind</i>
<i class="large material-icons">favorite</i>
<i class="large material-icons">favorite_border</i>
<i class="large material-icons">featured_play_list</i>
<i class="large material-icons">featured_video</i>
<i class="large material-icons">feedback</i>
<i class="large material-icons">fiber_dvr</i>
<i class="large material-icons">fiber_manual_record</i>
<i class="large material-icons">fiber_new</i>
<i class="large material-icons">fiber_pin</i>
<i class="large material-icons">fiber_smart_record</i>
<i class="large material-icons">file_download</i>
<i class="large material-icons">file_upload</i>
<i class="large material-icons">filter</i>
<i class="large material-icons">filter_1</i>
<i class="large material-icons">filter_2</i>
<i class="large material-icons">filter_3</i>
<i class="large material-icons">filter_4</i>
<i class="large material-icons">filter_5</i>
<i class="large material-icons">filter_6</i>
<i class="large material-icons">filter_7</i>
<i class="large material-icons">filter_8</i>
<i class="large material-icons">filter_9</i>
<i class="large material-icons">filter_9_plus</i>
<i class="large material-icons">filter_b_and_w</i>
<i class="large material-icons">filter_center_focus</i>
<i class="large material-icons">filter_drama</i>
<i class="large material-icons">filter_frames</i>
<i class="large material-icons">filter_hdr</i>
<i class="large material-icons">filter_list</i>
<i class="large material-icons">filter_none</i>
<i class="large material-icons">filter_tilt_shift</i>
<i class="large material-icons">filter_vintage</i>
<i class="large material-icons">find_in_page</i>
<i class="large material-icons">find_replace</i>
<i class="large material-icons">fingerprint</i>
<i class="large material-icons">first_page</i>
<i class="large material-icons">fitness_center</i>
<i class="large material-icons">flag</i>
<i class="large material-icons">flare</i>
<i class="large material-icons">flash_auto</i>
<i class="large material-icons">flash_off</i>
<i class="large material-icons">flash_on</i>
<i class="large material-icons">flight</i>
<i class="large material-icons">flight_land</i>
<i class="large material-icons">flight_takeoff</i>
<i class="large material-icons">flip</i>
<i class="large material-icons">flip_to_back</i>
<i class="large material-icons">flip_to_front</i>
<i class="large material-icons">folder</i>
<i class="large material-icons">folder_open</i>
<i class="large material-icons">folder_shared</i>
<i class="large material-icons">folder_special</i>
<i class="large material-icons">font_download</i>
<i class="large material-icons">format_align_center</i>
<i class="large material-icons">format_align_justify</i>
<i class="large material-icons">format_align_left</i>
<i class="large material-icons">format_align_right</i>
<i class="large material-icons">format_bold</i>
<i class="large material-icons">format_clear</i>
<i class="large material-icons">format_color_fill</i>
<i class="large material-icons">format_color_reset</i>
<i class="large material-icons">format_color_text</i>
<i class="large material-icons">format_indent_decrease</i>
<i class="large material-icons">format_indent_increase</i>
<i class="large material-icons">format_italic</i>
<i class="large material-icons">format_line_spacing</i>
<i class="large material-icons">format_list_bulleted</i>
<i class="large material-icons">format_list_numbered</i>
<i class="large material-icons">format_paint</i>
<i class="large material-icons">format_quote</i>
<i class="large material-icons">format_shapes</i>
<i class="large material-icons">format_size</i>
<i class="large material-icons">format_strikethrough</i>
<i class="large material-icons">format_textdirection_l_to_r</i>
<i class="large material-icons">format_textdirection_r_to_l</i>
<i class="large material-icons">format_underlined</i>
<i class="large material-icons">forum</i>
<i class="large material-icons">forward</i>
<i class="large material-icons">forward_10</i>
<i class="large material-icons">forward_30</i>
<i class="large material-icons">forward_5</i>
<i class="large material-icons">free_breakfast</i>
<i class="large material-icons">fullscreen</i>
<i class="large material-icons">fullscreen_exit</i>
<i class="large material-icons">functions</i>
<i class="large material-icons">g_translate</i>
<i class="large material-icons">gamepad</i>
<i class="large material-icons">games</i>
<i class="large material-icons">gavel</i>
<i class="large material-icons">gesture</i>
<i class="large material-icons">get_app</i>
<i class="large material-icons">gif</i>
<i class="large material-icons">golf_course</i>
<i class="large material-icons">gps_fixed</i>
<i class="large material-icons">gps_not_fixed</i>
<i class="large material-icons">gps_off</i>
<i class="large material-icons">grade</i>
<i class="large material-icons">gradient</i>
<i class="large material-icons">grain</i>
<i class="large material-icons">graphic_eq</i>
<i class="large material-icons">grid_off</i>
<i class="large material-icons">grid_on</i>
<i class="large material-icons">group</i>
<i class="large material-icons">group_add</i>
<i class="large material-icons">group_work</i>
<i class="large material-icons">hd</i>
<i class="large material-icons">hdr_off</i>
<i class="large material-icons">hdr_on</i>
<i class="large material-icons">hdr_strong</i>
<i class="large material-icons">hdr_weak</i>
<i class="large material-icons">headset</i>
<i class="large material-icons">headset_mic</i>
<i class="large material-icons">healing</i>
<i class="large material-icons">hearing</i>
<i class="large material-icons">help</i>
<i class="large material-icons">help_outline</i>
<i class="large material-icons">high_quality</i>
<i class="large material-icons">highlight</i>
<i class="large material-icons">highlight_off</i>
<i class="large material-icons">history</i>
<i class="large material-icons">home</i>
<i class="large material-icons">hot_tub</i>
<i class="large material-icons">hotel</i>
<i class="large material-icons">hourglass_empty</i>
<i class="large material-icons">hourglass_full</i>
<i class="large material-icons">http</i>
<i class="large material-icons">https</i>
<i class="large material-icons">image</i>
<i class="large material-icons">image_aspect_ratio</i>
<i class="large material-icons">import_contacts</i>
<i class="large material-icons">import_export</i>
<i class="large material-icons">important_devices</i>
<i class="large material-icons">inbox</i>
<i class="large material-icons">indeterminate_check_box</i>
<i class="large material-icons">info</i>
<i class="large material-icons">info_outline</i>
<i class="large material-icons">input</i>
<i class="large material-icons">insert_chart</i>
<i class="large material-icons">insert_comment</i>
<i class="large material-icons">insert_drive_file</i>
<i class="large material-icons">insert_emoticon</i>
<i class="large material-icons">insert_invitation</i>
<i class="large material-icons">insert_link</i>
<i class="large material-icons">insert_photo</i>
<i class="large material-icons">invert_colors</i>
<i class="large material-icons">invert_colors_off</i>
<i class="large material-icons">iso</i>
<i class="large material-icons">keyboard</i>
<i class="large material-icons">keyboard_arrow_down</i>
<i class="large material-icons">keyboard_arrow_left</i>
<i class="large material-icons">keyboard_arrow_right</i>
<i class="large material-icons">keyboard_arrow_up</i>
<i class="large material-icons">keyboard_backspace</i>
<i class="large material-icons">keyboard_capslock</i>
<i class="large material-icons">keyboard_hide</i>
<i class="large material-icons">keyboard_return</i>
<i class="large material-icons">keyboard_tab</i>
<i class="large material-icons">keyboard_voice</i>
<i class="large material-icons">kitchen</i>
<i class="large material-icons">label</i>
<i class="large material-icons">label_outline</i>
<i class="large material-icons">landscape</i>
<i class="large material-icons">language</i>
<i class="large material-icons">laptop</i>
<i class="large material-icons">laptop_chromebook</i>
<i class="large material-icons">laptop_mac</i>
<i class="large material-icons">laptop_windows</i>
<i class="large material-icons">last_page</i>
<i class="large material-icons">launch</i>
<i class="large material-icons">layers</i>
<i class="large material-icons">layers_clear</i>
<i class="large material-icons">leak_add</i>
<i class="large material-icons">leak_remove</i>
<i class="large material-icons">lens</i>
<i class="large material-icons">library_add</i>
<i class="large material-icons">library_books</i>
<i class="large material-icons">library_music</i>
<i class="large material-icons">lightbulb_outline</i>
<i class="large material-icons">line_style</i>
<i class="large material-icons">line_weight</i>
<i class="large material-icons">linear_scale</i>
<i class="large material-icons">link</i>
<i class="large material-icons">linked_camera</i>
<i class="large material-icons">list</i>
<i class="large material-icons">live_help</i>
<i class="large material-icons">live_tv</i>
<i class="large material-icons">local_activity</i>
<i class="large material-icons">local_airport</i>
<i class="large material-icons">local_atm</i>
<i class="large material-icons">local_bar</i>
<i class="large material-icons">local_cafe</i>
<i class="large material-icons">local_car_wash</i>
<i class="large material-icons">local_convenience_store</i>
<i class="large material-icons">local_dining</i>
<i class="large material-icons">local_drink</i>
<i class="large material-icons">local_florist</i>
<i class="large material-icons">local_gas_station</i>
<i class="large material-icons">local_grocery_store</i>
<i class="large material-icons">local_hospital</i>
<i class="large material-icons">local_hotel</i>
<i class="large material-icons">local_laundry_service</i>
<i class="large material-icons">local_library</i>
<i class="large material-icons">local_mall</i>
<i class="large material-icons">local_movies</i>
<i class="large material-icons">local_offer</i>
<i class="large material-icons">local_parking</i>
<i class="large material-icons">local_pharmacy</i>
<i class="large material-icons">local_phone</i>
<i class="large material-icons">local_pizza</i>
<i class="large material-icons">local_play</i>
<i class="large material-icons">local_post_office</i>
<i class="large material-icons">local_printshop</i>
<i class="large material-icons">local_see</i>
<i class="large material-icons">local_shipping</i>
<i class="large material-icons">local_taxi</i>
<i class="large material-icons">location_city</i>
<i class="large material-icons">location_disabled</i>
<i class="large material-icons">location_off</i>
<i class="large material-icons">location_on</i>
<i class="large material-icons">location_searching</i>
<i class="large material-icons">lock</i>
<i class="large material-icons">lock_open</i>
<i class="large material-icons">lock_outline</i>
<i class="large material-icons">looks</i>
<i class="large material-icons">looks_3</i>
<i class="large material-icons">looks_4</i>
<i class="large material-icons">looks_5</i>
<i class="large material-icons">looks_6</i>
<i class="large material-icons">looks_one</i>
<i class="large material-icons">looks_two</i>
<i class="large material-icons">loop</i>
<i class="large material-icons">loupe</i>
<i class="large material-icons">low_priority</i>
<i class="large material-icons">loyalty</i>
<i class="large material-icons">mail</i>
<i class="large material-icons">mail_outline</i>
<i class="large material-icons">map</i>
<i class="large material-icons">markunread</i>
<i class="large material-icons">markunread_mailbox</i>
<i class="large material-icons">memory</i>
<i class="large material-icons">menu</i>
<i class="large material-icons">merge_type</i>
<i class="large material-icons">message</i>
<i class="large material-icons">mic</i>
<i class="large material-icons">mic_none</i>
<i class="large material-icons">mic_off</i>
<i class="large material-icons">mms</i>
<i class="large material-icons">mode_comment</i>
<i class="large material-icons">mode_edit</i>
<i class="large material-icons">monetization_on</i>
<i class="large material-icons">money_off</i>
<i class="large material-icons">monochrome_photos</i>
<i class="large material-icons">mood</i>
<i class="large material-icons">mood_bad</i>
<i class="large material-icons">more</i>
<i class="large material-icons">more_horiz</i>
<i class="large material-icons">more_vert</i>
<i class="large material-icons">motorcycle</i>
<i class="large material-icons">mouse</i>
<i class="large material-icons">move_to_inbox</i>
<i class="large material-icons">movie</i>
<i class="large material-icons">movie_creation</i>
<i class="large material-icons">movie_filter</i>
<i class="large material-icons">multiline_chart</i>
<i class="large material-icons">music_note</i>
<i class="large material-icons">music_video</i>
<i class="large material-icons">my_location</i>
<i class="large material-icons">nature</i>
<i class="large material-icons">nature_people</i>
<i class="large material-icons">navigate_before</i>
<i class="large material-icons">navigate_next</i>
<i class="large material-icons">navigation</i>
<i class="large material-icons">near_me</i>
<i class="large material-icons">network_cell</i>
<i class="large material-icons">network_check</i>
<i class="large material-icons">network_locked</i>
<i class="large material-icons">network_wifi</i>
<i class="large material-icons">new_releases</i>
<i class="large material-icons">next_week</i>
<i class="large material-icons">nfc</i>
<i class="large material-icons">no_encryption</i>
<i class="large material-icons">no_sim</i>
<i class="large material-icons">not_interested</i>
<i class="large material-icons">note</i>
<i class="large material-icons">note_add</i>
<i class="large material-icons">notifications</i>
<i class="large material-icons">notifications_active</i>
<i class="large material-icons">notifications_none</i>
<i class="large material-icons">notifications_off</i>
<i class="large material-icons">notifications_paused</i>
<i class="large material-icons">offline_pin</i>
<i class="large material-icons">ondemand_video</i>
<i class="large material-icons">opacity</i>
<i class="large material-icons">open_in_browser</i>
<i class="large material-icons">open_in_new</i>
<i class="large material-icons">open_with</i>
<i class="large material-icons">pages</i>
<i class="large material-icons">pageview</i>
<i class="large material-icons">palette</i>
<i class="large material-icons">pan_tool</i>
<i class="large material-icons">panorama</i>
<i class="large material-icons">panorama_fish_eye</i>
<i class="large material-icons">panorama_horizontal</i>
<i class="large material-icons">panorama_vertical</i>
<i class="large material-icons">panorama_wide_angle</i>
<i class="large material-icons">party_mode</i>
<i class="large material-icons">pause</i>
<i class="large material-icons">pause_circle_filled</i>
<i class="large material-icons">pause_circle_outline</i>
<i class="large material-icons">payment</i>
<i class="large material-icons">people</i>
<i class="large material-icons">people_outline</i>
<i class="large material-icons">perm_camera_mic</i>
<i class="large material-icons">perm_contact_calendar</i>
<i class="large material-icons">perm_data_setting</i>
<i class="large material-icons">perm_device_information</i>
<i class="large material-icons">perm_identity</i>
<i class="large material-icons">perm_media</i>
<i class="large material-icons">perm_phone_msg</i>
<i class="large material-icons">perm_scan_wifi</i>
<i class="large material-icons">person</i>
<i class="large material-icons">person_add</i>
<i class="large material-icons">person_outline</i>
<i class="large material-icons">person_pin</i>
<i class="large material-icons">person_pin_circle</i>
<i class="large material-icons">personal_video</i>
<i class="large material-icons">pets</i>
<i class="large material-icons">phone</i>
<i class="large material-icons">phone_android</i>
<i class="large material-icons">phone_bluetooth_speaker</i>
<i class="large material-icons">phone_forwarded</i>
<i class="large material-icons">phone_in_talk</i>
<i class="large material-icons">phone_iphone</i>
<i class="large material-icons">phone_locked</i>
<i class="large material-icons">phone_missed</i>
<i class="large material-icons">phone_paused</i>
<i class="large material-icons">phonelink</i>
<i class="large material-icons">phonelink_erase</i>
<i class="large material-icons">phonelink_lock</i>
<i class="large material-icons">phonelink_off</i>
<i class="large material-icons">phonelink_ring</i>
<i class="large material-icons">phonelink_setup</i>
<i class="large material-icons">photo</i>
<i class="large material-icons">photo_album</i>
<i class="large material-icons">photo_camera</i>
<i class="large material-icons">photo_filter</i>
<i class="large material-icons">photo_library</i>
<i class="large material-icons">photo_size_select_actual</i>
<i class="large material-icons">photo_size_select_large</i>
<i class="large material-icons">photo_size_select_small</i>
<i class="large material-icons">picture_as_pdf</i>
<i class="large material-icons">picture_in_picture</i>
<i class="large material-icons">picture_in_picture_alt</i>
<i class="large material-icons">pie_chart</i>
<i class="large material-icons">pie_chart_outlined</i>
<i class="large material-icons">pin_drop</i>
<i class="large material-icons">place</i>
<i class="large material-icons">play_arrow</i>
<i class="large material-icons">play_circle_filled</i>
<i class="large material-icons">play_circle_outline</i>
<i class="large material-icons">play_for_work</i>
<i class="large material-icons">playlist_add</i>
<i class="large material-icons">playlist_add_check</i>
<i class="large material-icons">playlist_play</i>
<i class="large material-icons">plus_one</i>
<i class="large material-icons">poll</i>
<i class="large material-icons">polymer</i>
<i class="large material-icons">pool</i>
<i class="large material-icons">portable_wifi_off</i>
<i class="large material-icons">portrait</i>
<i class="large material-icons">power</i>
<i class="large material-icons">power_input</i>
<i class="large material-icons">power_settings_new</i>
<i class="large material-icons">pregnant_woman</i>
<i class="large material-icons">present_to_all</i>
<i class="large material-icons">print</i>
<i class="large material-icons">priority_high</i>
<i class="large material-icons">public</i>
<i class="large material-icons">publish</i>
<i class="large material-icons">query_builder</i>
<i class="large material-icons">question_answer</i>
<i class="large material-icons">queue</i>
<i class="large material-icons">queue_music</i>
<i class="large material-icons">queue_play_next</i>
<i class="large material-icons">radio</i>
<i class="large material-icons">radio_button_checked</i>
<i class="large material-icons">radio_button_unchecked</i>
<i class="large material-icons">rate_review</i>
<i class="large material-icons">receipt</i>
<i class="large material-icons">recent_actors</i>
<i class="large material-icons">record_voice_over</i>
<i class="large material-icons">redeem</i>
<i class="large material-icons">redo</i>
<i class="large material-icons">refresh</i>
<i class="large material-icons">remove</i>
<i class="large material-icons">remove_circle</i>
<i class="large material-icons">remove_circle_outline</i>
<i class="large material-icons">remove_from_queue</i>
<i class="large material-icons">remove_red_eye</i>
<i class="large material-icons">remove_shopping_cart</i>
<i class="large material-icons">reorder</i>
<i class="large material-icons">repeat</i>
<i class="large material-icons">repeat_one</i>
<i class="large material-icons">replay</i>
<i class="large material-icons">replay_10</i>
<i class="large material-icons">replay_30</i>
<i class="large material-icons">replay_5</i>
<i class="large material-icons">reply</i>
<i class="large material-icons">reply_all</i>
<i class="large material-icons">report</i>
<i class="large material-icons">report_problem</i>
<i class="large material-icons">restaurant</i>
<i class="large material-icons">restaurant_menu</i>
<i class="large material-icons">restore</i>
<i class="large material-icons">restore_page</i>
<i class="large material-icons">ring_volume</i>
<i class="large material-icons">room</i>
<i class="large material-icons">room_service</i>
<i class="large material-icons">rotate_90_degrees_ccw</i>
<i class="large material-icons">rotate_left</i>
<i class="large material-icons">rotate_right</i>
<i class="large material-icons">rounded_corner</i>
<i class="large material-icons">router</i>
<i class="large material-icons">rowing</i>
<i class="large material-icons">rss_feed</i>
<i class="large material-icons">rv_hookup</i>
<i class="large material-icons">satellite</i>
<i class="large material-icons">save</i>
<i class="large material-icons">scanner</i>
<i class="large material-icons">schedule</i>
<i class="large material-icons">school</i>
<i class="large material-icons">screen_lock_landscape</i>
<i class="large material-icons">screen_lock_portrait</i>
<i class="large material-icons">screen_lock_rotation</i>
<i class="large material-icons">screen_rotation</i>
<i class="large material-icons">screen_share</i>
<i class="large material-icons">sd_card</i>
<i class="large material-icons">sd_storage</i>
<i class="large material-icons">search</i>
<i class="large material-icons">security</i>
<i class="large material-icons">select_all</i>
<i class="large material-icons">send</i>
<i class="large material-icons">sentiment_dissatisfied</i>
<i class="large material-icons">sentiment_neutral</i>
<i class="large material-icons">sentiment_satisfied</i>
<i class="large material-icons">sentiment_very_dissatisfied</i>
<i class="large material-icons">sentiment_very_satisfied</i>
<i class="large material-icons">settings</i>
<i class="large material-icons">settings_applications</i>
<i class="large material-icons">settings_backup_restore</i>
<i class="large material-icons">settings_bluetooth</i>
<i class="large material-icons">settings_brightness</i>
<i class="large material-icons">settings_cell</i>
<i class="large material-icons">settings_ethernet</i>
<i class="large material-icons">settings_input_antenna</i>
<i class="large material-icons">settings_input_component</i>
<i class="large material-icons">settings_input_composite</i>
<i class="large material-icons">settings_input_hdmi</i>
<i class="large material-icons">settings_input_svideo</i>
<i class="large material-icons">settings_overscan</i>
<i class="large material-icons">settings_phone</i>
<i class="large material-icons">settings_power</i>
<i class="large material-icons">settings_remote</i>
<i class="large material-icons">settings_system_daydream</i>
<i class="large material-icons">settings_voice</i>
<i class="large material-icons">share</i>
<i class="large material-icons">shop</i>
<i class="large material-icons">shop_two</i>
<i class="large material-icons">shopping_basket</i>
<i class="large material-icons">shopping_cart</i>
<i class="large material-icons">short_text</i>
<i class="large material-icons">show_chart</i>
<i class="large material-icons">shuffle</i>
<i class="large material-icons">signal_cellular_4_bar</i>
<i class="large material-icons">signal_cellular_connected_no_internet_4_bar</i>
<i class="large material-icons">signal_cellular_no_sim</i>
<i class="large material-icons">signal_cellular_null</i>
<i class="large material-icons">signal_cellular_off</i>
<i class="large material-icons">signal_wifi_4_bar</i>
<i class="large material-icons">signal_wifi_4_bar_lock</i>
<i class="large material-icons">signal_wifi_off</i>
<i class="large material-icons">sim_card</i>
<i class="large material-icons">sim_card_alert</i>
<i class="large material-icons">skip_next</i>
<i class="large material-icons">skip_previous</i>
<i class="large material-icons">slideshow</i>
<i class="large material-icons">slow_motion_video</i>
<i class="large material-icons">smartphone</i>
<i class="large material-icons">smoke_free</i>
<i class="large material-icons">smoking_rooms</i>
<i class="large material-icons">sms</i>
<i class="large material-icons">sms_failed</i>
<i class="large material-icons">snooze</i>
<i class="large material-icons">sort</i>
<i class="large material-icons">sort_by_alpha</i>
<i class="large material-icons">spa</i>
<i class="large material-icons">space_bar</i>
<i class="large material-icons">speaker</i>
<i class="large material-icons">speaker_group</i>
<i class="large material-icons">speaker_notes</i>
<i class="large material-icons">speaker_notes_off</i>
<i class="large material-icons">speaker_phone</i>
<i class="large material-icons">spellcheck</i>
<i class="large material-icons">star</i>
<i class="large material-icons">star_border</i>
<i class="large material-icons">star_half</i>
<i class="large material-icons">stars</i>
<i class="large material-icons">stay_current_landscape</i>
<i class="large material-icons">stay_current_portrait</i>
<i class="large material-icons">stay_primary_landscape</i>
<i class="large material-icons">stay_primary_portrait</i>
<i class="large material-icons">stop</i>
<i class="large material-icons">stop_screen_share</i>
<i class="large material-icons">storage</i>
<i class="large material-icons">store</i>
<i class="large material-icons">store_mall_directory</i>
<i class="large material-icons">straighten</i>
<i class="large material-icons">streetview</i>
<i class="large material-icons">strikethrough_s</i>
<i class="large material-icons">style</i>
<i class="large material-icons">subdirectory_arrow_left</i>
<i class="large material-icons">subdirectory_arrow_right</i>
<i class="large material-icons">subject</i>
<i class="large material-icons">subscriptions</i>
<i class="large material-icons">subtitles</i>
<i class="large material-icons">subway</i>
<i class="large material-icons">supervisor_account</i>
<i class="large material-icons">surround_sound</i>
<i class="large material-icons">swap_calls</i>
<i class="large material-icons">swap_horiz</i>
<i class="large material-icons">swap_vert</i>
<i class="large material-icons">swap_vertical_circle</i>
<i class="large material-icons">switch_camera</i>
<i class="large material-icons">switch_video</i>
<i class="large material-icons">sync</i>
<i class="large material-icons">sync_disabled</i>
<i class="large material-icons">sync_problem</i>
<i class="large material-icons">system_update</i>
<i class="large material-icons">system_update_alt</i>
<i class="large material-icons">tab</i>
<i class="large material-icons">tab_unselected</i>
<i class="large material-icons">tablet</i>
<i class="large material-icons">tablet_android</i>
<i class="large material-icons">tablet_mac</i>
<i class="large material-icons">tag_faces</i>
<i class="large material-icons">tap_and_play</i>
<i class="large material-icons">terrain</i>
<i class="large material-icons">text_fields</i>
<i class="large material-icons">text_format</i>
<i class="large material-icons">textsms</i>
<i class="large material-icons">texture</i>
<i class="large material-icons">theaters</i>
<i class="large material-icons">thumb_down</i>
<i class="large material-icons">thumb_up</i>
<i class="large material-icons">thumbs_up_down</i>
<i class="large material-icons">time_to_leave</i>
<i class="large material-icons">timelapse</i>
<i class="large material-icons">timeline</i>
<i class="large material-icons">timer</i>
<i class="large material-icons">timer_10</i>
<i class="large material-icons">timer_3</i>
<i class="large material-icons">timer_off</i>
<i class="large material-icons">title</i>
<i class="large material-icons">toc</i>
<i class="large material-icons">today</i>
<i class="large material-icons">toll</i>
<i class="large material-icons">tonality</i>
<i class="large material-icons">touch_app</i>
<i class="large material-icons">toys</i>
<i class="large material-icons">track_changes</i>
<i class="large material-icons">traffic</i>
<i class="large material-icons">train</i>
<i class="large material-icons">tram</i>
<i class="large material-icons">transfer_within_a_station</i>
<i class="large material-icons">transform</i>
<i class="large material-icons">translate</i>
<i class="large material-icons">trending_down</i>
<i class="large material-icons">trending_flat</i>
<i class="large material-icons">trending_up</i>
<i class="large material-icons">tune</i>
<i class="large material-icons">turned_in</i>
<i class="large material-icons">turned_in_not</i>
<i class="large material-icons">tv</i>
<i class="large material-icons">unarchive</i>
<i class="large material-icons">undo</i>
<i class="large material-icons">unfold_less</i>
<i class="large material-icons">unfold_more</i>
<i class="large material-icons">update</i>
<i class="large material-icons">usb</i>
<i class="large material-icons">verified_user</i>
<i class="large material-icons">vertical_align_bottom</i>
<i class="large material-icons">vertical_align_center</i>
<i class="large material-icons">vertical_align_top</i>
<i class="large material-icons">vibration</i>
<i class="large material-icons">video_call</i>
<i class="large material-icons">video_label</i>
<i class="large material-icons">video_library</i>
<i class="large material-icons">videocam</i>
<i class="large material-icons">videocam_off</i>
<i class="large material-icons">videogame_asset</i>
<i class="large material-icons">view_agenda</i>
<i class="large material-icons">view_array</i>
<i class="large material-icons">view_carousel</i>
<i class="large material-icons">view_column</i>
<i class="large material-icons">view_comfy</i>
<i class="large material-icons">view_compact</i>
<i class="large material-icons">view_day</i>
<i class="large material-icons">view_headline</i>
<i class="large material-icons">view_list</i>
<i class="large material-icons">view_module</i>
<i class="large material-icons">view_quilt</i>
<i class="large material-icons">view_stream</i>
<i class="large material-icons">view_week</i>
<i class="large material-icons">vignette</i>
<i class="large material-icons">visibility</i>
<i class="large material-icons">visibility_off</i>
<i class="large material-icons">voice_chat</i>
<i class="large material-icons">voicemail</i>
<i class="large material-icons">volume_down</i>
<i class="large material-icons">volume_mute</i>
<i class="large material-icons">volume_off</i>
<i class="large material-icons">volume_up</i>
<i class="large material-icons">vpn_key</i>
<i class="large material-icons">vpn_lock</i>
<i class="large material-icons">wallpaper</i>
<i class="large material-icons">warning</i>
<i class="large material-icons">watch</i>
<i class="large material-icons">watch_later</i>
<i class="large material-icons">wb_auto</i>
<i class="large material-icons">wb_cloudy</i>
<i class="large material-icons">wb_incandescent</i>
<i class="large material-icons">wb_iridescent</i>
<i class="large material-icons">wb_sunny</i>
<i class="large material-icons">wc</i>
<i class="large material-icons">web</i>
<i class="large material-icons">web_asset</i>
<i class="large material-icons">weekend</i>
<i class="large material-icons">whatshot</i>
<i class="large material-icons">widgets</i>
<i class="large material-icons">wifi</i>
<i class="large material-icons">wifi_lock</i>
<i class="large material-icons">wifi_tethering</i>
<i class="large material-icons">work</i>
<i class="large material-icons">wrap_text</i>
<i class="large material-icons">youtube_searched_for</i>
<i class="large material-icons">zoom_in</i>
<i class="large material-icons">zoom_out</i>
<i class="large material-icons">zoom_out_map</i>

{% endblock content %}
