{% extends 'cns_base.html' %}
{% load static %}
{% block title %} Icons {% endblock title %}

{% block linktag %}
<link rel="stylesheet" type="text/css" href="{% static "pages/css/mso.css" %}"> {% endblock linktag %}


{% block content %}
<br>
<br>
<i class="large material-icons" id="fab_ico">3d_rotation</i>
<i class="large material-icons" id="fab_ico">ac_unit</i>
<i class="large material-icons" id="fab_ico">access_alarm</i>
<i class="large material-icons" id="fab_ico">access_alarms</i>
<i class="large material-icons" id="fab_ico">access_time</i>
<i class="large material-icons" id="fab_ico">accessibility</i>
<i class="large material-icons" id="fab_ico">accessible</i>
<i class="large material-icons" id="fab_ico">account_balance</i>
<i class="large material-icons" id="fab_ico">account_balance_wallet</i>
<i class="large material-icons" id="fab_ico">account_box</i>
<i class="large material-icons" id="fab_ico">account_circle</i>
<i class="large material-icons" id="fab_ico">adb</i>
<i class="large material-icons" id="fab_ico">add</i>
<i class="large material-icons" id="fab_ico">add_a_photo</i>
<i class="large material-icons" id="fab_ico">add_alarm</i>
<i class="large material-icons" id="fab_ico">add_alert</i>
<i class="large material-icons" id="fab_ico">add_box</i>
<i class="large material-icons" id="fab_ico">add_circle</i>
<i class="large material-icons" id="fab_ico">add_circle_outline</i>
<i class="large material-icons" id="fab_ico">add_location</i>
<i class="large material-icons" id="fab_ico">add_shopping_cart</i>
<i class="large material-icons" id="fab_ico">add_to_photos</i>
<i class="large material-icons" id="fab_ico">add_to_queue</i>
<i class="large material-icons" id="fab_ico">adjust</i>
<i class="large material-icons" id="fab_ico">airline_seat_flat</i>
<i class="large material-icons" id="fab_ico">airline_seat_flat_angled</i>
<i class="large material-icons" id="fab_ico">airline_seat_individual_suite</i>
<i class="large material-icons" id="fab_ico">airline_seat_legroom_extra</i>
<i class="large material-icons" id="fab_ico">airline_seat_legroom_normal</i>
<i class="large material-icons" id="fab_ico">airline_seat_legroom_reduced</i>
<i class="large material-icons" id="fab_ico">airline_seat_recline_extra</i>
<i class="large material-icons" id="fab_ico">airline_seat_recline_normal</i>
<i class="large material-icons" id="fab_ico">airplanemode_active</i>
<i class="large material-icons" id="fab_ico">airplanemode_inactive</i>
<i class="large material-icons" id="fab_ico">airplay</i>
<i class="large material-icons" id="fab_ico">airport_shuttle</i>
<i class="large material-icons" id="fab_ico">alarm</i>
<i class="large material-icons" id="fab_ico">alarm_add</i>
<i class="large material-icons" id="fab_ico">alarm_off</i>
<i class="large material-icons" id="fab_ico">alarm_on</i>
<i class="large material-icons" id="fab_ico">album</i>
<i class="large material-icons" id="fab_ico">all_inclusive</i>
<i class="large material-icons" id="fab_ico">all_out</i>
<i class="large material-icons" id="fab_ico">android</i>
<i class="large material-icons" id="fab_ico">announcement</i>
<i class="large material-icons" id="fab_ico">apps</i>
<i class="large material-icons" id="fab_ico">archive</i>
<i class="large material-icons" id="fab_ico">arrow_back</i>
<i class="large material-icons" id="fab_ico">arrow_downward</i>
<i class="large material-icons" id="fab_ico">arrow_drop_down</i>
<i class="large material-icons" id="fab_ico">arrow_drop_down_circle</i>
<i class="large material-icons" id="fab_ico">arrow_drop_up</i>
<i class="large material-icons" id="fab_ico">arrow_forward</i>
<i class="large material-icons" id="fab_ico">arrow_upward</i>
<i class="large material-icons" id="fab_ico">art_track</i>
<i class="large material-icons" id="fab_ico">aspect_ratio</i>
<i class="large material-icons" id="fab_ico">assessment</i>
<i class="large material-icons" id="fab_ico">assignment</i>
<i class="large material-icons" id="fab_ico">assignment_ind</i>
<i class="large material-icons" id="fab_ico">assignment_late</i>
<i class="large material-icons" id="fab_ico">assignment_return</i>
<i class="large material-icons" id="fab_ico">assignment_returned</i>
<i class="large material-icons" id="fab_ico">assignment_turned_in</i>
<i class="large material-icons" id="fab_ico">assistant</i>
<i class="large material-icons" id="fab_ico">assistant_photo</i>
<i class="large material-icons" id="fab_ico">attach_file</i>
<i class="large material-icons" id="fab_ico">attach_money</i>
<i class="large material-icons" id="fab_ico">attachment</i>
<i class="large material-icons" id="fab_ico">audiotrack</i>
<i class="large material-icons" id="fab_ico">autorenew</i>
<i class="large material-icons" id="fab_ico">av_timer</i>
<i class="large material-icons" id="fab_ico">backspace</i>
<i class="large material-icons" id="fab_ico">backup</i>
<i class="large material-icons" id="fab_ico">battery_alert</i>
<i class="large material-icons" id="fab_ico">battery_charging_full</i>
<i class="large material-icons" id="fab_ico">battery_full</i>
<i class="large material-icons" id="fab_ico">battery_std</i>
<i class="large material-icons" id="fab_ico">battery_unknown</i>
<i class="large material-icons" id="fab_ico">beach_access</i>
<i class="large material-icons" id="fab_ico">beenhere</i>
<i class="large material-icons" id="fab_ico">block</i>
<i class="large material-icons" id="fab_ico">bluetooth</i>
<i class="large material-icons" id="fab_ico">bluetooth_audio</i>
<i class="large material-icons" id="fab_ico">bluetooth_connected</i>
<i class="large material-icons" id="fab_ico">bluetooth_disabled</i>
<i class="large material-icons" id="fab_ico">bluetooth_searching</i>
<i class="large material-icons" id="fab_ico">blur_circular</i>
<i class="large material-icons" id="fab_ico">blur_linear</i>
<i class="large material-icons" id="fab_ico">blur_off</i>
<i class="large material-icons" id="fab_ico">blur_on</i>
<i class="large material-icons" id="fab_ico">book</i>
<i class="large material-icons" id="fab_ico">bookmark</i>
<i class="large material-icons" id="fab_ico">bookmark_border</i>
<i class="large material-icons" id="fab_ico">border_all</i>
<i class="large material-icons" id="fab_ico">border_bottom</i>
<i class="large material-icons" id="fab_ico">border_clear</i>
<i class="large material-icons" id="fab_ico">border_color</i>
<i class="large material-icons" id="fab_ico">border_horizontal</i>
<i class="large material-icons" id="fab_ico">border_inner</i>
<i class="large material-icons" id="fab_ico">border_left</i>
<i class="large material-icons" id="fab_ico">border_outer</i>
<i class="large material-icons" id="fab_ico">border_right</i>
<i class="large material-icons" id="fab_ico">border_style</i>
<i class="large material-icons" id="fab_ico">border_top</i>
<i class="large material-icons" id="fab_ico">border_vertical</i>
<i class="large material-icons" id="fab_ico">branding_watermark</i>
<i class="large material-icons" id="fab_ico">brightness_1</i>
<i class="large material-icons" id="fab_ico">brightness_2</i>
<i class="large material-icons" id="fab_ico">brightness_3</i>
<i class="large material-icons" id="fab_ico">brightness_4</i>
<i class="large material-icons" id="fab_ico">brightness_5</i>
<i class="large material-icons" id="fab_ico">brightness_6</i>
<i class="large material-icons" id="fab_ico">brightness_7</i>
<i class="large material-icons" id="fab_ico">brightness_auto</i>
<i class="large material-icons" id="fab_ico">brightness_high</i>
<i class="large material-icons" id="fab_ico">brightness_low</i>
<i class="large material-icons" id="fab_ico">brightness_medium</i>
<i class="large material-icons" id="fab_ico">broken_image</i>
<i class="large material-icons" id="fab_ico">brush</i>
<i class="large material-icons" id="fab_ico">bubble_chart</i>
<i class="large material-icons" id="fab_ico">bug_report</i>
<i class="large material-icons" id="fab_ico">build</i>
<i class="large material-icons" id="fab_ico">burst_mode</i>
<i class="large material-icons" id="fab_ico">business</i>
<i class="large material-icons" id="fab_ico">business_center</i>
<i class="large material-icons" id="fab_ico">cached</i>
<i class="large material-icons" id="fab_ico">cake</i>
<i class="large material-icons" id="fab_ico">call</i>
<i class="large material-icons" id="fab_ico">call_end</i>
<i class="large material-icons" id="fab_ico">call_made</i>
<i class="large material-icons" id="fab_ico">call_merge</i>
<i class="large material-icons" id="fab_ico">call_missed</i>
<i class="large material-icons" id="fab_ico">call_missed_outgoing</i>
<i class="large material-icons" id="fab_ico">call_received</i>
<i class="large material-icons" id="fab_ico">call_split</i>
<i class="large material-icons" id="fab_ico">call_to_action</i>
<i class="large material-icons" id="fab_ico">camera</i>
<i class="large material-icons" id="fab_ico">camera_alt</i>
<i class="large material-icons" id="fab_ico">camera_enhance</i>
<i class="large material-icons" id="fab_ico">camera_front</i>
<i class="large material-icons" id="fab_ico">camera_rear</i>
<i class="large material-icons" id="fab_ico">camera_roll</i>
<i class="large material-icons" id="fab_ico">cancel</i>
<i class="large material-icons" id="fab_ico">card_giftcard</i>
<i class="large material-icons" id="fab_ico">card_membership</i>
<i class="large material-icons" id="fab_ico">card_travel</i>
<i class="large material-icons" id="fab_ico">casino</i>
<i class="large material-icons" id="fab_ico">cast</i>
<i class="large material-icons" id="fab_ico">cast_connected</i>
<i class="large material-icons" id="fab_ico">center_focus_strong</i>
<i class="large material-icons" id="fab_ico">center_focus_weak</i>
<i class="large material-icons" id="fab_ico">change_history</i>
<i class="large material-icons" id="fab_ico">chat</i>
<i class="large material-icons" id="fab_ico">chat_bubble</i>
<i class="large material-icons" id="fab_ico">chat_bubble_outline</i>
<i class="large material-icons" id="fab_ico">check</i>
<i class="large material-icons" id="fab_ico">check_box</i>
<i class="large material-icons" id="fab_ico">check_box_outline_blank</i>
<i class="large material-icons" id="fab_ico">check_circle</i>
<i class="large material-icons" id="fab_ico">chevron_left</i>
<i class="large material-icons" id="fab_ico">chevron_right</i>
<i class="large material-icons" id="fab_ico">child_care</i>
<i class="large material-icons" id="fab_ico">child_friendly</i>
<i class="large material-icons" id="fab_ico">chrome_reader_mode</i>
<i class="large material-icons" id="fab_ico">class</i>
<i class="large material-icons" id="fab_ico">clear</i>
<i class="large material-icons" id="fab_ico">clear_all</i>
<i class="large material-icons" id="fab_ico">close</i>
<i class="large material-icons" id="fab_ico">closed_caption</i>
<i class="large material-icons" id="fab_ico">cloud</i>
<i class="large material-icons" id="fab_ico">cloud_circle</i>
<i class="large material-icons" id="fab_ico">cloud_done</i>
<i class="large material-icons" id="fab_ico">cloud_download</i>
<i class="large material-icons" id="fab_ico">cloud_off</i>
<i class="large material-icons" id="fab_ico">cloud_queue</i>
<i class="large material-icons" id="fab_ico">cloud_upload</i>
<i class="large material-icons" id="fab_ico">code</i>
<i class="large material-icons" id="fab_ico">collections</i>
<i class="large material-icons" id="fab_ico">collections_bookmark</i>
<i class="large material-icons" id="fab_ico">color_lens</i>
<i class="large material-icons" id="fab_ico">colorize</i>
<i class="large material-icons" id="fab_ico">comment</i>
<i class="large material-icons" id="fab_ico">compare</i>
<i class="large material-icons" id="fab_ico">compare_arrows</i>
<i class="large material-icons" id="fab_ico">computer</i>
<i class="large material-icons" id="fab_ico">confirmation_number</i>
<i class="large material-icons" id="fab_ico">contact_mail</i>
<i class="large material-icons" id="fab_ico">contact_phone</i>
<i class="large material-icons" id="fab_ico">contacts</i>
<i class="large material-icons" id="fab_ico">content_copy</i>
<i class="large material-icons" id="fab_ico">content_cut</i>
<i class="large material-icons" id="fab_ico">content_paste</i>
<i class="large material-icons" id="fab_ico">control_point</i>
<i class="large material-icons" id="fab_ico">control_point_duplicate</i>
<i class="large material-icons" id="fab_ico">copyright</i>
<i class="large material-icons" id="fab_ico">create</i>
<i class="large material-icons" id="fab_ico">create_new_folder</i>
<i class="large material-icons" id="fab_ico">credit_card</i>
<i class="large material-icons" id="fab_ico">crop</i>
<i class="large material-icons" id="fab_ico">crop_16_9</i>
<i class="large material-icons" id="fab_ico">crop_3_2</i>
<i class="large material-icons" id="fab_ico">crop_5_4</i>
<i class="large material-icons" id="fab_ico">crop_7_5</i>
<i class="large material-icons" id="fab_ico">crop_din</i>
<i class="large material-icons" id="fab_ico">crop_free</i>
<i class="large material-icons" id="fab_ico">crop_landscape</i>
<i class="large material-icons" id="fab_ico">crop_original</i>
<i class="large material-icons" id="fab_ico">crop_portrait</i>
<i class="large material-icons" id="fab_ico">crop_rotate</i>
<i class="large material-icons" id="fab_ico">crop_square</i>
<i class="large material-icons" id="fab_ico">dashboard</i>
<i class="large material-icons" id="fab_ico">data_usage</i>
<i class="large material-icons" id="fab_ico">date_range</i>
<i class="large material-icons" id="fab_ico">dehaze</i>
<i class="large material-icons" id="fab_ico">delete</i>
<i class="large material-icons" id="fab_ico">delete_forever</i>
<i class="large material-icons" id="fab_ico">delete_sweep</i>
<i class="large material-icons" id="fab_ico">description</i>
<i class="large material-icons" id="fab_ico">desktop_mac</i>
<i class="large material-icons" id="fab_ico">desktop_windows</i>
<i class="large material-icons" id="fab_ico">details</i>
<i class="large material-icons" id="fab_ico">developer_board</i>
<i class="large material-icons" id="fab_ico">developer_mode</i>
<i class="large material-icons" id="fab_ico">device_hub</i>
<i class="large material-icons" id="fab_ico">devices</i>
<i class="large material-icons" id="fab_ico">devices_other</i>
<i class="large material-icons" id="fab_ico">dialer_sip</i>
<i class="large material-icons" id="fab_ico">dialpad</i>
<i class="large material-icons" id="fab_ico">directions</i>
<i class="large material-icons" id="fab_ico">directions_bike</i>
<i class="large material-icons" id="fab_ico">directions_boat</i>
<i class="large material-icons" id="fab_ico">directions_bus</i>
<i class="large material-icons" id="fab_ico">directions_car</i>
<i class="large material-icons" id="fab_ico">directions_railway</i>
<i class="large material-icons" id="fab_ico">directions_run</i>
<i class="large material-icons" id="fab_ico">directions_subway</i>
<i class="large material-icons" id="fab_ico">directions_transit</i>
<i class="large material-icons" id="fab_ico">directions_walk</i>
<i class="large material-icons" id="fab_ico">disc_full</i>
<i class="large material-icons" id="fab_ico">dns</i>
<i class="large material-icons" id="fab_ico">do_not_disturb</i>
<i class="large material-icons" id="fab_ico">do_not_disturb_alt</i>
<i class="large material-icons" id="fab_ico">do_not_disturb_off</i>
<i class="large material-icons" id="fab_ico">do_not_disturb_on</i>
<i class="large material-icons" id="fab_ico">dock</i>
<i class="large material-icons" id="fab_ico">domain</i>
<i class="large material-icons" id="fab_ico">done</i>
<i class="large material-icons" id="fab_ico">done_all</i>
<i class="large material-icons" id="fab_ico">donut_large</i>
<i class="large material-icons" id="fab_ico">donut_small</i>
<i class="large material-icons" id="fab_ico">drafts</i>
<i class="large material-icons" id="fab_ico">drag_handle</i>
<i class="large material-icons" id="fab_ico">drive_eta</i>
<i class="large material-icons" id="fab_ico">dvr</i>
<i class="large material-icons" id="fab_ico">edit</i>
<i class="large material-icons" id="fab_ico">edit_location</i>
<i class="large material-icons" id="fab_ico">eject</i>
<i class="large material-icons" id="fab_ico">email</i>
<i class="large material-icons" id="fab_ico">enhanced_encryption</i>
<i class="large material-icons" id="fab_ico">equalizer</i>
<i class="large material-icons" id="fab_ico">error</i>
<i class="large material-icons" id="fab_ico">error_outline</i>
<i class="large material-icons" id="fab_ico">euro_symbol</i>
<i class="large material-icons" id="fab_ico">ev_station</i>
<i class="large material-icons" id="fab_ico">event</i>
<i class="large material-icons" id="fab_ico">event_available</i>
<i class="large material-icons" id="fab_ico">event_busy</i>
<i class="large material-icons" id="fab_ico">event_note</i>
<i class="large material-icons" id="fab_ico">event_seat</i>
<i class="large material-icons" id="fab_ico">exit_to_app</i>
<i class="large material-icons" id="fab_ico">expand_less</i>
<i class="large material-icons" id="fab_ico">expand_more</i>
<i class="large material-icons" id="fab_ico">explicit</i>
<i class="large material-icons" id="fab_ico">explore</i>
<i class="large material-icons" id="fab_ico">exposure</i>
<i class="large material-icons" id="fab_ico">exposure_neg_1</i>
<i class="large material-icons" id="fab_ico">exposure_neg_2</i>
<i class="large material-icons" id="fab_ico">exposure_plus_1</i>
<i class="large material-icons" id="fab_ico">exposure_plus_2</i>
<i class="large material-icons" id="fab_ico">exposure_zero</i>
<i class="large material-icons" id="fab_ico">extension</i>
<i class="large material-icons" id="fab_ico">face</i>
<i class="large material-icons" id="fab_ico">fast_forward</i>
<i class="large material-icons" id="fab_ico">fast_rewind</i>
<i class="large material-icons" id="fab_ico">favorite</i>
<i class="large material-icons" id="fab_ico">favorite_border</i>
<i class="large material-icons" id="fab_ico">featured_play_list</i>
<i class="large material-icons" id="fab_ico">featured_video</i>
<i class="large material-icons" id="fab_ico">feedback</i>
<i class="large material-icons" id="fab_ico">fiber_dvr</i>
<i class="large material-icons" id="fab_ico">fiber_manual_record</i>
<i class="large material-icons" id="fab_ico">fiber_new</i>
<i class="large material-icons" id="fab_ico">fiber_pin</i>
<i class="large material-icons" id="fab_ico">fiber_smart_record</i>
<i class="large material-icons" id="fab_ico">file_download</i>
<i class="large material-icons" id="fab_ico">file_upload</i>
<i class="large material-icons" id="fab_ico">filter</i>
<i class="large material-icons" id="fab_ico">filter_1</i>
<i class="large material-icons" id="fab_ico">filter_2</i>
<i class="large material-icons" id="fab_ico">filter_3</i>
<i class="large material-icons" id="fab_ico">filter_4</i>
<i class="large material-icons" id="fab_ico">filter_5</i>
<i class="large material-icons" id="fab_ico">filter_6</i>
<i class="large material-icons" id="fab_ico">filter_7</i>
<i class="large material-icons" id="fab_ico">filter_8</i>
<i class="large material-icons" id="fab_ico">filter_9</i>
<i class="large material-icons" id="fab_ico">filter_9_plus</i>
<i class="large material-icons" id="fab_ico">filter_b_and_w</i>
<i class="large material-icons" id="fab_ico">filter_center_focus</i>
<i class="large material-icons" id="fab_ico">filter_drama</i>
<i class="large material-icons" id="fab_ico">filter_frames</i>
<i class="large material-icons" id="fab_ico">filter_hdr</i>
<i class="large material-icons" id="fab_ico">filter_list</i>
<i class="large material-icons" id="fab_ico">filter_none</i>
<i class="large material-icons" id="fab_ico">filter_tilt_shift</i>
<i class="large material-icons" id="fab_ico">filter_vintage</i>
<i class="large material-icons" id="fab_ico">find_in_page</i>
<i class="large material-icons" id="fab_ico">find_replace</i>
<i class="large material-icons" id="fab_ico">fingerprint</i>
<i class="large material-icons" id="fab_ico">first_page</i>
<i class="large material-icons" id="fab_ico">fitness_center</i>
<i class="large material-icons" id="fab_ico">flag</i>
<i class="large material-icons" id="fab_ico">flare</i>
<i class="large material-icons" id="fab_ico">flash_auto</i>
<i class="large material-icons" id="fab_ico">flash_off</i>
<i class="large material-icons" id="fab_ico">flash_on</i>
<i class="large material-icons" id="fab_ico">flight</i>
<i class="large material-icons" id="fab_ico">flight_land</i>
<i class="large material-icons" id="fab_ico">flight_takeoff</i>
<i class="large material-icons" id="fab_ico">flip</i>
<i class="large material-icons" id="fab_ico">flip_to_back</i>
<i class="large material-icons" id="fab_ico">flip_to_front</i>
<i class="large material-icons" id="fab_ico">folder</i>
<i class="large material-icons" id="fab_ico">folder_open</i>
<i class="large material-icons" id="fab_ico">folder_shared</i>
<i class="large material-icons" id="fab_ico">folder_special</i>
<i class="large material-icons" id="fab_ico">font_download</i>
<i class="large material-icons" id="fab_ico">format_align_center</i>
<i class="large material-icons" id="fab_ico">format_align_justify</i>
<i class="large material-icons" id="fab_ico">format_align_left</i>
<i class="large material-icons" id="fab_ico">format_align_right</i>
<i class="large material-icons" id="fab_ico">format_bold</i>
<i class="large material-icons" id="fab_ico">format_clear</i>
<i class="large material-icons" id="fab_ico">format_color_fill</i>
<i class="large material-icons" id="fab_ico">format_color_reset</i>
<i class="large material-icons" id="fab_ico">format_color_text</i>
<i class="large material-icons" id="fab_ico">format_indent_decrease</i>
<i class="large material-icons" id="fab_ico">format_indent_increase</i>
<i class="large material-icons" id="fab_ico">format_italic</i>
<i class="large material-icons" id="fab_ico">format_line_spacing</i>
<i class="large material-icons" id="fab_ico">format_list_bulleted</i>
<i class="large material-icons" id="fab_ico">format_list_numbered</i>
<i class="large material-icons" id="fab_ico">format_paint</i>
<i class="large material-icons" id="fab_ico">format_quote</i>
<i class="large material-icons" id="fab_ico">format_shapes</i>
<i class="large material-icons" id="fab_ico">format_size</i>
<i class="large material-icons" id="fab_ico">format_strikethrough</i>
<i class="large material-icons" id="fab_ico">format_textdirection_l_to_r</i>
<i class="large material-icons" id="fab_ico">format_textdirection_r_to_l</i>
<i class="large material-icons" id="fab_ico">format_underlined</i>
<i class="large material-icons" id="fab_ico">forum</i>
<i class="large material-icons" id="fab_ico">forward</i>
<i class="large material-icons" id="fab_ico">forward_10</i>
<i class="large material-icons" id="fab_ico">forward_30</i>
<i class="large material-icons" id="fab_ico">forward_5</i>
<i class="large material-icons" id="fab_ico">free_breakfast</i>
<i class="large material-icons" id="fab_ico">fullscreen</i>
<i class="large material-icons" id="fab_ico">fullscreen_exit</i>
<i class="large material-icons" id="fab_ico">functions</i>
<i class="large material-icons" id="fab_ico">g_translate</i>
<i class="large material-icons" id="fab_ico">gamepad</i>
<i class="large material-icons" id="fab_ico">games</i>
<i class="large material-icons" id="fab_ico">gavel</i>
<i class="large material-icons" id="fab_ico">gesture</i>
<i class="large material-icons" id="fab_ico">get_app</i>
<i class="large material-icons" id="fab_ico">gif</i>
<i class="large material-icons" id="fab_ico">golf_course</i>
<i class="large material-icons" id="fab_ico">gps_fixed</i>
<i class="large material-icons" id="fab_ico">gps_not_fixed</i>
<i class="large material-icons" id="fab_ico">gps_off</i>
<i class="large material-icons" id="fab_ico">grade</i>
<i class="large material-icons" id="fab_ico">gradient</i>
<i class="large material-icons" id="fab_ico">grain</i>
<i class="large material-icons" id="fab_ico">graphic_eq</i>
<i class="large material-icons" id="fab_ico">grid_off</i>
<i class="large material-icons" id="fab_ico">grid_on</i>
<i class="large material-icons" id="fab_ico">group</i>
<i class="large material-icons" id="fab_ico">group_add</i>
<i class="large material-icons" id="fab_ico">group_work</i>
<i class="large material-icons" id="fab_ico">hd</i>
<i class="large material-icons" id="fab_ico">hdr_off</i>
<i class="large material-icons" id="fab_ico">hdr_on</i>
<i class="large material-icons" id="fab_ico">hdr_strong</i>
<i class="large material-icons" id="fab_ico">hdr_weak</i>
<i class="large material-icons" id="fab_ico">headset</i>
<i class="large material-icons" id="fab_ico">headset_mic</i>
<i class="large material-icons" id="fab_ico">healing</i>
<i class="large material-icons" id="fab_ico">hearing</i>
<i class="large material-icons" id="fab_ico">help</i>
<i class="large material-icons" id="fab_ico">help_outline</i>
<i class="large material-icons" id="fab_ico">high_quality</i>
<i class="large material-icons" id="fab_ico">highlight</i>
<i class="large material-icons" id="fab_ico">highlight_off</i>
<i class="large material-icons" id="fab_ico">history</i>
<i class="large material-icons" id="fab_ico">home</i>
<i class="large material-icons" id="fab_ico">hot_tub</i>
<i class="large material-icons" id="fab_ico">hotel</i>
<i class="large material-icons" id="fab_ico">hourglass_empty</i>
<i class="large material-icons" id="fab_ico">hourglass_full</i>
<i class="large material-icons" id="fab_ico">http</i>
<i class="large material-icons" id="fab_ico">https</i>
<i class="large material-icons" id="fab_ico">image</i>
<i class="large material-icons" id="fab_ico">image_aspect_ratio</i>
<i class="large material-icons" id="fab_ico">import_contacts</i>
<i class="large material-icons" id="fab_ico">import_export</i>
<i class="large material-icons" id="fab_ico">important_devices</i>
<i class="large material-icons" id="fab_ico">inbox</i>
<i class="large material-icons" id="fab_ico">indeterminate_check_box</i>
<i class="large material-icons" id="fab_ico">info</i>
<i class="large material-icons" id="fab_ico">info_outline</i>
<i class="large material-icons" id="fab_ico">input</i>
<i class="large material-icons" id="fab_ico">insert_chart</i>
<i class="large material-icons" id="fab_ico">insert_comment</i>
<i class="large material-icons" id="fab_ico">insert_drive_file</i>
<i class="large material-icons" id="fab_ico">insert_emoticon</i>
<i class="large material-icons" id="fab_ico">insert_invitation</i>
<i class="large material-icons" id="fab_ico">insert_link</i>
<i class="large material-icons" id="fab_ico">insert_photo</i>
<i class="large material-icons" id="fab_ico">invert_colors</i>
<i class="large material-icons" id="fab_ico">invert_colors_off</i>
<i class="large material-icons" id="fab_ico">iso</i>
<i class="large material-icons" id="fab_ico">keyboard</i>
<i class="large material-icons" id="fab_ico">keyboard_arrow_down</i>
<i class="large material-icons" id="fab_ico">keyboard_arrow_left</i>
<i class="large material-icons" id="fab_ico">keyboard_arrow_right</i>
<i class="large material-icons" id="fab_ico">keyboard_arrow_up</i>
<i class="large material-icons" id="fab_ico">keyboard_backspace</i>
<i class="large material-icons" id="fab_ico">keyboard_capslock</i>
<i class="large material-icons" id="fab_ico">keyboard_hide</i>
<i class="large material-icons" id="fab_ico">keyboard_return</i>
<i class="large material-icons" id="fab_ico">keyboard_tab</i>
<i class="large material-icons" id="fab_ico">keyboard_voice</i>
<i class="large material-icons" id="fab_ico">kitchen</i>
<i class="large material-icons" id="fab_ico">label</i>
<i class="large material-icons" id="fab_ico">label_outline</i>
<i class="large material-icons" id="fab_ico">landscape</i>
<i class="large material-icons" id="fab_ico">language</i>
<i class="large material-icons" id="fab_ico">laptop</i>
<i class="large material-icons" id="fab_ico">laptop_chromebook</i>
<i class="large material-icons" id="fab_ico">laptop_mac</i>
<i class="large material-icons" id="fab_ico">laptop_windows</i>
<i class="large material-icons" id="fab_ico">last_page</i>
<i class="large material-icons" id="fab_ico">launch</i>
<i class="large material-icons" id="fab_ico">layers</i>
<i class="large material-icons" id="fab_ico">layers_clear</i>
<i class="large material-icons" id="fab_ico">leak_add</i>
<i class="large material-icons" id="fab_ico">leak_remove</i>
<i class="large material-icons" id="fab_ico">lens</i>
<i class="large material-icons" id="fab_ico">library_add</i>
<i class="large material-icons" id="fab_ico">library_books</i>
<i class="large material-icons" id="fab_ico">library_music</i>
<i class="large material-icons" id="fab_ico">lightbulb_outline</i>
<i class="large material-icons" id="fab_ico">line_style</i>
<i class="large material-icons" id="fab_ico">line_weight</i>
<i class="large material-icons" id="fab_ico">linear_scale</i>
<i class="large material-icons" id="fab_ico">link</i>
<i class="large material-icons" id="fab_ico">linked_camera</i>
<i class="large material-icons" id="fab_ico">list</i>
<i class="large material-icons" id="fab_ico">live_help</i>
<i class="large material-icons" id="fab_ico">live_tv</i>
<i class="large material-icons" id="fab_ico">local_activity</i>
<i class="large material-icons" id="fab_ico">local_airport</i>
<i class="large material-icons" id="fab_ico">local_atm</i>
<i class="large material-icons" id="fab_ico">local_bar</i>
<i class="large material-icons" id="fab_ico">local_cafe</i>
<i class="large material-icons" id="fab_ico">local_car_wash</i>
<i class="large material-icons" id="fab_ico">local_convenience_store</i>
<i class="large material-icons" id="fab_ico">local_dining</i>
<i class="large material-icons" id="fab_ico">local_drink</i>
<i class="large material-icons" id="fab_ico">local_florist</i>
<i class="large material-icons" id="fab_ico">local_gas_station</i>
<i class="large material-icons" id="fab_ico">local_grocery_store</i>
<i class="large material-icons" id="fab_ico">local_hospital</i>
<i class="large material-icons" id="fab_ico">local_hotel</i>
<i class="large material-icons" id="fab_ico">local_laundry_service</i>
<i class="large material-icons" id="fab_ico">local_library</i>
<i class="large material-icons" id="fab_ico">local_mall</i>
<i class="large material-icons" id="fab_ico">local_movies</i>
<i class="large material-icons" id="fab_ico">local_offer</i>
<i class="large material-icons" id="fab_ico">local_parking</i>
<i class="large material-icons" id="fab_ico">local_pharmacy</i>
<i class="large material-icons" id="fab_ico">local_phone</i>
<i class="large material-icons" id="fab_ico">local_pizza</i>
<i class="large material-icons" id="fab_ico">local_play</i>
<i class="large material-icons" id="fab_ico">local_post_office</i>
<i class="large material-icons" id="fab_ico">local_printshop</i>
<i class="large material-icons" id="fab_ico">local_see</i>
<i class="large material-icons" id="fab_ico">local_shipping</i>
<i class="large material-icons" id="fab_ico">local_taxi</i>
<i class="large material-icons" id="fab_ico">location_city</i>
<i class="large material-icons" id="fab_ico">location_disabled</i>
<i class="large material-icons" id="fab_ico">location_off</i>
<i class="large material-icons" id="fab_ico">location_on</i>
<i class="large material-icons" id="fab_ico">location_searching</i>
<i class="large material-icons" id="fab_ico">lock</i>
<i class="large material-icons" id="fab_ico">lock_open</i>
<i class="large material-icons" id="fab_ico">lock_outline</i>
<i class="large material-icons" id="fab_ico">looks</i>
<i class="large material-icons" id="fab_ico">looks_3</i>
<i class="large material-icons" id="fab_ico">looks_4</i>
<i class="large material-icons" id="fab_ico">looks_5</i>
<i class="large material-icons" id="fab_ico">looks_6</i>
<i class="large material-icons" id="fab_ico">looks_one</i>
<i class="large material-icons" id="fab_ico">looks_two</i>
<i class="large material-icons" id="fab_ico">loop</i>
<i class="large material-icons" id="fab_ico">loupe</i>
<i class="large material-icons" id="fab_ico">low_priority</i>
<i class="large material-icons" id="fab_ico">loyalty</i>
<i class="large material-icons" id="fab_ico">mail</i>
<i class="large material-icons" id="fab_ico">mail_outline</i>
<i class="large material-icons" id="fab_ico">map</i>
<i class="large material-icons" id="fab_ico">markunread</i>
<i class="large material-icons" id="fab_ico">markunread_mailbox</i>
<i class="large material-icons" id="fab_ico">memory</i>
<i class="large material-icons" id="fab_ico">menu</i>
<i class="large material-icons" id="fab_ico">merge_type</i>
<i class="large material-icons" id="fab_ico">message</i>
<i class="large material-icons" id="fab_ico">mic</i>
<i class="large material-icons" id="fab_ico">mic_none</i>
<i class="large material-icons" id="fab_ico">mic_off</i>
<i class="large material-icons" id="fab_ico">mms</i>
<i class="large material-icons" id="fab_ico">mode_comment</i>
<i class="large material-icons" id="fab_ico">mode_edit</i>
<i class="large material-icons" id="fab_ico">monetization_on</i>
<i class="large material-icons" id="fab_ico">money_off</i>
<i class="large material-icons" id="fab_ico">monochrome_photos</i>
<i class="large material-icons" id="fab_ico">mood</i>
<i class="large material-icons" id="fab_ico">mood_bad</i>
<i class="large material-icons" id="fab_ico">more</i>
<i class="large material-icons" id="fab_ico">more_horiz</i>
<i class="large material-icons" id="fab_ico">more_vert</i>
<i class="large material-icons" id="fab_ico">motorcycle</i>
<i class="large material-icons" id="fab_ico">mouse</i>
<i class="large material-icons" id="fab_ico">move_to_inbox</i>
<i class="large material-icons" id="fab_ico">movie</i>
<i class="large material-icons" id="fab_ico">movie_creation</i>
<i class="large material-icons" id="fab_ico">movie_filter</i>
<i class="large material-icons" id="fab_ico">multiline_chart</i>
<i class="large material-icons" id="fab_ico">music_note</i>
<i class="large material-icons" id="fab_ico">music_video</i>
<i class="large material-icons" id="fab_ico">my_location</i>
<i class="large material-icons" id="fab_ico">nature</i>
<i class="large material-icons" id="fab_ico">nature_people</i>
<i class="large material-icons" id="fab_ico">navigate_before</i>
<i class="large material-icons" id="fab_ico">navigate_next</i>
<i class="large material-icons" id="fab_ico">navigation</i>
<i class="large material-icons" id="fab_ico">near_me</i>
<i class="large material-icons" id="fab_ico">network_cell</i>
<i class="large material-icons" id="fab_ico">network_check</i>
<i class="large material-icons" id="fab_ico">network_locked</i>
<i class="large material-icons" id="fab_ico">network_wifi</i>
<i class="large material-icons" id="fab_ico">new_releases</i>
<i class="large material-icons" id="fab_ico">next_week</i>
<i class="large material-icons" id="fab_ico">nfc</i>
<i class="large material-icons" id="fab_ico">no_encryption</i>
<i class="large material-icons" id="fab_ico">no_sim</i>
<i class="large material-icons" id="fab_ico">not_interested</i>
<i class="large material-icons" id="fab_ico">note</i>
<i class="large material-icons" id="fab_ico">note_add</i>
<i class="large material-icons" id="fab_ico">notifications</i>
<i class="large material-icons" id="fab_ico">notifications_active</i>
<i class="large material-icons" id="fab_ico">notifications_none</i>
<i class="large material-icons" id="fab_ico">notifications_off</i>
<i class="large material-icons" id="fab_ico">notifications_paused</i>
<i class="large material-icons" id="fab_ico">offline_pin</i>
<i class="large material-icons" id="fab_ico">ondemand_video</i>
<i class="large material-icons" id="fab_ico">opacity</i>
<i class="large material-icons" id="fab_ico">open_in_browser</i>
<i class="large material-icons" id="fab_ico">open_in_new</i>
<i class="large material-icons" id="fab_ico">open_with</i>
<i class="large material-icons" id="fab_ico">pages</i>
<i class="large material-icons" id="fab_ico">pageview</i>
<i class="large material-icons" id="fab_ico">palette</i>
<i class="large material-icons" id="fab_ico">pan_tool</i>
<i class="large material-icons" id="fab_ico">panorama</i>
<i class="large material-icons" id="fab_ico">panorama_fish_eye</i>
<i class="large material-icons" id="fab_ico">panorama_horizontal</i>
<i class="large material-icons" id="fab_ico">panorama_vertical</i>
<i class="large material-icons" id="fab_ico">panorama_wide_angle</i>
<i class="large material-icons" id="fab_ico">party_mode</i>
<i class="large material-icons" id="fab_ico">pause</i>
<i class="large material-icons" id="fab_ico">pause_circle_filled</i>
<i class="large material-icons" id="fab_ico">pause_circle_outline</i>
<i class="large material-icons" id="fab_ico">payment</i>
<i class="large material-icons" id="fab_ico">people</i>
<i class="large material-icons" id="fab_ico">people_outline</i>
<i class="large material-icons" id="fab_ico">perm_camera_mic</i>
<i class="large material-icons" id="fab_ico">perm_contact_calendar</i>
<i class="large material-icons" id="fab_ico">perm_data_setting</i>
<i class="large material-icons" id="fab_ico">perm_device_information</i>
<i class="large material-icons" id="fab_ico">perm_identity</i>
<i class="large material-icons" id="fab_ico">perm_media</i>
<i class="large material-icons" id="fab_ico">perm_phone_msg</i>
<i class="large material-icons" id="fab_ico">perm_scan_wifi</i>
<i class="large material-icons" id="fab_ico">person</i>
<i class="large material-icons" id="fab_ico">person_add</i>
<i class="large material-icons" id="fab_ico">person_outline</i>
<i class="large material-icons" id="fab_ico">person_pin</i>
<i class="large material-icons" id="fab_ico">person_pin_circle</i>
<i class="large material-icons" id="fab_ico">personal_video</i>
<i class="large material-icons" id="fab_ico">pets</i>
<i class="large material-icons" id="fab_ico">phone</i>
<i class="large material-icons" id="fab_ico">phone_android</i>
<i class="large material-icons" id="fab_ico">phone_bluetooth_speaker</i>
<i class="large material-icons" id="fab_ico">phone_forwarded</i>
<i class="large material-icons" id="fab_ico">phone_in_talk</i>
<i class="large material-icons" id="fab_ico">phone_iphone</i>
<i class="large material-icons" id="fab_ico">phone_locked</i>
<i class="large material-icons" id="fab_ico">phone_missed</i>
<i class="large material-icons" id="fab_ico">phone_paused</i>
<i class="large material-icons" id="fab_ico">phonelink</i>
<i class="large material-icons" id="fab_ico">phonelink_erase</i>
<i class="large material-icons" id="fab_ico">phonelink_lock</i>
<i class="large material-icons" id="fab_ico">phonelink_off</i>
<i class="large material-icons" id="fab_ico">phonelink_ring</i>
<i class="large material-icons" id="fab_ico">phonelink_setup</i>
<i class="large material-icons" id="fab_ico">photo</i>
<i class="large material-icons" id="fab_ico">photo_album</i>
<i class="large material-icons" id="fab_ico">photo_camera</i>
<i class="large material-icons" id="fab_ico">photo_filter</i>
<i class="large material-icons" id="fab_ico">photo_library</i>
<i class="large material-icons" id="fab_ico">photo_size_select_actual</i>
<i class="large material-icons" id="fab_ico">photo_size_select_large</i>
<i class="large material-icons" id="fab_ico">photo_size_select_small</i>
<i class="large material-icons" id="fab_ico">picture_as_pdf</i>
<i class="large material-icons" id="fab_ico">picture_in_picture</i>
<i class="large material-icons" id="fab_ico">picture_in_picture_alt</i>
<i class="large material-icons" id="fab_ico">pie_chart</i>
<i class="large material-icons" id="fab_ico">pie_chart_outlined</i>
<i class="large material-icons" id="fab_ico">pin_drop</i>
<i class="large material-icons" id="fab_ico">place</i>
<i class="large material-icons" id="fab_ico">play_arrow</i>
<i class="large material-icons" id="fab_ico">play_circle_filled</i>
<i class="large material-icons" id="fab_ico">play_circle_outline</i>
<i class="large material-icons" id="fab_ico">play_for_work</i>
<i class="large material-icons" id="fab_ico">playlist_add</i>
<i class="large material-icons" id="fab_ico">playlist_add_check</i>
<i class="large material-icons" id="fab_ico">playlist_play</i>
<i class="large material-icons" id="fab_ico">plus_one</i>
<i class="large material-icons" id="fab_ico">poll</i>
<i class="large material-icons" id="fab_ico">polymer</i>
<i class="large material-icons" id="fab_ico">pool</i>
<i class="large material-icons" id="fab_ico">portable_wifi_off</i>
<i class="large material-icons" id="fab_ico">portrait</i>
<i class="large material-icons" id="fab_ico">power</i>
<i class="large material-icons" id="fab_ico">power_input</i>
<i class="large material-icons" id="fab_ico">power_settings_new</i>
<i class="large material-icons" id="fab_ico">pregnant_woman</i>
<i class="large material-icons" id="fab_ico">present_to_all</i>
<i class="large material-icons" id="fab_ico">print</i>
<i class="large material-icons" id="fab_ico">priority_high</i>
<i class="large material-icons" id="fab_ico">public</i>
<i class="large material-icons" id="fab_ico">publish</i>
<i class="large material-icons" id="fab_ico">query_builder</i>
<i class="large material-icons" id="fab_ico">question_answer</i>
<i class="large material-icons" id="fab_ico">queue</i>
<i class="large material-icons" id="fab_ico">queue_music</i>
<i class="large material-icons" id="fab_ico">queue_play_next</i>
<i class="large material-icons" id="fab_ico">radio</i>
<i class="large material-icons" id="fab_ico">radio_button_checked</i>
<i class="large material-icons" id="fab_ico">radio_button_unchecked</i>
<i class="large material-icons" id="fab_ico">rate_review</i>
<i class="large material-icons" id="fab_ico">receipt</i>
<i class="large material-icons" id="fab_ico">recent_actors</i>
<i class="large material-icons" id="fab_ico">record_voice_over</i>
<i class="large material-icons" id="fab_ico">redeem</i>
<i class="large material-icons" id="fab_ico">redo</i>
<i class="large material-icons" id="fab_ico">refresh</i>
<i class="large material-icons" id="fab_ico">remove</i>
<i class="large material-icons" id="fab_ico">remove_circle</i>
<i class="large material-icons" id="fab_ico">remove_circle_outline</i>
<i class="large material-icons" id="fab_ico">remove_from_queue</i>
<i class="large material-icons" id="fab_ico">remove_red_eye</i>
<i class="large material-icons" id="fab_ico">remove_shopping_cart</i>
<i class="large material-icons" id="fab_ico">reorder</i>
<i class="large material-icons" id="fab_ico">repeat</i>
<i class="large material-icons" id="fab_ico">repeat_one</i>
<i class="large material-icons" id="fab_ico">replay</i>
<i class="large material-icons" id="fab_ico">replay_10</i>
<i class="large material-icons" id="fab_ico">replay_30</i>
<i class="large material-icons" id="fab_ico">replay_5</i>
<i class="large material-icons" id="fab_ico">reply</i>
<i class="large material-icons" id="fab_ico">reply_all</i>
<i class="large material-icons" id="fab_ico">report</i>
<i class="large material-icons" id="fab_ico">report_problem</i>
<i class="large material-icons" id="fab_ico">restaurant</i>
<i class="large material-icons" id="fab_ico">restaurant_menu</i>
<i class="large material-icons" id="fab_ico">restore</i>
<i class="large material-icons" id="fab_ico">restore_page</i>
<i class="large material-icons" id="fab_ico">ring_volume</i>
<i class="large material-icons" id="fab_ico">room</i>
<i class="large material-icons" id="fab_ico">room_service</i>
<i class="large material-icons" id="fab_ico">rotate_90_degrees_ccw</i>
<i class="large material-icons" id="fab_ico">rotate_left</i>
<i class="large material-icons" id="fab_ico">rotate_right</i>
<i class="large material-icons" id="fab_ico">rounded_corner</i>
<i class="large material-icons" id="fab_ico">router</i>
<i class="large material-icons" id="fab_ico">rowing</i>
<i class="large material-icons" id="fab_ico">rss_feed</i>
<i class="large material-icons" id="fab_ico">rv_hookup</i>
<i class="large material-icons" id="fab_ico">satellite</i>
<i class="large material-icons" id="fab_ico">save</i>
<i class="large material-icons" id="fab_ico">scanner</i>
<i class="large material-icons" id="fab_ico">schedule</i>
<i class="large material-icons" id="fab_ico">school</i>
<i class="large material-icons" id="fab_ico">screen_lock_landscape</i>
<i class="large material-icons" id="fab_ico">screen_lock_portrait</i>
<i class="large material-icons" id="fab_ico">screen_lock_rotation</i>
<i class="large material-icons" id="fab_ico">screen_rotation</i>
<i class="large material-icons" id="fab_ico">screen_share</i>
<i class="large material-icons" id="fab_ico">sd_card</i>
<i class="large material-icons" id="fab_ico">sd_storage</i>
<i class="large material-icons" id="fab_ico">search</i>
<i class="large material-icons" id="fab_ico">security</i>
<i class="large material-icons" id="fab_ico">select_all</i>
<i class="large material-icons" id="fab_ico">send</i>
<i class="large material-icons" id="fab_ico">sentiment_dissatisfied</i>
<i class="large material-icons" id="fab_ico">sentiment_neutral</i>
<i class="large material-icons" id="fab_ico">sentiment_satisfied</i>
<i class="large material-icons" id="fab_ico">sentiment_very_dissatisfied</i>
<i class="large material-icons" id="fab_ico">sentiment_very_satisfied</i>
<i class="large material-icons" id="fab_ico">settings</i>
<i class="large material-icons" id="fab_ico">settings_applications</i>
<i class="large material-icons" id="fab_ico">settings_backup_restore</i>
<i class="large material-icons" id="fab_ico">settings_bluetooth</i>
<i class="large material-icons" id="fab_ico">settings_brightness</i>
<i class="large material-icons" id="fab_ico">settings_cell</i>
<i class="large material-icons" id="fab_ico">settings_ethernet</i>
<i class="large material-icons" id="fab_ico">settings_input_antenna</i>
<i class="large material-icons" id="fab_ico">settings_input_component</i>
<i class="large material-icons" id="fab_ico">settings_input_composite</i>
<i class="large material-icons" id="fab_ico">settings_input_hdmi</i>
<i class="large material-icons" id="fab_ico">settings_input_svideo</i>
<i class="large material-icons" id="fab_ico">settings_overscan</i>
<i class="large material-icons" id="fab_ico">settings_phone</i>
<i class="large material-icons" id="fab_ico">settings_power</i>
<i class="large material-icons" id="fab_ico">settings_remote</i>
<i class="large material-icons" id="fab_ico">settings_system_daydream</i>
<i class="large material-icons" id="fab_ico">settings_voice</i>
<i class="large material-icons" id="fab_ico">share</i>
<i class="large material-icons" id="fab_ico">shop</i>
<i class="large material-icons" id="fab_ico">shop_two</i>
<i class="large material-icons" id="fab_ico">shopping_basket</i>
<i class="large material-icons" id="fab_ico">shopping_cart</i>
<i class="large material-icons" id="fab_ico">short_text</i>
<i class="large material-icons" id="fab_ico">show_chart</i>
<i class="large material-icons" id="fab_ico">shuffle</i>
<i class="large material-icons" id="fab_ico">signal_cellular_4_bar</i>
<i class="large material-icons" id="fab_ico">signal_cellular_connected_no_internet_4_bar</i>
<i class="large material-icons" id="fab_ico">signal_cellular_no_sim</i>
<i class="large material-icons" id="fab_ico">signal_cellular_null</i>
<i class="large material-icons" id="fab_ico">signal_cellular_off</i>
<i class="large material-icons" id="fab_ico">signal_wifi_4_bar</i>
<i class="large material-icons" id="fab_ico">signal_wifi_4_bar_lock</i>
<i class="large material-icons" id="fab_ico">signal_wifi_off</i>
<i class="large material-icons" id="fab_ico">sim_card</i>
<i class="large material-icons" id="fab_ico">sim_card_alert</i>
<i class="large material-icons" id="fab_ico">skip_next</i>
<i class="large material-icons" id="fab_ico">skip_previous</i>
<i class="large material-icons" id="fab_ico">slideshow</i>
<i class="large material-icons" id="fab_ico">slow_motion_video</i>
<i class="large material-icons" id="fab_ico">smartphone</i>
<i class="large material-icons" id="fab_ico">smoke_free</i>
<i class="large material-icons" id="fab_ico">smoking_rooms</i>
<i class="large material-icons" id="fab_ico">sms</i>
<i class="large material-icons" id="fab_ico">sms_failed</i>
<i class="large material-icons" id="fab_ico">snooze</i>
<i class="large material-icons" id="fab_ico">sort</i>
<i class="large material-icons" id="fab_ico">sort_by_alpha</i>
<i class="large material-icons" id="fab_ico">spa</i>
<i class="large material-icons" id="fab_ico">space_bar</i>
<i class="large material-icons" id="fab_ico">speaker</i>
<i class="large material-icons" id="fab_ico">speaker_group</i>
<i class="large material-icons" id="fab_ico">speaker_notes</i>
<i class="large material-icons" id="fab_ico">speaker_notes_off</i>
<i class="large material-icons" id="fab_ico">speaker_phone</i>
<i class="large material-icons" id="fab_ico">spellcheck</i>
<i class="large material-icons" id="fab_ico">star</i>
<i class="large material-icons" id="fab_ico">star_border</i>
<i class="large material-icons" id="fab_ico">star_half</i>
<i class="large material-icons" id="fab_ico">stars</i>
<i class="large material-icons" id="fab_ico">stay_current_landscape</i>
<i class="large material-icons" id="fab_ico">stay_current_portrait</i>
<i class="large material-icons" id="fab_ico">stay_primary_landscape</i>
<i class="large material-icons" id="fab_ico">stay_primary_portrait</i>
<i class="large material-icons" id="fab_ico">stop</i>
<i class="large material-icons" id="fab_ico">stop_screen_share</i>
<i class="large material-icons" id="fab_ico">storage</i>
<i class="large material-icons" id="fab_ico">store</i>
<i class="large material-icons" id="fab_ico">store_mall_directory</i>
<i class="large material-icons" id="fab_ico">straighten</i>
<i class="large material-icons" id="fab_ico">streetview</i>
<i class="large material-icons" id="fab_ico">strikethrough_s</i>
<i class="large material-icons" id="fab_ico">style</i>
<i class="large material-icons" id="fab_ico">subdirectory_arrow_left</i>
<i class="large material-icons" id="fab_ico">subdirectory_arrow_right</i>
<i class="large material-icons" id="fab_ico">subject</i>
<i class="large material-icons" id="fab_ico">subscriptions</i>
<i class="large material-icons" id="fab_ico">subtitles</i>
<i class="large material-icons" id="fab_ico">subway</i>
<i class="large material-icons" id="fab_ico">supervisor_account</i>
<i class="large material-icons" id="fab_ico">surround_sound</i>
<i class="large material-icons" id="fab_ico">swap_calls</i>
<i class="large material-icons" id="fab_ico">swap_horiz</i>
<i class="large material-icons" id="fab_ico">swap_vert</i>
<i class="large material-icons" id="fab_ico">swap_vertical_circle</i>
<i class="large material-icons" id="fab_ico">switch_camera</i>
<i class="large material-icons" id="fab_ico">switch_video</i>
<i class="large material-icons" id="fab_ico">sync</i>
<i class="large material-icons" id="fab_ico">sync_disabled</i>
<i class="large material-icons" id="fab_ico">sync_problem</i>
<i class="large material-icons" id="fab_ico">system_update</i>
<i class="large material-icons" id="fab_ico">system_update_alt</i>
<i class="large material-icons" id="fab_ico">tab</i>
<i class="large material-icons" id="fab_ico">tab_unselected</i>
<i class="large material-icons" id="fab_ico">tablet</i>
<i class="large material-icons" id="fab_ico">tablet_android</i>
<i class="large material-icons" id="fab_ico">tablet_mac</i>
<i class="large material-icons" id="fab_ico">tag_faces</i>
<i class="large material-icons" id="fab_ico">tap_and_play</i>
<i class="large material-icons" id="fab_ico">terrain</i>
<i class="large material-icons" id="fab_ico">text_fields</i>
<i class="large material-icons" id="fab_ico">text_format</i>
<i class="large material-icons" id="fab_ico">textsms</i>
<i class="large material-icons" id="fab_ico">texture</i>
<i class="large material-icons" id="fab_ico">theaters</i>
<i class="large material-icons" id="fab_ico">thumb_down</i>
<i class="large material-icons" id="fab_ico">thumb_up</i>
<i class="large material-icons" id="fab_ico">thumbs_up_down</i>
<i class="large material-icons" id="fab_ico">time_to_leave</i>
<i class="large material-icons" id="fab_ico">timelapse</i>
<i class="large material-icons" id="fab_ico">timeline</i>
<i class="large material-icons" id="fab_ico">timer</i>
<i class="large material-icons" id="fab_ico">timer_10</i>
<i class="large material-icons" id="fab_ico">timer_3</i>
<i class="large material-icons" id="fab_ico">timer_off</i>
<i class="large material-icons" id="fab_ico">title</i>
<i class="large material-icons" id="fab_ico">toc</i>
<i class="large material-icons" id="fab_ico">today</i>
<i class="large material-icons" id="fab_ico">toll</i>
<i class="large material-icons" id="fab_ico">tonality</i>
<i class="large material-icons" id="fab_ico">touch_app</i>
<i class="large material-icons" id="fab_ico">toys</i>
<i class="large material-icons" id="fab_ico">track_changes</i>
<i class="large material-icons" id="fab_ico">traffic</i>
<i class="large material-icons" id="fab_ico">train</i>
<i class="large material-icons" id="fab_ico">tram</i>
<i class="large material-icons" id="fab_ico">transfer_within_a_station</i>
<i class="large material-icons" id="fab_ico">transform</i>
<i class="large material-icons" id="fab_ico">translate</i>
<i class="large material-icons" id="fab_ico">trending_down</i>
<i class="large material-icons" id="fab_ico">trending_flat</i>
<i class="large material-icons" id="fab_ico">trending_up</i>
<i class="large material-icons" id="fab_ico">tune</i>
<i class="large material-icons" id="fab_ico">turned_in</i>
<i class="large material-icons" id="fab_ico">turned_in_not</i>
<i class="large material-icons" id="fab_ico">tv</i>
<i class="large material-icons" id="fab_ico">unarchive</i>
<i class="large material-icons" id="fab_ico">undo</i>
<i class="large material-icons" id="fab_ico">unfold_less</i>
<i class="large material-icons" id="fab_ico">unfold_more</i>
<i class="large material-icons" id="fab_ico">update</i>
<i class="large material-icons" id="fab_ico">usb</i>
<i class="large material-icons" id="fab_ico">verified_user</i>
<i class="large material-icons" id="fab_ico">vertical_align_bottom</i>
<i class="large material-icons" id="fab_ico">vertical_align_center</i>
<i class="large material-icons" id="fab_ico">vertical_align_top</i>
<i class="large material-icons" id="fab_ico">vibration</i>
<i class="large material-icons" id="fab_ico">video_call</i>
<i class="large material-icons" id="fab_ico">video_label</i>
<i class="large material-icons" id="fab_ico">video_library</i>
<i class="large material-icons" id="fab_ico">videocam</i>
<i class="large material-icons" id="fab_ico">videocam_off</i>
<i class="large material-icons" id="fab_ico">videogame_asset</i>
<i class="large material-icons" id="fab_ico">view_agenda</i>
<i class="large material-icons" id="fab_ico">view_array</i>
<i class="large material-icons" id="fab_ico">view_carousel</i>
<i class="large material-icons" id="fab_ico">view_column</i>
<i class="large material-icons" id="fab_ico">view_comfy</i>
<i class="large material-icons" id="fab_ico">view_compact</i>
<i class="large material-icons" id="fab_ico">view_day</i>
<i class="large material-icons" id="fab_ico">view_headline</i>
<i class="large material-icons" id="fab_ico">view_list</i>
<i class="large material-icons" id="fab_ico">view_module</i>
<i class="large material-icons" id="fab_ico">view_quilt</i>
<i class="large material-icons" id="fab_ico">view_stream</i>
<i class="large material-icons" id="fab_ico">view_week</i>
<i class="large material-icons" id="fab_ico">vignette</i>
<i class="large material-icons" id="fab_ico">visibility</i>
<i class="large material-icons" id="fab_ico">visibility_off</i>
<i class="large material-icons" id="fab_ico">voice_chat</i>
<i class="large material-icons" id="fab_ico">voicemail</i>
<i class="large material-icons" id="fab_ico">volume_down</i>
<i class="large material-icons" id="fab_ico">volume_mute</i>
<i class="large material-icons" id="fab_ico">volume_off</i>
<i class="large material-icons" id="fab_ico">volume_up</i>
<i class="large material-icons" id="fab_ico">vpn_key</i>
<i class="large material-icons" id="fab_ico">vpn_lock</i>
<i class="large material-icons" id="fab_ico">wallpaper</i>
<i class="large material-icons" id="fab_ico">warning</i>
<i class="large material-icons" id="fab_ico">watch</i>
<i class="large material-icons" id="fab_ico">watch_later</i>
<i class="large material-icons" id="fab_ico">wb_auto</i>
<i class="large material-icons" id="fab_ico">wb_cloudy</i>
<i class="large material-icons" id="fab_ico">wb_incandescent</i>
<i class="large material-icons" id="fab_ico">wb_iridescent</i>
<i class="large material-icons" id="fab_ico">wb_sunny</i>
<i class="large material-icons" id="fab_ico">wc</i>
<i class="large material-icons" id="fab_ico">web</i>
<i class="large material-icons" id="fab_ico">web_asset</i>
<i class="large material-icons" id="fab_ico">weekend</i>
<i class="large material-icons" id="fab_ico">whatshot</i>
<i class="large material-icons" id="fab_ico">widgets</i>
<i class="large material-icons" id="fab_ico">wifi</i>
<i class="large material-icons" id="fab_ico">wifi_lock</i>
<i class="large material-icons" id="fab_ico">wifi_tethering</i>
<i class="large material-icons" id="fab_ico">work</i>
<i class="large material-icons" id="fab_ico">wrap_text</i>
<i class="large material-icons" id="fab_ico">youtube_searched_for</i>
<i class="large material-icons" id="fab_ico">zoom_in</i>
<i class="large material-icons" id="fab_ico">zoom_out</i>
<i class="large material-icons" id="fab_ico">zoom_out_map</i>

{% endblock content %}

{% block script_tag %}
<script src="{% static "pages/js/mso.js" %}" type="text/javascript"></script>
{% if msg %}
<script>
    Materialize.toast('{{ msg }}', 8000, 'rounded');
</script>
{% endif %}

{% endblock script_tag %}
