{% extends 'cns_base.html' %}
{% load static %}
{% block title %}  {% endblock title %}

{% block content %}
	<style type="text/css">
		html, body {
    height:100%;
    width:100%;
    margin:0;
}

.h_iframe {
    height: 100%;
    width:100%;
}

.hidebtn {
  width: 45px;
  height: 45px;
  background: #252829;
  position: absolute;
  right: 14px;
  top: 75px;
}

	</style>
	<div class="hidebtn">&nbsp;</div>
    <iframe class="h_iframe" src="{{drive_url}}" ></iframe>

{% endblock content %}