{% extends 'cns_base.html' %}
{% load static %}
{% block title %} Daily Attendance {% endblock title %}

{% block linktag %}
<link rel="stylesheet" type="text/css" href="{% static "pages/css/mso.css" %}"> {% endblock linktag %}


{% block content %}
<div class="container">
    <h3 class="center">DAILY ATTENDANCE</h3>
    <form method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col s12">
                    <div>
                        <input type="submit" value="Submit" class="btn right blue" onclick="return checkAttendance()">
                    </div>
                </div>
            </div>
    <!-- BORDERED, HIGHTLIGHTED & RESPONSIVE TABLE -->
<table class="bordered striped striped highlight responsive-table">
    <thead>
        <tr>
            <th>ID Number</th>
            <th>Full Name</th>
        </tr>
    </thead>
    <tbody>
        {% for id, record_details in filtered_stds.items %}
        <div id="{{id}}" class="trainee">
            <tr>
                <th>{{record_details.stud_id}}</th>
                <th id="th_{{ id }}">{{ record_details.name }}</th>
                <th class="right">
                    <!-- RADIO BUTTONS -->
                    <input onclick="radioCallback({{id}})" class="att_radio with-gap" type="radio" name="attendance_{{id}}" id="absent_{{id}}" value="absent" onclick="att()">
                    <label for="absent_{{id}}">Absent</label>
                    <input onclick="radioCallback({{id}})" class="att_radio with-gap" type="radio" name="attendance_{{id}}" id="present_{{id}}" value="present">
                    <label for="present_{{id}}">Present </label>
                    <input onclick="radioCallback({{id}})" class="att_radio with-gap" type="radio" name="attendance_{{id}}" id="excused_{{id}}" value="excused">
                    <label for="excused_{{id}}">Excused </label>
                    <input onclick="radioCallback({{id}})" class="att_radio with-gap" type="radio" name="attendance_{{id}}" id="late_{{id}}" value="late">
                    <label for="late_{{id}}">Late </label>
                </th>
            </tr>
        </div>
        {% endfor %}
    </tbody>
</table>
</form>
<br>
<br>
<br>
<br>
</div>
{% endblock content %}

{% block script_tag %}
<script src="{% static "pages/js/mso.js" %}" type="text/javascript"></script>
{% if msg %}
<script>
    Materialize.toast('{{ msg }}', 8000, 'rounded');
</script>
{% endif %}
<script>
    var all_ids = []
    var all_studs = {}
        
    $(document).ready(function() {
        var all_trainees = $('.trainee')
        for(var i = 0; i <= all_trainees.length-1; i++){
            all_ids.push(parseInt(all_trainees[i].id))
        }
        console.log(all_ids)
    });

    var checked_ids = [];
    function radioCallback(trainee_id){
        delete all_studs[trainee_id]
        console.log(all_studs)
    }

    function checkAttendance(){
        if(Object.keys(all_studs).length > 0){
            for(i in all_studs){
                Materialize.toast(all_studs[i], 8000, 'rounded');
            }
            return false
        }
        else{
            return true
        }  
    }

</script>
{% endblock script_tag %}
