{% extends 'cns_base.html' %}
{% load static %}
{% block title %} Daily Attendance {% endblock title %}

{% block linktag %}
<link rel="stylesheet" type="text/css" href="{% static "pages/css/mso.css" %}"> {% endblock linktag %}


{% block content %}
<div class="container">
    <h3 class="center">DAILY ATTENDANCE</h3>
    <form method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col s12">
                    <div>
                        <input type="submit" value="Submit" class="btn right blue" onclick="return checkAttendance()">
                    </div>
                </div>
            </div>
    <!-- BORDERED, HIGHTLIGHTED & RESPONSIVE TABLE -->
<table class="bordered highlight responsive-table">
    <thead>
        <tr>
            <th>ID Number</th>
            <th>Full Name</th>
        </tr>
    </thead>
    <tbody>
        {% for trainee in trainees %}
        <div id="{{trainee.pk}}" class="trainee">
            <tr>
                <th>00{{ trainee.id }}</th>
                <th id="th_{{ trainee.id }}">{{ trainee.first_name|title }} {{ trainee.last_name|title }}</th>
                <th class="right">
                    <!-- RADIO BUTTONS -->
                    <input onclick="radioCallback({{trainee.pk}})" class="att_radio with-gap" type="radio" name="attendance_{{trainee.pk}}" id="absent_{{trainee.pk}}" value="absent" onclick="att()">
                    <label for="absent_{{trainee.pk}}">Absent</label>
                    <input onclick="radioCallback({{trainee.pk}})" class="att_radio with-gap" type="radio" name="attendance_{{trainee.pk}}" id="present_{{trainee.pk}}" value="present">
                    <label for="present_{{trainee.pk}}">Present </label>
                    <input onclick="radioCallback({{trainee.pk}})" class="att_radio with-gap" type="radio" name="attendance_{{trainee.pk}}" id="excused_{{trainee.pk}}" value="excused">
                    <label for="excused_{{trainee.pk}}">Excused </label>
                    <input onclick="radioCallback({{trainee.pk}})" class="att_radio with-gap" type="radio" name="attendance_{{trainee.pk}}" id="late_{{trainee.pk}}" value="late">
                    <label for="late_{{trainee.pk}}">Late </label>
                </th>
            </tr>
        </div>
        {% endfor %}
    </tbody>
</table>
</form>
<br>
<br>
<br>
<br>
</div>
{% endblock content %}

{% block script_tag %}
<script src="{% static "pages/js/mso.js" %}" type="text/javascript"></script>
{% if msg %}
<script>
    Materialize.toast('{{ msg }}', 8000, 'rounded');
</script>
{% endif %}
<script>
    var all_ids = []
    var all_studs = {}
        
    $( document ).ready(function() {
        {% for trainee in trainees %}
        all_studs[{{trainee.pk}}]= String.raw`Check {{ trainee.first_name|title }} {{ trainee.last_name|title }}'s Attendance`
        {% endfor %}
    });

    var checked_ids = [];
    function radioCallback(trainee_id){
        delete all_studs[trainee_id]
    }

    function checkAttendance(){
        if(Object.keys(all_studs).length > 0){
            for(i in all_studs){
                Materialize.toast(all_studs[i], 8000, 'rounded');
            }
            return false
        }
        else{
            return true
        }  
    }

</script>
{% endblock script_tag %}
