{% extends 'cns_base.html' %}
{% load static %}
{% block title %} Enroll New Trainee {% endblock title %}

{% block linktag %}
<link rel="stylesheet" type="text/css" href="{% static "pages/css/mso.css" %}"> {% endblock linktag %}


{% block content %}
<div class="container">
    <p>{{trainee.pk}}</p>
    <p>{{trainee.last_name}}</p>
    <p>{{trainee}}</p>
    <p>visa:<img src="{{trainee.visa_copy.url}}" alt="" width="100"></p>
    <p>passport:<img src="{{trainee.passport_copy.url}}" alt="" width="100"></p>
    <p>photo:<img src="{{trainee.passport_size_photo.url}}" alt="" width="100"></p>
</div>
{% endblock content %}