{% extends 'cns_base.html' %}
{% load static %}
{% block title %} Dashboard {% endblock title %}

{% block linktag %}
<link rel="stylesheet" type="text/css" href="{% static "pages/css/home_style.css" %}"> {% endblock linktag %}
{% block content %}
<br>
<br>
<br>
<div class="container white z-depth-2">
        <div class="form-container">
                <center><h3>Edit Profile</h3></center>
                <div style="display: inline-block">
                        
                        <div class="row">
                            <div class="col s12">
                                    <img class="center" src="{% static "pages/img/male_profile_default.png" %}" style="width:150px; border-radius: 50%;" alt="male_profile_default">
                            </div>
                            <div class="col s12">
                                                                
                <div style="float:left;">
                        <!-- TXT File Exported From Exam View -->
                        <div class="file-field input-field">
                            <div>
                                <input type="file" accept="image/*" name="txt_file">
                            </div>
                            <div class="file-path-wrapper">
                                <input id="fileUpload" class="file-path validate" type="text" placeholder="Change Profile Picture">
                            </div>
                        </div>
                    </div>
                    
                            </div>
                        </div>
                 </div>
                <div style="display: inline-block; float: right;">
                        <form method="post">
                                {% csrf_token %}
                                      <div class="row">
                                          <div class="col s12 m6">
                                                <div class="input-field">
                                                    <input id="first_name" type="text" required>
                                                    <label for="first_name">First Name</label>
                                                </div>
                                          </div>
                                          <div class="col s12 m6">
                                                <div class="input-field">
                                                    <input id="last_name" type="text" required>
                                                    <label for="last_name">Last Name</label>
                                                </div>
                                          </div>
                                          <div class="input-field col s12">
                                            <input id="email" type="email" class="validate">
                                            <label for="email">Email</label>
                                        </div>
                                      </div>
                                        
                                      <button type="submit" class="btn btn-primary blue right">Submit</button>
                            </form>
                     </div>
                     
                
                
        </div>
{% endblock %}