{% extends 'fans-index-base.html' %}
{% load static %}
<title>{% block title %}Courses We Offer{% endblock title %}</title>

<!-- Body Content -->
{% block content %}
	<br>
	<h4 class="center blue-text lighten-3">Courses We Offer</h4>
	<br>
	<!-- Courses -->
	<section>
	    <div class="row">
	        <div class="col l12">
	            <div class="card-panel z-depth-5">
	                <h4 class="center blue-text lighten-3">AIR TRAFFIC MANAGEMENT – Basic Air Traffic Control Training (ICAO 051)</h4>
	                <p>
	                	<strong><font size="4">Course Aim:	</font></strong> The course is designed to provide the students with a comprehensive introduction to Air Traffic Services in general and to provide the student with the necessary fundamental knowledge, skills and attitude in accordance with ICAO standards and recommended practices to enable progression to either on-the-job training as an ATC Assistant, or to ATC rating training.
	                </p>

	                <p><strong><font size="4">Prerequisites: </font></strong></p>
	                <p>•	Students who have graduated from Secondary Level education and/or; have a civil or military aviation background.</p>
	                <p>•	Competent in English language.</p>
	            </div>
	        </div>


	        <div class="col l12">
	            <div class="card-panel z-depth-5">
	                <h4 class="center blue-text lighten-3">AIR TRAFFIC MANAGEMENT – Aerodrome Control (ICAO 052)</h4>
	                <p>
	                	<strong><font size="4">Course Aim:	</font></strong> Training designed to provide the trainee with the fundamental knowledge, skills and attitude in accordance with ICAO standards and recommended practices to enable progression to on-the-job training with the aim of obtaining an ATC Licence/Certificate of Competence with an Aerodrome Control rating.
	                </p>

	                <p><strong><font size="4">Prerequisites: </font></strong></p>
	                <p>•	Students who have successfully completed Basic Air Traffic Control (ICAO 051) Course from an approved ATO and wish to become an air traffic controller in a Tower environment.</p>
	                <p>•	Competent in English language.</p>
	            </div>
	        </div>


	        <div class="col l12">
	            <div class="card-panel z-depth-5">
	                <h4 class="center blue-text lighten-3">AIR TRAFFIC MANAGEMENT – Approach Control – Non Radar (ICAO 053)</h4>
	                <p>
	                	<strong><font size="4">Course Aim:	</font></strong>To impart knowledge and skills to student air traffic controllers on theory, principles and practice of approach control (non - radar) in accordance with ICAO standards and recommended practices to enable progression to on-the-job training with the aim of obtaining a Certificate of Competence at an approach control (non - radar) unit.
	                </p>

	                <p><strong><font size="4">Prerequisites: </font></strong></p>
	                <p>•	A student who has successfully completed ICAO 051 and ICAO 052 from an approved ATO.</p>
	                <p>•	Preferably be a holder of an ATC Licence endorsed with an Aerodrome Rating and Unit Certificate of Competency.</p>
	                <p>•	A student has demonstrated and tested minimum ICAO English Language Proficiency Level 4.</p>
	            </div>
	        </div>


	        <div class="col l12">
	            <div class="card-panel z-depth-5">
	                <h4 class="center blue-text lighten-3">AIR TRAFFIC MANAGEMENT – Approach Control with Radar (ICAO 054)</h4>
	                <p>
	                	<strong><font size="4">Course Aim:	</font></strong>To impart knowledge and skills to student air traffic controllers on theory, principles and practice of approach control with Surveillance equipment (Radar) in accordance with ICAO standards and recommended practices to enable progression to on-the-job training with the aim of obtaining a Certificate of Competence at an approach control unit with Surveillance equipment (Radar).
	                </p>

	                <p><strong><font size="4">Prerequisites: </font></strong></p>
	                <p>•	A student who has successfully completed ICAO 053 from an Approved ATO</p>
	                <p>•	Preferably be a holder of an ATC Licence endorsed with Aerodrome and/or Approach Control – Non-Radar Rating and Unit Certificate of Competency.</p>
	                <p>•	The student has demonstrated and tested minimum ICAO English Language Proficiency Level 4.</p>
	            </div>
	        </div>


	        <div class="col l12">
	            <div class="card-panel z-depth-5">
	                <h4 class="center blue-text lighten-3">AVIATION ENGLISH COMMUNICATION – Level 1</h4>
	                <p>
	                	<strong><font size="4">Course Aim:	</font></strong>To provide participants with a foundation aviation knowledge and communication as preparation for ATC basic or rating courses.
	                </p>

	                <p><strong><font size="4">Prerequisite: </font></strong></p>
	                <p>•	A demonstrated and tested English Language ability equal to or better than an IELTS level 5.0 or equivalent standard of English language ability in an alternative assessment</p>
	            </div>
	        </div>


	        <div class="col l12">
	            <div class="card-panel z-depth-5">
	                <h4 class="center blue-text lighten-3">AVIATION ENGLISH COMMUNICATION – Level 2</h4>
	                <p>
	                	<strong><font size="4">Course Aim:	</font></strong>To provide participants with a foundation in Aviation English Language as preparation for ATC basic or rating courses
	                </p>

	                <p><strong><font size="4">Prerequisite: </font></strong></p>
	                <p>•	A demonstrated and tested English Language ability equal to or better than an IELTS level 5.0 or equivalent standard of English language ability in an alternative assessment</p>
	            </div>
	        </div>


	        <div class="col l12">
	            <div class="card-panel z-depth-5">
	                <h4 class="center blue-text lighten-3">AVIATION ENGLISH COMMUNICATION – Level 3</h4>
	                <p>
	                	<strong><font size="4">Course Aim:	</font></strong>To provide participants with a foundation in Aviation English Language as preparation for ATC basic or rating courses
	                </p>

	                <p><strong><font size="4">Prerequisite: </font></strong></p>
	                <p>•	A demonstrated and tested English Language ability equal to or better than an IELTS level 5.0 or equivalent standard of English language ability in an alternative assessment</p>
	            </div>
	        </div>


	        <div class="col l12">
	            <div class="card-panel z-depth-5">
	                <h4 class="center blue-text lighten-3">AIR TRAFFIC MANAGEMENT – Continuation Training & Emergency Continuation Training (ECT)</h4>
	                <p>
	                	<strong><font size="4">Course Aim:	</font></strong>To refresh and augment an ATCO’s existing knowledge and operational skills, (particularly the skills not used regularly) associated with the management of abnormal and emergency situations in the ATC’s workplace environment.
	                </p>

	                <p><strong><font size="4">Prerequisites: </font></strong></p>
	                <p>•	A valid ATC rating.</p>
	                <p>•	The student has demonstrated and tested minimum ICAO English Language Proficiency Level 4.</p>
	            </div>
	        </div>


	        <div class="col l12">
	            <div class="card-panel z-depth-5">
	                <h4 class="center blue-text lighten-3">TRAIN THE TRAINER COURSES – On-the-job Training Course</h4>
	                <p>
	                	<strong><font size="4">Course Aim:	</font></strong>Training designed to provide the participant with the necessary fundamental knowledge, skills and attitude to enable the issue of an On-the-Job Training Instructor endorsement to an ATC Licence/Certificate of Competence.
	                </p>

	                <p><strong><font size="4">Prerequisites: </font></strong></p>
	                <p>•	Has held a valid rating in the rating discipline in which he will instruct for a period of at least two years.</p>
	                <p>•	Hold and have held a valid rating on the sectors or operational position on which he will</p>
	                <p>•	The student has demonstrated and tested minimum ICAO English Language Proficiency Level 4.</p>
	            </div>
	        </div>


	        <div class="col l12">
	            <div class="card-panel z-depth-5">
	                <h4 class="center blue-text lighten-3">TRAIN THE TRAINER COURSES – On-the-job Training Refresher Course</h4>
	                <p>
	                	<strong><font size="4">Course Aim:	</font></strong>Training designed to update and reinforce the professional knowledge and OJT techniques skills of experienced OJT instructors through active involvement in classroom and practical events.
	                </p>

	                <p><strong><font size="4">Prerequisites: </font></strong></p>
	                <p>•	That the participant holds/has previously held an OJT endorsement for the discipline in which he will instruct.</p>
	                <p>•	The student has demonstrated and tested minimum ICAO English Language Proficiency Level 4.</p>
	            </div>
	        </div>


	        <div class="col l12">
	            <div class="card-panel z-depth-5">
	                <h4 class="center blue-text lighten-3">TRAIN THE TRAINER COURSES – Basic Instructor Techniques</h4>
	                <p>
	                	<strong><font size="4">Course Aim:	</font></strong>To prepare the course participants to conduct ATC classroom instruction.
	                </p>

	                <p><strong><font size="4">Prerequisites: </font></strong></p>
	                <p>•	Has held an ATC Licence </p>
	                <p>•	Computer skills using contemporary software programs.</p>
	                <p>•	The student has demonstrated and tested minimum ICAO English Language Proficiency Level 4.</p>
	            </div>
	        </div>


	        <div class="col l12">
	            <div class="card-panel z-depth-5">
	                <h4 class="center blue-text lighten-3">TRAIN THE TRAINER COURSES – Basic Instructor Techniques Refresher Course</h4>
	                <p>
	                	<strong><font size="4">Course Aim:	</font></strong>To prepare the course participants to conduct ATC classroom instruction.
	                </p>

	                <p><strong><font size="4">Prerequisites: </font></strong></p>
	                <p>•	Has completed the initial Basic Instructor Techniques Course</p>
	                <p>•	Has conducted ATS Classroom Instruction prior to this course</p>
	                <p>•	Has or has held an ATC Licence </p>
	                <p>•	Computer skills using contemporary software programs.</p>
	                <p>•	The student has demonstrated and tested minimum ICAO English Language Proficiency Level 4.</p>
	            </div>
	        </div>


	        <div class="col l12">
	            <div class="card-panel z-depth-5">
	                <h4 class="center blue-text lighten-3">LEADERSHIP AND SUPERVISORY COURSES – ATS Supervisor</h4>
	                <p>
	                	<strong><font size="4">Course Aim:	</font></strong>To provide the participant with the necessary knowledge and skills required to perform shift supervisors duties.
	                </p>

	                <p><strong><font size="4">Prerequisites: </font></strong></p>
	                <p>•	Aviation English Language Proficiency Level 4 and above.</p>
	                <p>•	A comprehensive knowledge of ATS rules and procedures </p>
	                <p>•	The required operational experience nominated by the regulating civil aviation authority.</p>
	                <p>•	The appropriate Certificate of Competence (s) /Licence, if so required by the regulating civil aviation authority</p>
	            </div>
	        </div>


	        <div class="col l12">
	            <div class="card-panel z-depth-5">
	                <h4 class="center blue-text lighten-3">INTRODUCTION TO SAFETY MANAGEMENT</h4>
	                <p>
	                	<strong><font size="4">Course Aim:	</font></strong>Provides theoretical principles related to the implementation of ICAO SARPs and the fundamental concepts of Safety Management Systems (SMS).
	                </p>

	                <p><strong><font size="4">Prerequisites: </font></strong></p>
	                <p>•	A valid ATC rating.</p>
	                <p>•	The student has demonstrated and tested minimum ICAO English Language Proficiency Level 4.</p>
	            </div>
	        </div>


	        <div class="col l12">
	            <div class="card-panel z-depth-5">
	                <h4 class="center blue-text lighten-3">SAFETY MANAGEMENT IN AVIATION – Threat and Error Management</h4>
	                <p>
	                	<strong><font size="4">Course Aim:	</font></strong>The course will enhance knowledge and improve air traffic management performance of the air traffic services staff through their awareness of “threat and error management” principles and methods, and to improve and maintain the highest overall levels of safety and efficiency in the Air Traffic Management Environment.
	                </p>

	                <p><strong><font size="4">Prerequisites: </font></strong></p>
	                <p>•	Aviation English Language Proficiency Level 4 and above.</p>
	            </div>
	        </div>


	        <div class="col l12">
	            <div class="card-panel z-depth-5">
	                <h4 class="center blue-text lighten-3">HUMAN FACTORS IN AVIATION – Level 1</h4>
	                <p>
	                	<strong><font size="4">Course Aim:	</font></strong>By the end of the training, learners shall characterize factors which affect personal and team performance.
	                </p>

	                <p><strong><font size="4">Prerequisites: </font></strong></p>
	                <p>•	Operational Qualification and Experience in the Aviation Industry</p>
	            </div>
	        </div>


	        <div class="col l12">
	            <div class="card-panel z-depth-5">
	                <h4 class="center blue-text lighten-3">HUMAN FACTORS IN AVIATION – Level 2</h4>
	                <p>
	                	<strong><font size="4">Course Aim:	</font></strong>By the end of the training, learners shall recognize the necessity to constantly extend their knowledge and analyses factors which affect personal and team performance.
	                </p>

	                <p><strong><font size="4">Prerequisites: </font></strong></p>
	                <p>•	Operational Qualification and Experience in the Aviation Industry</p>
	                <p>•	Have attended Human Factors in Aviation – Level 1 Course</p>
	            </div>
	        </div>


	        <div class="col l12">
	            <div class="card-panel z-depth-5">
	                <h4 class="center blue-text lighten-3">HUMAN FACTORS IN AVIATION - Fatigue and Fatigue Management</h4>
	                <p>
	                	<strong><font size="4">Course Aim:	</font></strong>To provide participants with a broad outline of fundamental knowledge Fatigue and Fatigue Management.
	                </p>

	                <p><strong><font size="4">Prerequisites: </font></strong></p>
	                <p>•	Participants should have prior knowledge of Operational Air Traffic Control/ any other relevant aviation discipline;</p>
	                <p>•	Recommended level is Management and Professional;</p>
	                <p>•	The recommended level of language proficiency is ICAO Operational Level 4 (the course is conducted in English)</p>
	            </div>
	        </div>


        </div>

	    </div>
	</section>
</div>

	
{% endblock content %}