{% extends 'base.html' %}
{% load static %}
<title>{% block title %}FANS{% endblock title %}</title>

<!-- Navbar Links -->
{% block navbar-li %}
<li>
        <a href="#home">Home</a>
    </li>
    <li>
        <a href="">Who We Are</a>
    </li>
    <li>
        <a class="dropdown-button" data-activates="my-dropdown" href="#!">Our Courses
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
    <li>
        <a href="#gallery">Photo Gallery</a>
    </li>
    <li>
        <a href="#contact">Contact Us</a>
</li>
{% endblock navbar-li %}

{% block side-navbar-li %}
<li>
        <a href="#home">Home</a>
    </li>
    <li>
        <a href="">Who We Are</a>
    </li>
    <li>
        <div class="divider"></div>
      </li>
    <li>
        <a href="#popular">Our Courses</a>
    </li>
    <li>
        <div class="divider"></div>
      </li>
    <li>
        <a href="#gallery">Photo Gallery</a>
    </li>
    <li>
        <a href="#contact">Contact Us</a>
</li>
{% endblock side-navbar-li %}

<!-- Body Content -->
{% block content %}
<!-- Section: Slider -->
<div class="slider">
        <ul class="slides">
          <li>
              <img src="{% static "pages/img/fans-logo-02.jpg" %}">
          </li>
          <li>
            <img src="{% static "pages/img/img3.jpg" %}">
            <!-- CENTER ALIGN CAPTION -->
            <div class="caption left-align">
              <h3 class="light grey-text text-lighten-3">Fujairah Air Navigation Services</h3>
              <h5 class="light grey-text text-lighten-3">Department of Civil Aviation</h5>
            </div>
          </li>
          <li>
            <img src="{% static "pages/img/img1.jpg" %}">
            <!-- LEFT ALIGN CAPTION -->
            <div class="caption left-align">
              <h3 class="light grey-text text-lighten-3">Fujairah Air Navigation Services</h3>
              <h5 class="light grey-text text-lighten-3">Department of Civil Aviation</h5>
            </div>
          </li>
          <li>
            <img src="{% static "pages/img/img8.jpg" %}">
            <!-- RIGHT ALIGN CAPTION -->
            <div class="caption right-align">
              <h3>Fujairah Air Navigation Services</h3>
              <h5 class="light grey-text text-lighten-3">Department of Civil Aviation</h5>
            </div>
          </li>
        </ul>
</div>

<!-- CARD PANELS & SHADOW -->
<section>
        <div class="container">
            <div class="row">
                    <div class="col s12 m6 l3">
                        <div class="card-panel blue">
                          <span class="white-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam magni aut mollitia quis? Ab voluptate quaerat libero
                            voluptatibus quisquam in dolorum nobis hic. Suscipit dignissimos laboriosam id nesciunt debitis exercitationem.
                          </span>
                        </div>
                      </div>
                
                <div class="col s12 m6 l3">
                  <div class="card-panel blue">
                    <span class="white-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam magni aut mollitia quis? Ab voluptate quaerat libero
                      voluptatibus quisquam in dolorum nobis hic. Suscipit dignissimos laboriosam id nesciunt debitis exercitationem.
                    </span>
                  </div>
                </div>
                <div class="col s12 m6 l3">
                  <div class="card-panel blue">
                    <span class="white-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam magni aut mollitia quis? Ab voluptate quaerat libero
                      voluptatibus quisquam in dolorum nobis hic. Suscipit dignissimos laboriosam id nesciunt debitis exercitationem.
                    </span>
                  </div>
                </div>
                <div class="col s12 m6 l3">
                  <div class="card-panel blue">
                    <span class="white-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam magni aut mollitia quis? Ab voluptate quaerat libero
                      voluptatibus quisquam in dolorum nobis hic. Suscipit dignissimos laboriosam id nesciunt debitis exercitationem.
                    </span>
                  </div>
                </div>
              </div>
        </div>
</section>

<!-- Section: Gallery -->
<section id="gallery" class="section section-gallery scrollspy">
        <div class="container">
            <h4 class="center">
        <span class="blue-text">Photo Gallery</span> 
      </h4>
            <div class="row">
                <div class="col s12 m6 l3">
                    <img class="materialboxed responsive-img" src="{% static "pages/img/img7.jpg" %}"  alt="" width="1600" height="900">
                </div>
                <div class="col s12 m6 l3">
                    <img class="materialboxed responsive-img" src="{% static "pages/img/img8.jpg" %}"  alt="" width="1600" height="900">
                </div>
                <div class="col s12 m6 l3">
                    <img class="materialboxed responsive-img" src="{% static "pages/img/img9.jpg" %}"  alt="" width="1600" height="900">
                </div>
                <div class="col s12 m6 l3">
                    <img class="materialboxed responsive-img" src="{% static "pages/img/img12.jpg" %}"  alt="" width="1600" height="900">
                </div>
            </div>

            <div class="row">
                    <div class="col s12 m6 l3">
                        <img class="materialboxed responsive-img" src="{% static "pages/img/img10.jpg" %}"  alt="" width="1600" height="900">
                    </div>
                    <div class="col s12 m6 l3">
                        <img class="materialboxed responsive-img" src="{% static "pages/img/img9.jpg" %}"  alt="" width="1600" height="900">
                    </div>
                    <div class="col s12 m6 l3">
                        <img class="materialboxed responsive-img" src="{% static "pages/img/img8.jpg" %}"  alt="" width="1600" height="900">
                    </div>
                    <div class="col s12 m6 l3">
                        <img class="materialboxed responsive-img" src="{% static "pages/img/img7.jpg" %}"  alt="" width="1600" height="900">
                    </div>
                </div>

            <div class="row">
                <div class="row">
                    <div class="col s12 m6 l3">
                        <img class="materialboxed responsive-img" src="{% static "pages/img/img7.jpg" %}"  alt="" width="1600" height="900">
                    </div>
                    <div class="col s12 m6 l3">
                        <img class="materialboxed responsive-img" src="{% static "pages/img/img8.jpg" %}"  alt="" width="1600" height="900">
                    </div>
                    <div class="col s12 m6 l3">
                        <img class="materialboxed responsive-img" src="{% static "pages/img/img9.jpg" %}"  alt="" width="1600" height="900">
                    </div>
                    <div class="col s12 m6 l3">
                        <img class="materialboxed responsive-img" src="{% static "pages/img/img12.jpg" %}"  alt="" width="1600" height="900">
                    </div>
                </div>
            </div>
        </div>
</section>

<!-- Section: Contact -->
<section id="contact" class="section section-contact scrollspy">
        <div class="container">
                <div class="col s12 m6">
                    <form method="POST">
                        <div class="card-panel grey lighten-3">
                            <h5>Contact Us For Any Enquiries</h5>
                            <p>Phone: +97100000000</p>
                            <p>Email: email@fans.ae</p>
                            <br>
                            <div class="input-field">
                                <input type="text" placeholder="Optional" id="name">
                                <label for="name">Name</label>
                            </div>
                            <div class="input-field">
                                <input type="email" placeholder="Email" id="email" required>
                                <label for="email">Email*</label>
                            </div>
                            <div class="input-field">
                                <input type="text" placeholder="Optional" id="phone">
                                <label for="phone">Phone</label>
                            </div>
                            <div class="input-field">
                                <textarea class="materialize-textarea" placeholder="Enter Message" id="message" required></textarea>
                                <label for="message">Message*</label>
                            </div>
                            <input type="submit" value="Submit" class="btn blue">
                        </div>
                    </form>
                </div>
        </div>
        </div>
</section>

<!-- Google Maps Location -->
<section>
        <div class="container">
            <!--The div element for the map -->
            <div id="map"></div>
          </div>
          <br>
          <br>
</section>
{% endblock content %}


<!-- Footer Links -->
{% block footerlinks %}
<li>
        <a class="grey-text text-lighten-3" href="">Home</a>
    </li>
    <li>
        <a class="grey-text text-lighten-3" href="">Who We Are</a>
    </li>
    <li>
        <a class="grey-text text-lighten-3" href="">Our Courses</a>
    </li>
    <li>
        <a class="grey-text text-lighten-3" href="#gallery">Photo Gallery</a>
    </li>
    <li>
        <a class="grey-text text-lighten-3" href="#contact">Contact Us</a>
    </li>
    <li>
        <a class="grey-text text-lighten-3" href="">Terms & Conditions</a>
</li>
{% endblock footerlinks %}

{% block dropdown-menu %}
<!-- DROPDOWN MENU -->
<ul id="my-dropdown" class="dropdown-content">
        <li>
          <a class="blue-text" href="#">Course 1</a>
        </li>
        <li>
          <a class="blue-text" href="#">Course 2</a>
        </li>
        <li>
          <a class="blue-text" href="#">Course 3</a>
        </li>
</ul>
{% endblock dropdown-menu %}

{% block script_tag %}
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBdhrXViyFb_0V9mmU3f4zB5Xn9UXZhQs&callback=initMap"> </script>

<script>
    $(document).ready(function() {
        // Init Side nav
        // Init Slider
        $('.slider').slider({
              indicators: true,
              height: 500,
              transition: 700,
              interval: 3000
            });
            
            // Dropdown
            $('.dropdown-button').dropdown({
              constrainWidth: false,
              hover: true,
              belowOrigin: true,
              alignment: 'left'
            });
            // Init Scrollspy
            $('.scrollspy').scrollSpy();
        });
</script>
<script>
    function initMap() {
        // The location of Uluru
        var uluru = {lat: 25.111784, lng: 56.334965};
        // The map, centered at Uluru
        var map = new google.maps.Map(
            document.getElementById('map'), {zoom: 15, center: uluru}
            );
        // The marker, positioned at Uluru
        var marker = new google.maps.Marker({position: uluru, map: map});}
</script>
{% endblock script_tag %}
