{% extends 'fans-index-base.html' %}
{% load static %}
<title>{% block title %}FANS{% endblock title %}</title>

<!-- Body Content -->
{% block content %}
<!-- Section: Slider -->
<div class="slider">
    <ul class="slides">
        <li>
            <a href="#">
                <img class="responsive-img" src="{% static "pages/img/dca-banner.jpg" %}">
            </a>
        </li>
        <li>
            <a href="#">
                <img class="responsive-img" src="{% static "pages/img/fujairah-atc1.jpg" %}">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static "pages/img/img1.jpg" %}">
                <!-- LEFT ALIGN CAPTION -->
                <div class="caption left-align">
                    <h3 class="light grey-text text-lighten-3">Fujairah Air Navigation Services</h3>
                    <h5 class="light grey-text text-lighten-3">Department of Civil Aviation</h5>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static "pages/img/img8.jpg" %}">
                <!-- RIGHT ALIGN CAPTION -->
                <div class="caption right-align">
                    <h3>Fujairah Air Navigation Services</h3>
                    <h5 class="light grey-text text-lighten-3">Department of Civil Aviation</h5>
                </div>
            </a>
        </li>
    </ul>
</div>

<!-- Welcome to FANS Card -->
<section>
    <div class="row">
        <div class="col l12">
            <div class="card-panel blue lighten-2">
                <h5>Welcome To Fujairah Air Navigation Services</h5>
                <span class="white-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque repellendus maxime soluta aut
                    possimus. Impedit illum dicta laborum perferendis voluptatibus mollitia quo et nisi consequuntur
                    eveniet maiores commodi nesciunt est ipsa quibusdam, quis repellat voluptate ullam quisquam placeat
                    reprehenderit veritatis ipsam? Incidunt ab quis quibusdam, architecto magni debitis sapiente cumque
                    pariatur tempore fuga accusantium aliquam assumenda corporis tenetur totam soluta nulla doloremque
                    alias fugiat! Porro modi labore molestiae? Assumenda similique atque perspiciatis, eos ab dolores
                    sed. Rem minus fugiat assumenda. Dolorum quod fugit, repudiandae distinctio fuga obcaecati
                    doloribus incidunt quis ea cum, aliquam dolorem vel! Quasi porro facilis ad necessitatibus omnis
                    natus sit quis, ducimus voluptate accusantium quo quae aperiam. Excepturi commodi eum saepe quasi,
                    reprehenderit aliquid delectus facilis error placeat vero est, molestiae vel! Similique mollitia
                    vitae maiores, totam quidem in odio voluptatibus repudiandae neque eius sit perspiciatis deserunt
                    consectetur ipsum facilis, expedita eos consequatur, beatae laborum ab commodi? Neque illum cum
                    inventore animi necessitatibus, molestiae voluptate iusto laudantium cupiditate quae exercitationem
                    et tempora hic. Magnam aut numquam soluta voluptatum dicta ullam aperiam blanditiis, aliquam illum
                    neque aliquid aspernatur labore ad quam eaque nam libero distinctio. Voluptate, deserunt. Atque
                    voluptatem, perferendis, quod error ullam nemo modi consectetur explicabo qui obcaecati maiores quo
                    minima, veniam repellat accusantium sint? Deleniti perferendis aliquid ut eum enim architecto
                    voluptatibus eos doloremque facilis reiciendis modi, pariatur in, rerum, tempora ab est cum
                    veritatis nesciunt! Repudiandae impedit totam similique, dolor, unde eveniet blanditiis veniam iste
                    nesciunt dolores in? Autem, deserunt repudiandae veritatis labore a beatae accusamus veniam tempora
                    officiis quae minus necessitatibus, quod consectetur consequuntur. Laudantium corrupti quidem
                    cupiditate unde consequuntur facilis similique, excepturi placeat at adipisci modi, ut autem
                    deleniti porro molestias optio nihil labore est sapiente rerum sequi animi accusamus voluptatem
                    totam? Dignissimos recusandae, quibusdam eos tempore unde veritatis id illo repudiandae sit harum
                    eligendi provident aut laboriosam adipisci at impedit optio dicta explicabo mollitia deleniti?
                    Natus non aliquam sequi expedita optio nulla voluptatibus. Veniam, assumenda a iusto odio, ea dolor
                    nulla deserunt dignissimos sint cupiditate, dolore fuga itaque impedit autem sit earum repudiandae
                    esse molestiae? Harum nihil, nulla excepturi perspiciatis vel fugit pariatur eaque accusamus
                    voluptatibus consequatur repellendus? Aliquam asperiores optio in quod veritatis reprehenderit, a
                    harum repellendus impedit? Iure neque temporibus optio doloremque expedita vitae, maxime provident
                    reiciendis quia, est ut animi ipsa ullam eaque qui, quaerat totam inventore. Ducimus, impedit
                    eligendi. Provident vel cum, ipsa ex quas beatae perspiciatis earum.
                </span>
            </div>
        </div>
    </div>
</section>

<!-- Cards -->
<div class="row">
    <div class="col s12 m4">
        <!-- CARD REVEAL -->
        <div class="card">
            <div class="card-image waves-effect waves-light waves-block">
                <img class="activator" src="{% static "pages/img/img1.jpg" %}">
            </div>
            <div class="card-content">
                <span class="card-title activator">Service 1
                    <i class="material-icons">more_vert</i>
                </span>
            </div>
            <!-- inside of reveal -->
            <div class="card-reveal">
                <span class="card-title">Service 1 Title
                    <i class="material-icons">close</i>
                </span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut ad repudiandae sequi at quis assumenda
                    iusto dolor
                    in, maxime earum debitis ea vero aspernatur ipsum, totam iste molestias natus! Ullam?</p>
                <p><a class="activator" href="/training_center">Read More</a></p>
            </div>
        </div>
    </div>

    <div class="col s12 m4">
        <!-- CARD REVEAL -->
        <div class="card">
            <div class="card-image waves-effect waves-light waves-block">
                <img class="activator" src="{% static "pages/img/img8.jpg" %}">
            </div>
            <div class="card-content">
                <span class="card-title activator">Service 2
                    <i class="material-icons">more_vert</i>
                </span>
            </div>
            <!-- inside of reveal -->
            <div class="card-reveal">
                <span class="card-title">Service 2 Title
                    <i class="material-icons">close</i>
                </span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut ad repudiandae sequi at quis assumenda
                    iusto dolor
                    in, maxime earum debitis ea vero aspernatur ipsum, totam iste molestias natus! Ullam?</p>
                <p><a href="/services_ats" class="activator">Read More</a></p>
            </div>
        </div>
    </div>

    <div class="col s12 m4">
        <!-- CARD REVEAL -->
        <div class="card">
            <div class="card-image waves-effect waves-light waves-block">
                <img class="activator" src="{% static "pages/img/img9.jpg" %}">
            </div>
            <div class="card-content">
                <span class="card-title activator">Service 3
                    <i class="material-icons">more_vert</i>
                </span>
            </div>
            <!-- inside of reveal -->
            <div class="card-reveal">
                <span class="card-title">Service 3 Title
                    <i class="material-icons">close</i>
                </span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut ad repudiandae sequi at quis assumenda
                    iusto dolor
                    in, maxime earum debitis ea vero aspernatur ipsum, totam iste molestias natus! Ullam?</p>
                <p><a href="/services_engineering" class="activator">Read More</a></p>
            </div>
        </div>
    </div>
</div>


<!-- Section: Sponsors -->
<section class="section section-language">
    <div class="row">
        <br>
        <br>
        <div class="row">
            <div class="col s3">
                <img src="{% static "pages/img/fuj-gov-02.png" %}" class="responsive-img" alt="">
            </div>
            <div class="col s3">
                <img src="{% static "pages/img/fng-logo.png" %}" class="responsive-img" alt="">
            </div>
            <div class="col s3">
                <img src="{% static "pages/img/fia-logo.png" %}" class="responsive-img" alt="">
            </div>
            <div class="col s3">
                <img src="{% static "pages/img/faa-logo.gif" %}" class="responsive-img right" alt="">
            </div>
        </div>
    </div>
</section>


<!-- Section: Contact 2 -->
<section id="contact" class="section-contact scrollspy">
    <div class="row">
        <div class="col s12 m4">
            <div class="card-panel grey lighten-3" id="address_card">
                <h5 class="section-title center">Contact Information</h5>
                <p></p><strong><a class="black-text" href="tel:+97192055795"><i style="display: inline-flex; vertical-align: middle; padding-right: 3%;"
                            class="material-icons small black-text">phone</i>+97192055795</a></strong></p>
                <p></p><strong><a class="black-text" href="mailto:info@fans.ae"><i style="display: inline-flex; vertical-align: middle; padding-right: 3%;"
                            class="material-icons small black-text">email</i> info@fans.ae</a></strong></p>
                <p><strong><i style="display: inline-flex; vertical-align: middle; padding-right: 3%;" class="material-icons small black-text">location_on</i>Fujairah
                        - United Arab Emirates</strong></p>


                <form>
                    <div class="row">
                        <div class="col s12">
                            <h5 class="section-title center">Contact Us</h5>
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix blue-text text-darken-4">account_circle</i>
                            <input id="name" type="text" required>
                            <label class="black-text" for="name">Name</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix blue-text text-darken-4">mail</i>
                            <input id="email" type="email" required>
                            <label class="black-text" for="email">Email</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="material-icons prefix blue-text text-darken-4">comment</i>
                            <textarea id="message" class="materialize-textarea" style="height: 45px;" required></textarea>
                            <label class="black-text" for="message">Message</label>
                            <button class="btn blue waves-effect waves-light btn-large right" type="submit" name="action">Submit
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Contact us form -->
        <div class="col s12 m8" class="card-panel grey lighten-3">
            <!--The div element for the map -->
            <div id="map"></div>
        </div>
    </div>
</section>

{% endblock content %}


{% block script_tag %}
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBdhrXViyFb_0V9mmU3f4zB5Xn9UXZhQs&callback=initMap"> </script>

<script>
    $(document).ready(function () {
        // Init Slider
        $('.slider').slider({
            indicators: true,
            height: 500,
            transition: 700,
            interval: 3000
        });

        // Init Scrollspy
        $('.scrollspy').scrollSpy();

        // Makes address card height the same as contact us card
        $('#map').outerHeight($('#address_card').outerHeight());
    });
</script>
<script>
    function initMap() {
        // The location of Uluru
        var uluru = { lat: 25.111784, lng: 56.334965 };
        // The map, centered at Uluru
        var map = new google.maps.Map(
            document.getElementById('map'), { zoom: 14, center: uluru }
        );
        // The marker, positioned at Uluru
        var marker = new google.maps.Marker({ position: uluru, map: map });
    }
</script>
{% endblock script_tag %}