{% extends 'fans-index-base.html' %}
{% load static %}
<title>{% block title %}Training Center{% endblock title %}</title>

<!-- Body Content -->
{% block content %}
    <div class="card-panel z-depth-5">
    	<h4 class="center blue-text lighten-3">Training Center</h4>
	 	<p>Our training center is specialized in delivering career–focused, innovative and comprehensive portfolio of training courses in Air Traffic Management.</p>
		<p>We offer a wide range of operational, management and leadership courses that are benchmarked against international standards and best practices to meet the training needs of the global aviation community.</p>
		<p>We focus in optimizing application and service characteristics, with emphases on; quality, performance and availability. As well as contributing and promoting aviation industry and safety.</p>
		<p>We also exploit training, management automation platform for processes, consulting, support, leadership as well as advocacy to optimize these attributes. FANS ATCTO will aim to always be customer centric and provide unique solutions to our prospective customers.</p>
		<p>By providing complete training solution for students, through the availability of various aviation training courses, modern training facilities, utilizing state of the art technologies, and professional instructors in a dynamic training-oriented environment.  </p>
    </div>
	<br>
	<br>
	<div class="center"><a href="/courses" class="blue waves-effect waves-light btn-large">Courses we offer</a></div>
	<br>
	<br>
	<br>	
{% endblock content %}