{% load static %}
<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Link Favicon -->
    <link rel="shortcut icon" href="{% static "pages/img/fans-logo.png" %}" />
    <!--Import materialize.css-->
    <link rel="stylesheet" type="text/css" href="{% static "pages/css/materialize.min.css" %}"  media="screen,projection" />
    <link rel="stylesheet" type="text/css" href="{% static "pages/css/main.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "pages/css/fans_index_style.css" %}">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Additional Linktags -->
    {% block linktag %} {% endblock linktag %}
    <!-- Title block -->
    <title>{% block title %}{% endblock title %}</title>
</head>

<body>
        <header>
                <div class="navbar-fixed">
                    <nav class="blue">
                        <div class="nav-wrapper">
                                <a href="#home" class="brand-logo center">
                                    <img src="{% static "pages/img/fans-logo.png" %}"  width="140" height="70">
                                </a>
                            <a href="/" data-activates="mobile-demo" class="button-collapse show-on-large">
                                <i class="material-icons">menu</i>
                            </a>
                            <ul class="right hide-on-med-and-down">
                            {% if user.is_authenticated %}
                            {% if job_title == "CNS Chief Engineer" or job_title == "CNS Supervisor" or job_title == "CNS Manager" or job_title == "ATC Manager" %}
                                <li>
                                    <a href="/mso/approve">Approve</a>
                                </li>
                                <li>
                                    <a href="/mso/new">New MSO</a>
                                </li>
                                <li>
                                    <a href="/mso/all">All MSO's</a>
                                </li>
                                <li>
                                    <a href="/mso/my">My MSO's</a>
                                </li>
                                <li>
                                    <a href="/logbook/all">Logbook</a>
                                </li>
                                <li>
                                    <a href="/logbook/new">Log New Data</a>
                                </li>
                                <li>
                                    <a href="/accounts/logout">Logout</a>
                                </li>
                            
                            {% elif job_title == "CNS Helper" or job_title == "CNS Technician" or job_title == "CNS Engineer" %}
                                <li>
                                    <a href="/mso/new">New MSO</a>
                                </li>
                                <li>
                                    <a href="/mso/all">All MSO's</a>
                                </li>
                                <li>
                                    <a href="/mso/my">My MSO's</a>
                                </li>
                                <li>
                                    <a href="/logbook/all">Logbook</a>
                                </li>
                                <li>
                                    <a href="/logbook/new">Log New Data</a>
                                </li>
                                <li>
                                    <a href="/accounts/logout">Logout</a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="/accounts/logout">Logout</a>
                            </li>
                            {% endif %}
                        </ul>
                        </div>
                    </nav>
                </div>
                <!-- Move the sidenav outside of .navbar-fixed -->
                <ul class="side-nav" id="mobile-demo">
                        <ul id="slide-out" class="sidenav">
                    {% if user.is_authenticated %}
                    
                        <li>
                            <div class="user-view">
                                <div class="background">
                                        <img src="{% static "pages/img/ocean.jpg" %}" alt="">
                                </div>
                                <a href="#user">                                                             
                                    {% if current_user_gender == 'male' %}
                                        <img class="circle" src="{% static "pages/img/male_profile_default.png" %}" alt="male_profile_default">
                                    {% else %}
                                        <img class="circle" src="{% static "pages/img/female_profile_default.png" alt="female_profile_default" %}">
                                    {% endif %}
                                </a>
                                <a href="#name">
                                        <span class="white-text name">{{ current_user_name }}</span>
                                    </a>
                                    <a href="#email">
                                        <span class="white-text email">{{ current_user_email }}</span>
                                    </a>
                            </div>
                        </li>
                                
                        {% if job_title == "CNS Chief Engineer" or job_title == "CNS Supervisor" or job_title == "CNS Manager" or job_title == "ATC Manager" %}
                                <li>
                                    <a href="/mso/approve">Approve</a>
                                </li>
                                <li>
                                    <a href="/mso/new">New MSO</a>
                                </li>
                                <li>
                                    <a href="/mso/all">All MSO's</a>
                                </li>
                                <li>
                                    <a href="/mso/my">My MSO's</a>
                                </li>
                                <li>
                                    <a href="/logbook/all">Logbook</a>
                                </li>
                                <li>
                                    <a href="/logbook/new">Log New Data</a>
                                </li>
                                <li>
                                    <a href="/accounts/logout">Logout</a>
                                </li>
                            
                            {% elif job_title == "CNS Helper" or job_title == "CNS Technician" or job_title == "CNS Engineer" %}
                            <li>
                                    <a href="/mso/new">New MSO</a>
                                </li>
                                <li>
                                    <a href="/mso/all">All MSO's</a>
                                </li>
                                <li>
                                    <a href="/mso/my">My MSO's</a>
                                </li>
                                <li>
                                    <a href="/logbook/all">Logbook</a>
                                </li>
                                <li>
                                    <a href="/logbook/new">Log New Data</a>
                                </li>
                                <li>
                                    <a href="/accounts/logout">Logout</a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="/accounts/logout">Logout</a>
                                <a href="/training_center/trainee/approve">Approve Applications</a>
                                <a href="/training_center/trainee/all">All Trainees</a>
                                <a href="/training_center/trainee/new">New Trainee</a>
                                <a href="/training_center/trainer">Trainer</a>
                                <a href="/training_center/head_of_training">H.Training</a>
                                <a href="/training_center/create_class">Add New Class</a>
                                <a href="/training_center/all_classes">All Classes</a>
                                <a href="/training_center/subjects/new">New Subject</a>
                                <a href="/training_center/subjects/all">All Subjects</a>
                                <a href="/training_center/courses/new/">New Course</a>
                                <a href="/training_center/courses/all/">All Courses</a>
                            </li>
                                {% endif %}
                        <li>
                            <div class="divider"></div>
                        </li>
                        <li>
                            <p></p>
                        </li>
                    </ul>
                </ul>
        
            </header>

    {% block content %}
    {% endblock content %}



    <!-- Navbar Dropdown Menu-->
    {% block dropdown-menu %}
    {% endblock dropdown-menu %}

    <!--Import jQuery before materialize.js-->
    <script src="{% static "pages/js/jquery-3.2.1.min.js" %}" type="text/javascript"></script>
    <script src="{% static "pages/js/fontawesome-all.js" %}" type="text/javascript"></script>
    <script src="{% static "pages/js/materialize.min.js" %}" type="text/javascript"></script>
    <script>
        $(document).ready(function() {
            // Init Side nav
            $('.button-collapse').sideNav();
          });
    </script>
    <script>
        // Employee Login Shortcut
        document.onkeyup = function(e) {
            if (e.ctrlKey && e.altKey && e.shiftKey && e.which == 69) {
                window.open("/accounts/login/","_self")
            }
        };
    </script>
    {% block script_tag %}
    {% endblock script_tag %}
</body>
</html>
