{% extends 'cns_base.html' %}
{% load static %}
{% block title %} All MSO's {% endblock title %}

{% block linktag %}
<link rel="stylesheet" type="text/css" href="{% static "pages/css/mso.css" %}"> {% endblock linktag %}

{% block content %}
<div class="container">
    <!-- Section: Search -->
    <br>
    <section id="search" class="section section-search blue-text center">
        <div class="container">
            <div class="row">
                <div class="col s12">
                <h3 class="black-text">CNS Monthly Check Forms</h3>
                <div class="input-field">
                    <input class="white blue-text autocomplete" placeholder="Seach Monthly Check Form Here" type="text" id="autocomplete-input">
                </div>
                </div>
            </div>
        </div>
    </section>

    <!-- List of Monthly Check Forms -->
    <div class="collection">
        <a href="aftn_and_cadas/" class="collection-item blue-text">AFTN & CADAS</a>
        <a href="atis/" class="collection-item blue-text">ATIS</a>
        <a href="ats_radar_display_system/" class="collection-item blue-text">ATS/RADAR DISPLAY SYSTEM</a>
        <a href="aws_rwy_11_29_ceilometer_29/" class="collection-item blue-text">AWS RWY 11/29/ CEILOMETER 29</a>
        <a href="dgvox_recording_system/" class="collection-item blue-text">DGVOX RECORDING SYSTEM</a>
        <a href="dvor/" class="collection-item blue-text">DVOR</a>
        <a href="equipment_room_servers_pm/" class="collection-item blue-text">EQUIPMENT ROOM SERVERS PM</a>
        <a href="glidepath/" class="collection-item blue-text">GLIDEPATH</a>
        <a href="hp_dme/" class="collection-item blue-text">HP DME</a>
        <a href="jotron_tx_rx_vhf/" class="collection-item blue-text">JOTRON TX/RX VHF</a>
        <a href="localizer/" class="collection-item blue-text">LOCALIZER</a>
        <a href="lp_dme/" class="collection-item blue-text">LP DME</a>
        <a href="rdd/" class="collection-item blue-text">RDD</a>
        <a href="remote_monitors_workshop/" class="collection-item blue-text">REMOTE MONITORS (WORKSHOP)</a>
        <a href="schmid_report/" class="collection-item blue-text">SCHMID REPORT</a>
        <a href="uhf_base_radio_vhf/" class="collection-item blue-text">UHF BASE RADIO / VHF (QUARTERLY)</a>
        <a href="vhf_ground_to_air_radios/" class="collection-item blue-text">VHF GROUND TO AIR RADIOS</a>
    </div>
</div>
{% endblock content %}

<!-- JS -->
{% block script_tag %}
<script src="{% static "pages/js/mso.js" %}" type="text/javascript"></script>
{% if msg %}
    <script>
        Materialize.toast('{{ msg }}', 8000, 'rounded');
    </script>
{% endif %}
<script>
    $(document).ready(function () {
        // Autocomplete
        $('.autocomplete').autocomplete({
            data: {
                "AFTN & CADAS": null,
                "ATIS": null,
                "ATS/ RADAR DISPLAY SYSTEM": null,
                "AWS RWY 11/29/ CEILOMETER 29": null,
                "DGVOX RECORDING SYSTEM": null,
                "DVOR": null,
                "EQUIPMENT ROOM SERVERS PM (SEMIANNUAL)": null,
                "GLIDEPATH": null,
                "HP DME": null,
                "JOTRON TX/RX VHF": null,
                "LOCALIZER": null,
                "LP DME": null,
                "RDD": null,
                "REMOTE MONITORS (WORKSHOP)": null,
                "SCHMID REPORT": null,
                "UHF BASE RADIO / VHF (QUARTERLY)": null,
            }
          });
        });

        
    </script>

    
{% endblock script_tag %}