{% extends 'base.html' %} {% block title %} New MSO {% endblock title %} {% block content %}
<div class="container">
    <div class="card-panel grey lighten-4 grey-text text-darken-4 z-depth-0">
        <form method="POST" action="">
            {% csrf_token %}
            <div id="mso_row" class="row">
                <div class="col m6 s12">
                    <!-- REQUESTED BY -->
                    <div class="input-field">
                        <i class="material-icons prefix">assignment_ind</i>
                        <input id="requested_by" type="text" name="requested_by" required>
                        <label for="requested_by">Requested By</label>
                    </div>
                </div>

                <div class="col m6 s12">
                    <!-- SECTION -->
                    <div class="input-field">
                        <i class="material-icons prefix">dehaze</i>
                        <select id="section" name="section">
                            <option value="" disabled selected>Section</option>
                            <option value="AGL">AGL</option>
                            <option value="CNS">CNS</option>
                            <option value="SECURITY">Security</option>
                        </select>
                        <label for="section">Section</label>
                    </div>
                </div>
            </div>

            <div id="mso_row" class="row">
                <div class="col m6 s12">
                    <!-- DEPARTMENT HEAD -->
                    <div class="input-field">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="department_head" type="text" name="department_head"  required>
                        <label for="department_head">Department Head</label>
                    </div>
                </div>

                <div class="col m6 s12">
                    <!-- LOCATION -->
                    <div class="input-field">
                        <i class="material-icons prefix">add_location</i>
                        <input id="location" type="text" name="location"  required>
                        <label for="location">Location</label>
                    </div>
                </div>
            </div>


            <div id="mso_row" class="row">
                <div class="col m6 s12">
                    <!-- DESCRIPTION OF SERVICE  -->
                    <div class="input-field">
                        <i class="material-icons prefix">assignment</i>
                        <textarea id="description_of_service" class="materialize-textarea" name="description_of_service"  required></textarea>
                        <label for="description_of_service">Description of Service</label>
                    </div>
                </div>

                <div class="col m6 s12">
                    <!-- ACTUAL WORK DESCRIPTION -->
                    <div class="input-field">
                        <i class="material-icons prefix">assignment_turned_in</i>
                        <textarea id="actual_work_description" class="materialize-textarea" name="actual_work_description"  required></textarea> </textarea>
                        <label for="actual_work_description">Actual Work Description</label>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col m6 s12">
                    <!-- DATE STARTED -->
                    <div class="input-field">
                        <i class="material-icons prefix">date_range</i>
                        <input type="text" class="datepicker" id="date_started" name="date_started">
                        <label for="date_started">Date Started</label>
                    </div>
                </div>
                <div class="col m6 s12">
                    <!-- DATE COMPLETED -->
                    <div class="input-field">
                        <i class="material-icons prefix">date_range</i>
                        <input type="text" class="datepicker" id="date_completed" name="date_completed">
                        <label for="date_completed">Date Completed</label>
                    </div>
                </div>
            </div>


            <!-- WORK COMPLETED BY -->
            <div class="input-field">
                <select name="work_completed_by" multiple>
                    <option value="" disabled selected>Work Completed By</option>
                    {% for technician in technicians %}
                    <option value="{{ technician }}">{{ technician }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="row">
                <div class="col s12">
                    <div>
                        <input type="submit" value="Submit" class="btn left">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- ./ CONTAINER END -->

<!-- MOVES CONTENT UP -->
<div style=" margin-top: 500px; "></div>

{% endblock content %}